//! **************************************************************************
// Written by: Map I.31 on Thu Dec 28 18:49:12 2006
//! **************************************************************************

SCHEMATIC START;
COMP "ETH_PHY_nRESET" LOCATE = SITE "J4" LEVEL 1;
COMP "ETH_PHY_TXEN" LOCATE = SITE "M2" LEVEL 1;
COMP "ETH_PHY_DCLK" LOCATE = SITE "N4" LEVEL 1;
COMP "ETH_PHY_DIO" LOCATE = SITE "L1" LEVEL 1;
COMP "ETH_PHY_RXCLK" LOCATE = SITE "K2" LEVEL 1;
COMP "ETH_PHY_CRS" LOCATE = SITE "L5" LEVEL 1;
COMP "ETH_PHY_RXD0" LOCATE = SITE "H2" LEVEL 1;
COMP "ETH_PHY_RXD1" LOCATE = SITE "H3" LEVEL 1;
COMP "ETH_PHY_RXD2" LOCATE = SITE "K3" LEVEL 1;
COMP "ETH_PHY_RXD3" LOCATE = SITE "K4" LEVEL 1;
COMP "ETH_PHY_INT" LOCATE = SITE "H4" LEVEL 1;
COMP "ETH_PHY_CD" LOCATE = SITE "J2" LEVEL 1;
COMP "ETH_PHY_RXERR" LOCATE = SITE "J1" LEVEL 1;
COMP "ETH_PHY_TXD0" LOCATE = SITE "M3" LEVEL 1;
COMP "ETH_PHY_TXD1" LOCATE = SITE "L3" LEVEL 1;
COMP "ETH_PHY_TXD2" LOCATE = SITE "L4" LEVEL 1;
COMP "nRESET" LOCATE = SITE "AH19" LEVEL 1;
COMP "ETH_PHY_TXD3" LOCATE = SITE "K1" LEVEL 1;
COMP "ETH_PHY_TXCLK" LOCATE = SITE "N5" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P20" LEVEL 1;
COMP "ETH_PHY_DV" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;
