//GLOBAL SIGNALS
//NET "F_CLK0" LOC = B15;
//NET "F_CLK1" LOC = A12;
//NET "nSYSRST" LOC = AE12;

//USER TEST
//NET "SEGMENT_COM<0>" LOC = AC14;
//NET "SEGMENT_COM<1>" LOC = AD14;
//NET "SEGMENT_COM<2>" LOC = AA12;
//NET "SEGMENT_COM<3>" LOC = AA11;
//NET "SEGMENT_D<0>" LOC = AA14;
//NET "SEGMENT_D<1>" LOC = AB14;
//NET "SEGMENT_D<2>" LOC = AC12;
//NET "SEGMENT_D<3>" LOC = AC11;
//NET "SEGMENT_D<4>" LOC = AA16;
//NET "SEGMENT_D<5>" LOC = AA15;
//NET "SEGMENT_D<6>" LOC = AB13;
//NET "SEGMENT_D<7>" LOC = AA13;
//NET "F_DIP_SW<0>" LOC = AE14;
//NET "F_DIP_SW<1>" LOC = AE13;
//NET "F_DIP_SW<2>" LOC = AE10;
//NET "F_DIP_SW<3>" LOC = AD10;
//NET "F_LED<0>" LOC = AD17;
//NET "F_LED<1>" LOC = AD16;
//NET "F_LED<2>" LOC = AD12;
//NET "F_LED<3>" LOC = AD11;

NET "Clk" LOC = B15; 
NET "nRst" LOC = AE12; 
NET "led<0>" LOC = AD17;
NET "led<1>" LOC = AD16;
NET "led<2>" LOC = AD12;
NET "led<3>" LOC = AD11;

NET "SevenSegCtrl<0>" LOC = AA14;  #NET "SEGMENT_D<0>" LOC = AA14;
NET "SevenSegCtrl<1>" LOC = AB14;  #NET "SEGMENT_D<1>" LOC = AB14;
NET "SevenSegCtrl<2>" LOC = AC12;  #NET "SEGMENT_D<2>" LOC = AC12;
NET "SevenSegCtrl<3>" LOC = AC11;  #NET "SEGMENT_D<3>" LOC = AC11;
NET "SevenSegCtrl<4>" LOC = AA16;  #NET "SEGMENT_D<4>" LOC = AA16;
NET "SevenSegCtrl<5>" LOC = AA15;  #NET "SEGMENT_D<5>" LOC = AA15;
NET "SevenSegCtrl<6>" LOC = AB13;  #NET "SEGMENT_D<6>" LOC = AB13;
NET "SevenSegCtrl<7>" LOC = AA13;  #NET "SEGMENT_D<7>" LOC = AA13;

NET "SevenSegComm<0>" LOC = AC14;  #NET "SEGMENT_COM<0>" LOC = AC14;
NET "SevenSegComm<1>" LOC = AD14;  #NET "SEGMENT_COM<1>" LOC = AD14;
NET "SevenSegComm<2>" LOC = AA12;  #NET "SEGMENT_COM<2>" LOC = AA12;
NET "SevenSegComm<3>" LOC = AA11;  #NET "SEGMENT_COM<3>" LOC = AA11;

//PLATFORM BOARD INTERFACE
NET "adin<0>" LOC = AC8;    //NET "EXP_IO<0>" LOC = AC8;
NET "adin<1>" LOC = AD8;    //NET "EXP_IO<1>" LOC = AD8;
NET "adin<2>" LOC = AE9;    //NET "EXP_IO<2>" LOC = AE9;
NET "adin<3>" LOC = AF9;    //NET "EXP_IO<3>" LOC = AF9;
NET "adin<4>" LOC = AD6;    //NET "EXP_IO<4>" LOC = AD6;
NET "adin<5>" LOC = AE6;    //NET "EXP_IO<5>" LOC = AE6;
NET "adin<6>" LOC = AB9;    //NET "EXP_IO<6>" LOC = AB9;
NET "adin<7>" LOC = AC9;    //NET "EXP_IO<7>" LOC = AC9;
NET "adin<8>" LOC = AB7;    //NET "EXP_IO<8>" LOC = AB7;
NET "adin<9>" LOC = AC7;    //NET "EXP_IO<9>" LOC = AC7;
NET "adin<10>" LOC = AA10;    //NET "EXP_IO<10>" LOC = AA10;
NET "adin<11>" LOC = Y10;    //NET "EXP_IO<11>" LOC = Y10;
NET "adin<12>" LOC = Y8;    //NET "EXP_IO<12>" LOC = Y8;
NET "adin<13>" LOC = AA8;    //NET "EXP_IO<13>" LOC = AA8;
NET "adin<14>" LOC = AF7;    //NET "EXP_IO<14>" LOC = AF7;
NET "adin<15>" LOC = AF8;    //NET "EXP_IO<15>" LOC = AF8;
NET "adin<16>" LOC = AB6;    //NET "EXP_IO<16>" LOC = AB6;
NET "adin<17>" LOC = AC6;    //NET "EXP_IO<17>" LOC = AC6;
NET "adin<18>" LOC = AD7;    //NET "EXP_IO<18>" LOC = AD7;
NET "adin<19>" LOC = AE7;    //NET "EXP_IO<19>" LOC = AE7;
NET "adin<20>" LOC = AD4;    //NET "EXP_IO<20>" LOC = AD4;
NET "adin<21>" LOC = AD5;    //NET "EXP_IO<21>" LOC = AD5;
NET "adin<22>" LOC = Y9;    //NET "EXP_IO<22>" LOC = Y9;
NET "adin<23>" LOC = AA9;    //NET "EXP_IO<23>" LOC = AA9;
NET "adin<24>" LOC = Y7;    //NET "EXP_IO<24>" LOC = Y7;
NET "adin<25>" LOC = AA7;    //NET "EXP_IO<25>" LOC = AA7;
NET "adin<26>" LOC = AF5;    //NET "EXP_IO<26>" LOC = AF5;
NET "adin<27>" LOC = AF6;    //NET "EXP_IO<27>" LOC = AF6;
NET "adin<28>" LOC = AC3;    //NET "EXP_IO<28>" LOC = AC3;
NET "adin<29>" LOC = AD3;    //NET "EXP_IO<29>" LOC = AD3;
NET "adin<30>" LOC = AE4;    //NET "EXP_IO<30>" LOC = AE4;
NET "adin<31>" LOC = AF4;    //NET "EXP_IO<31>" LOC = AF4;
NET "adout<0>" LOC = AD1;    //NET "EXP_IO<32>" LOC = AD1;
NET "adout<1>" LOC = AD2;    //NET "EXP_IO<33>" LOC = AD2;
NET "adout<2>" LOC = AE3;    //NET "EXP_IO<34>" LOC = AE3;
NET "adout<3>" LOC = AF3;    //NET "EXP_IO<35>" LOC = AF3;
NET "adout<4>" LOC = AC1;    //NET "EXP_IO<36>" LOC = AC1;
NET "adout<5>" LOC = AC2;    //NET "EXP_IO<37>" LOC = AC2;
NET "adout<6>" LOC = AB5;    //NET "EXP_IO<38>" LOC = AB5;
NET "adout<7>" LOC = AC5;    //NET "EXP_IO<39>" LOC = AC5;
NET "adout<8>" LOC = AB2;    //NET "EXP_IO<40>" LOC = AB2;
NET "adout<9>" LOC = AB3;    //NET "EXP_IO<41>" LOC = AB3;
NET "adout<10>" LOC = AB4;    //NET "EXP_IO<42>" LOC = AB4;
NET "adout<11>" LOC = AC4;    //NET "EXP_IO<43>" LOC = AC4;
NET "adout<12>" LOC = AA1;    //NET "EXP_IO<44>" LOC = AA1;
NET "adout<13>" LOC = AB1;    //NET "EXP_IO<45>" LOC = AB1;
NET "adout<14>" LOC = Y5;    //NET "EXP_IO<46>" LOC = Y5;
NET "adout<15>" LOC = Y6;    //NET "EXP_IO<47>" LOC = Y6;
NET "adout<16>" LOC = Y3;    //NET "EXP_IO<48>" LOC = Y3;
NET "adout<17>" LOC = Y4;    //NET "EXP_IO<49>" LOC = Y4;
NET "adout<18>" LOC = AA3;    //NET "EXP_IO<50>" LOC = AA3;
NET "adout<19>" LOC = AA4;    //NET "EXP_IO<51>" LOC = AA4;
NET "adout<20>" LOC = Y1;    //NET "EXP_IO<52>" LOC = Y1;
NET "adout<21>" LOC = Y2;    //NET "EXP_IO<53>" LOC = Y2;
NET "adout<22>" LOC = W5;    //NET "EXP_IO<54>" LOC = W5;
NET "adout<23>" LOC = W6;    //NET "EXP_IO<55>" LOC = W6;
NET "adout<24>" LOC = W3;    //NET "EXP_IO<56>" LOC = W3;
NET "adout<25>" LOC = W4;    //NET "EXP_IO<57>" LOC = W4;
NET "adout<26>" LOC = V7;    //NET "EXP_IO<58>" LOC = V7;
NET "adout<27>" LOC = W7;    //NET "EXP_IO<59>" LOC = W7;
NET "adout<28>" LOC = V5;    //NET "EXP_IO<60>" LOC = V5;
NET "adout<29>" LOC = V6;    //NET "EXP_IO<61>" LOC = V6;
NET "adout<30>" LOC = W1;    //NET "EXP_IO<62>" LOC = W1;
NET "adout<31>" LOC = W2;    //NET "EXP_IO<63>" LOC = W2;

NET "arb_gnt_b<1>" LOC = U5;    //NET "EXP_IO<64>" LOC = U5;
NET "arb_gnt_b<2>" LOC = U6;    //NET "EXP_IO<65>" LOC = U6;
NET "arb_gnt_b<3>" LOC = U7;    //NET "EXP_IO<66>" LOC = U7;
NET "arb_gnt_b<4>" LOC = T8;    //NET "EXP_IO<67>" LOC = T8;
NET "arb_req_b<1>" LOC = V1;    //NET "EXP_IO<68>" LOC = V1;
NET "arb_req_b<2>" LOC = V2;    //NET "EXP_IO<69>" LOC = V2;
NET "arb_req_b<3>" LOC = U4;    //NET "EXP_IO<70>" LOC = U4;
NET "arb_req_b<4>" LOC = V4;    //NET "EXP_IO<71>" LOC = V4;

NET "cbein_b<0>" LOC = U2;    //NET "EXP_IO<72>" LOC = U2;
NET "cbein_b<1>" LOC = U3;    //NET "EXP_IO<73>" LOC = U3;
NET "cbein_b<2>" LOC = T6;    //NET "EXP_IO<74>" LOC = T6;
NET "cbein_b<3>" LOC = T7;    //NET "EXP_IO<75>" LOC = T7;
NET "cbeout_b<0>" LOC = T3;    //NET "EXP_IO<76>" LOC = T3;
NET "cbeout_b<1>" LOC = T4;    //NET "EXP_IO<77>" LOC = T4;
NET "cbeout_b<2>" LOC = R7;    //NET "EXP_IO<78>" LOC = R7;
NET "cbeout_b<3>" LOC = R8;    //NET "EXP_IO<79>" LOC = R8;

//NET "EXP_IO<80>" LOC = T1;    // ROM Interface
//NET "EXP_IO<81>" LOC = U1;    // ROM Interface
//NET "EXP_IO<82>" LOC = R5;    // ROM Interface
//NET "EXP_IO<83>" LOC = R6;    // ROM Interface
//NET "EXP_IO<84>" LOC = R1;    // ROM Interface
//NET "EXP_IO<85>" LOC = R2;    // ROM Interface
//NET "EXP_IO<86>" LOC = P6;    // ROM Interface
//NET "EXP_IO<87>" LOC = P7;    // ROM Interface
//NET "EXP_IO<88>" LOC = R3;    // ROM Interface
//NET "EXP_IO<89>" LOC = R4;    // ROM Interface
//NET "EXP_IO<90>" LOC = N8;    // ROM Interface
//NET "EXP_IO<91>" LOC = P8;    // ROM Interface
//NET "EXP_IO<92>" LOC = P4;    // ROM Interface
//NET "EXP_IO<93>" LOC = P5;    // ROM Interface
//NET "EXP_IO<94>" LOC = M7;    // ROM Interface
//NET "EXP_IO<95>" LOC = N7;    // ROM Interface
//NET "EXP_IO<96>" LOC = P2;    // ROM Interface
//NET "EXP_IO<97>" LOC = P3;    // ROM Interface


NET "devselin_b" LOC = N4;            //NET "EXP_IO<98>" LOC = N4;           
NET "devselout_b" LOC = N5;           //NET "EXP_IO<99>" LOC = N5;
NET "framein_b" LOC = N2;             //NET "EXP_IO<100>" LOC = N2;
NET "frameout_b" LOC = N3;            //NET "EXP_IO<101>" LOC = N3;
NET "idsel" LOC = M5;                 //NET "EXP_IO<102>" LOC = M5;
NET "intaout_b" LOC = M6;             //NET "EXP_IO<103>" LOC = M6;
NET "irdyin_b" LOC = M3;              //NET "EXP_IO<104>" LOC = M3;
NET "irdyout_b" LOC = M4;             //NET "EXP_IO<105>" LOC = M4;
NET "parin" LOC = M1;                 //NET "EXP_IO<106>" LOC = M1;
NET "parout" LOC = M2;                //NET "EXP_IO<107>" LOC = M2;
NET "perrin_b" LOC = K1;              //NET "EXP_IO<108>" LOC = K1;
NET "perrout_b" LOC = L1;             //NET "EXP_IO<109>" LOC = L1;
NET "serrout_b" LOC = L8;             //NET "EXP_IO<110>" LOC = L8;
NET "stopin_b" LOC = M8;              //NET "EXP_IO<111>" LOC = M8;
NET "stopout_b" LOC = L3;             //NET "EXP_IO<112>" LOC = L3;
NET "trdyin_b" LOC = L4;              //NET "EXP_IO<113>" LOC = L4;
NET "trdyout_b" LOC = K2;             //NET "EXP_IO<114>" LOC = K2;
NET "oe_ad" LOC = K3;                 //NET "EXP_IO<115>" LOC = K3;
NET "oe_cbe" LOC = K4;                //NET "EXP_IO<116>" LOC = K4;
NET "oe_devsel" LOC = K5;             //NET "EXP_IO<117>" LOC = K5;
NET "oe_frame" LOC = L6;              //NET "EXP_IO<118>" LOC = L6;
NET "oe_irdy" LOC = L7;               //NET "EXP_IO<119>" LOC = L7;
NET "oe_par" LOC = J1;                //NET "EXP_IO<120>" LOC = J1;
NET "oe_perr" LOC = J2;               //NET "EXP_IO<121>" LOC = J2;
NET "oe_req" LOC = K6;                //NET "EXP_IO<122>" LOC = K6;
NET "oe_stop" LOC = K7;               //NET "EXP_IO<123>" LOC = K7;
NET "oe_trdy" LOC = J4;               //NET "EXP_IO<124>" LOC = J4;
NET "PCI_INTAb" LOC = J5;             //NET "EXP_IO<125>" LOC = J5;
NET "PCI_INTBb" LOC = J6;             //NET "EXP_IO<126>" LOC = J6;
NET "PCI_INTCb" LOC = J7;             //NET "EXP_IO<127>" LOC = J7;
NET "PCI_INTDb" LOC = D10;            //NET "EXP_IO<128>" LOC = D10;


NET "CLK33M" LOC = C10;
NET "nRESET" LOC = D9;
// NET "EXP_IO<131>" LOC = C8;
// NET "EXP_IO<132>" LOC = A8;
// NET "EXP_IO<133>" LOC = A7;
// NET "EXP_IO<134>" LOC = D8;
// NET "EXP_IO<135>" LOC = D7;
// NET "EXP_IO<136>" LOC = F10;
// NET "EXP_IO<137>" LOC = E10;
// NET "EXP_IO<138>" LOC = A6;
// NET "EXP_IO<139>" LOC = A5;
// NET "EXP_IO<140>" LOC = E9;
// NET "EXP_IO<141>" LOC = F9;
// NET "EXP_IO<142>" LOC = B6;
// NET "EXP_IO<143>" LOC = C6;
//NET "EXP_IO<144>" LOC = G10;  // ROM_Interface
//NET "EXP_IO<145>" LOC = G9;   // ROM_Interface
//NET "EXP_IO<146>" LOC = F8;   // ROM_Interface
//NET "EXP_IO<147>" LOC = G8;   // ROM_Interface
//NET "EXP_IO<148>" LOC = B7;   // ROM_Interface
//NET "EXP_IO<149>" LOC = C7;   // ROM_Interface
//NET "EXP_IO<150>" LOC = C5;   // ROM_Interface
//NET "EXP_IO<151>" LOC = D5;   // ROM_Interface
//NET "EXP_IO<152>" LOC = A9;   // ROM_Interface
//NET "EXP_IO<153>" LOC = B9;   // ROM_Interface
//NET "EXP_IO<154>" LOC = A3;   // ROM_Interface
//NET "EXP_IO<155>" LOC = B3;   // ROM_Interface
//NET "EXP_IO<156>" LOC = A4;   // ROM_Interface
//NET "EXP_IO<157>" LOC = B4;   // ROM_Interface
//NET "EXP_IO<158>" LOC = C4;   // ROM_Interface
//NET "EXP_IO<159>" LOC = D4;   // ROM_Interface
//NET "EXP_IO<160>" LOC = E7;   // ROM_Interface
//NET "EXP_IO<161>" LOC = D6;   // ROM_Interface
//NET "EXP_IO<162>" LOC = E6;   // ROM_Interface
//NET "EXP_IO<163>" LOC = E5;   // ROM_Interface
//  NET "EXP_IO<164>" LOC = F7;
//  NET "EXP_IO<165>" LOC = G7;
//  NET "EXP_IO<166>" LOC = C2;
//  NET "EXP_IO<167>" LOC = C1;
//  NET "EXP_IO<168>" LOC = H8;
//  NET "EXP_IO<169>" LOC = H7;
//  NET "EXP_IO<170>" LOC = D3;
//  NET "EXP_IO<171>" LOC = E4;
//  NET "EXP_IO<172>" LOC = G6;
//  NET "EXP_IO<173>" LOC = G5;




//PCI INTERFACE
NET "PCI_CLK<0>" LOC = A24;
NET "PCI_CLK<1>" LOC = A23;
NET "PCI_CLK<2>" LOC = G18;
NET "PCI_CLK<3>" LOC = G17;
NET "PCI_RESET" LOC = D17;
NET "PCI_GNT<1>" LOC = F20;
NET "PCI_GNT<2>" LOC = E20;
NET "PCI_GNT<3>" LOC = C26;
NET "PCI_GNT<4>" LOC = C25;
NET "PCI_REQ<1>" LOC = G19;
NET "PCI_REQ<2>" LOC = F19;
NET "PCI_REQ<3>" LOC = E23;
NET "PCI_REQ<4>" LOC = E22;
NET "PCI_CBE<0>" LOC = D22;
NET "PCI_CBE<1>" LOC = C22;
NET "PCI_CBE<2>" LOC = A22;
NET "PCI_CBE<3>" LOC = A21;
NET "PCI_DEVSEL" LOC = A18;
NET "PCI_FRAME" LOC = F17;
NET "PCI_IDSEL<0>" LOC = C21;
NET "PCI_IDSEL<1>" LOC = B21;
NET "PCI_IDSEL<2>" LOC = C19;
NET "PCI_IDSEL<3>" LOC = D18;
NET "PCI_IRDY" LOC = D20;
NET "PCI_PAR" LOC = D24;
NET "PCI_PERR" LOC = B20;
NET "PCI_SERR" LOC = C20;
NET "PCI_STOP" LOC = D19;
NET "PCI_TRDY" LOC = E17;
NET "PCI_INTA" LOC = D23;
NET "PCI_INTB" LOC = C23;
NET "PCI_INTC" LOC = H20;
NET "PCI_INTD" LOC = G20;
NET "PCI_AD<0>" LOC = AF19;
NET "PCI_AD<1>" LOC = AF20;
NET "PCI_AD<2>" LOC = Y19;
NET "PCI_AD<3>" LOC = W19;
NET "PCI_AD<4>" LOC = AF23;
NET "PCI_AD<5>" LOC = AE23;
NET "PCI_AD<6>" LOC = Y20;
NET "PCI_AD<7>" LOC = Y21;
NET "PCI_AD<8>" LOC = AA18;
NET "PCI_AD<9>" LOC = Y18;
NET "PCI_AD<10>" LOC = AF24;
NET "PCI_AD<11>" LOC = AE24;
NET "PCI_AD<12>" LOC = AE20;
NET "PCI_AD<13>" LOC = AD20;
NET "PCI_AD<14>" LOC = AC21;
NET "PCI_AD<15>" LOC = AB21;
NET "PCI_AD<16>" LOC = AD19;
NET "PCI_AD<17>" LOC = AC19;
NET "PCI_AD<18>" LOC = AA19;
NET "PCI_AD<19>" LOC = AA20;
NET "PCI_AD<20>" LOC = Y17;
NET "PCI_AD<21>" LOC = AA17;
NET "PCI_AD<22>" LOC = AB20;
NET "PCI_AD<23>" LOC = AC20;
NET "PCI_AD<24>" LOC = AC18;
NET "PCI_AD<25>" LOC = AB18;
NET "PCI_AD<26>" LOC = AF21;
NET "PCI_AD<27>" LOC = AF22;
NET "PCI_AD<28>" LOC = AF18;
NET "PCI_AD<29>" LOC = AE18;
NET "PCI_AD<30>" LOC = AE21;
NET "PCI_AD<31>" LOC = AD21;


// not used
//NET "PCI_LOCK" LOC = B18;
//NET "PCI_M66EN" LOC = C24;
//NET "PCI_PRSNT0_1" LOC = B24;
//NET "PCI_PRSNT0_2" LOC = B23;
//NET "PCI_PRSNT1_1" LOC = F18;
//NET "PCI_PRSNT1_2" LOC = E18;
//NET "PCI_PRSNT2_1" LOC = E21;
//NET "PCI_PRSNT2_2" LOC = D21;
//NET "PCI_PRSNT3_1" LOC = A20;
//NET "PCI_PRSNT3_2" LOC = A19;
//NET "PCI_DONE<0>" LOC = G22;
//NET "PCI_DONE<1>" LOC = G21;
//NET "PCI_DONE<2>" LOC = F24;
//NET "PCI_DONE<3>" LOC = F23;
//NET "PCI_BO<0>" LOC = D26;
//NET "PCI_BO<1>" LOC = D25;
//NET "PCI_BO<2>" LOC = H22;
//NET "PCI_BO<3>" LOC = H21;
//NET "PCI_REQ64<0>" LOC = E25;
//NET "PCI_REQ64<1>" LOC = E24;
//NET "PCI_REQ64<2>" LOC = G24;
//NET "PCI_REQ64<3>" LOC = G23;
//NET "PCI_ACK64<0>" LOC = F26;
//NET "PCI_ACK64<1>" LOC = E26;
//NET "PCI_ACK64<2>" LOC = H24;
//NET "PCI_ACK64<3>" LOC = H23;
//NET "TDO<0>" LOC = G26;
//NET "TCK<0>" LOC = V21;
//NET "TRST<0>" LOC = W21;
//NET "TMS<0>" LOC = W20;
//NET "TDI<0>" LOC = AB24;
//NET "TDO<1>" LOC = G25;
//NET "TCK<1>" LOC = V22;
//NET "TRST<1>" LOC = W22;
//NET "TMS<1>" LOC = V20;
//NET "TDI<1>" LOC = AB25;
//NET "TDO<2>" LOC = H26;
//NET "TCK<2>" LOC = W25;
//NET "TRST<2>" LOC = W23;
//NET "TMS<2>" LOC = Y25;
//NET "TDI<2>" LOC = AA24;
//NET "TDO<3>" LOC = H25;
//NET "TCK<3>" LOC = W26;
//NET "TRST<3>" LOC = W24;
//NET "TMS<3>" LOC = Y26;
//NET "TDI<3>" LOC = Y24;
//NET "PCI_3V3AUX<0>" LOC = U26;
//NET "PCI_3V3AUX<1>" LOC = U23;
//NET "PCI_3V3AUX<2>" LOC = U25;
//NET "PCI_3V3AUX<3>" LOC = U24;
//NET "PCI_PME" LOC = V23;

