//! **************************************************************************
// Written by: Map J.33 on Tue May 15 19:12:05 2007
//! **************************************************************************

SCHEMATIC START;
COMP "adin<21>" LOCATE = SITE "AD5" LEVEL 1;
COMP "adin<14>" LOCATE = SITE "AF7" LEVEL 1;
COMP "adin<22>" LOCATE = SITE "Y9" LEVEL 1;
COMP "adin<30>" LOCATE = SITE "AE4" LEVEL 1;
COMP "adin<15>" LOCATE = SITE "AF8" LEVEL 1;
COMP "adin<23>" LOCATE = SITE "AA9" LEVEL 1;
COMP "adin<31>" LOCATE = SITE "AF4" LEVEL 1;
COMP "adin<16>" LOCATE = SITE "AB6" LEVEL 1;
COMP "adin<24>" LOCATE = SITE "Y7" LEVEL 1;
COMP "oe_cbe" LOCATE = SITE "K4" LEVEL 1;
COMP "adin<17>" LOCATE = SITE "AC6" LEVEL 1;
COMP "adin<25>" LOCATE = SITE "AA7" LEVEL 1;
COMP "adin<18>" LOCATE = SITE "AD7" LEVEL 1;
COMP "adin<26>" LOCATE = SITE "AF5" LEVEL 1;
COMP "adin<19>" LOCATE = SITE "AE7" LEVEL 1;
COMP "adin<27>" LOCATE = SITE "AF6" LEVEL 1;
COMP "adin<28>" LOCATE = SITE "AC3" LEVEL 1;
COMP "adin<29>" LOCATE = SITE "AD3" LEVEL 1;
COMP "Clk" LOCATE = SITE "B15" LEVEL 1;
COMP "trdyin_b" LOCATE = SITE "L4" LEVEL 1;
COMP "perrin_b" LOCATE = SITE "K1" LEVEL 1;
COMP "PCI_REQ<1>" LOCATE = SITE "G19" LEVEL 1;
COMP "PCI_REQ<2>" LOCATE = SITE "F19" LEVEL 1;
COMP "PCI_REQ<3>" LOCATE = SITE "E23" LEVEL 1;
COMP "PCI_REQ<4>" LOCATE = SITE "E22" LEVEL 1;
COMP "oe_par" LOCATE = SITE "J1" LEVEL 1;
COMP "PCI_PAR" LOCATE = SITE "D24" LEVEL 1;
COMP "oe_req" LOCATE = SITE "K6" LEVEL 1;
COMP "PCI_FRAME" LOCATE = SITE "F17" LEVEL 1;
COMP "cbeout_b<0>" LOCATE = SITE "T3" LEVEL 1;
COMP "cbeout_b<1>" LOCATE = SITE "T4" LEVEL 1;
COMP "cbeout_b<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "cbeout_b<3>" LOCATE = SITE "R8" LEVEL 1;
COMP "adout<10>" LOCATE = SITE "AB4" LEVEL 1;
COMP "adout<11>" LOCATE = SITE "AC4" LEVEL 1;
COMP "irdyout_b" LOCATE = SITE "M4" LEVEL 1;
COMP "adout<12>" LOCATE = SITE "AA1" LEVEL 1;
COMP "adout<20>" LOCATE = SITE "Y1" LEVEL 1;
COMP "adout<13>" LOCATE = SITE "AB1" LEVEL 1;
COMP "adout<21>" LOCATE = SITE "Y2" LEVEL 1;
COMP "adout<14>" LOCATE = SITE "Y5" LEVEL 1;
COMP "adout<22>" LOCATE = SITE "W5" LEVEL 1;
COMP "adout<30>" LOCATE = SITE "W1" LEVEL 1;
COMP "oe_frame" LOCATE = SITE "L6" LEVEL 1;
COMP "adout<15>" LOCATE = SITE "Y6" LEVEL 1;
COMP "adout<23>" LOCATE = SITE "W6" LEVEL 1;
COMP "adout<31>" LOCATE = SITE "W2" LEVEL 1;
COMP "adout<16>" LOCATE = SITE "Y3" LEVEL 1;
COMP "adout<24>" LOCATE = SITE "W3" LEVEL 1;
COMP "adout<17>" LOCATE = SITE "Y4" LEVEL 1;
COMP "adout<25>" LOCATE = SITE "W4" LEVEL 1;
COMP "adout<18>" LOCATE = SITE "AA3" LEVEL 1;
COMP "adout<26>" LOCATE = SITE "V7" LEVEL 1;
COMP "adout<19>" LOCATE = SITE "AA4" LEVEL 1;
COMP "adout<27>" LOCATE = SITE "W7" LEVEL 1;
COMP "adout<28>" LOCATE = SITE "V5" LEVEL 1;
COMP "adout<29>" LOCATE = SITE "V6" LEVEL 1;
COMP "cbein_b<0>" LOCATE = SITE "U2" LEVEL 1;
COMP "cbein_b<1>" LOCATE = SITE "U3" LEVEL 1;
COMP "cbein_b<2>" LOCATE = SITE "T6" LEVEL 1;
COMP "cbein_b<3>" LOCATE = SITE "T7" LEVEL 1;
COMP "PCI_INTAb" LOCATE = SITE "J5" LEVEL 1;
COMP "PCI_INTBb" LOCATE = SITE "J6" LEVEL 1;
COMP "PCI_INTCb" LOCATE = SITE "J7" LEVEL 1;
COMP "PCI_INTDb" LOCATE = SITE "D10" LEVEL 1;
COMP "parout" LOCATE = SITE "M2" LEVEL 1;
COMP "stopin_b" LOCATE = SITE "M8" LEVEL 1;
COMP "arb_gnt_b<1>" LOCATE = SITE "U5" LEVEL 1;
COMP "arb_gnt_b<2>" LOCATE = SITE "U6" LEVEL 1;
COMP "arb_gnt_b<3>" LOCATE = SITE "U7" LEVEL 1;
COMP "PCI_IDSEL<0>" LOCATE = SITE "C21" LEVEL 1;
COMP "arb_gnt_b<4>" LOCATE = SITE "T8" LEVEL 1;
COMP "PCI_IDSEL<1>" LOCATE = SITE "B21" LEVEL 1;
COMP "PCI_IDSEL<2>" LOCATE = SITE "C19" LEVEL 1;
COMP "PCI_IDSEL<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "PCI_RESET" LOCATE = SITE "D17" LEVEL 1;
COMP "PCI_AD<10>" LOCATE = SITE "AF24" LEVEL 1;
COMP "PCI_AD<11>" LOCATE = SITE "AE24" LEVEL 1;
COMP "PCI_AD<12>" LOCATE = SITE "AE20" LEVEL 1;
COMP "PCI_AD<20>" LOCATE = SITE "Y17" LEVEL 1;
COMP "PCI_AD<13>" LOCATE = SITE "AD20" LEVEL 1;
COMP "PCI_AD<21>" LOCATE = SITE "AA17" LEVEL 1;
COMP "PCI_AD<14>" LOCATE = SITE "AC21" LEVEL 1;
COMP "PCI_AD<22>" LOCATE = SITE "AB20" LEVEL 1;
COMP "PCI_AD<30>" LOCATE = SITE "AE21" LEVEL 1;
COMP "PCI_AD<15>" LOCATE = SITE "AB21" LEVEL 1;
COMP "PCI_AD<23>" LOCATE = SITE "AC20" LEVEL 1;
COMP "PCI_AD<31>" LOCATE = SITE "AD21" LEVEL 1;
COMP "PCI_AD<16>" LOCATE = SITE "AD19" LEVEL 1;
COMP "PCI_AD<24>" LOCATE = SITE "AC18" LEVEL 1;
COMP "PCI_AD<17>" LOCATE = SITE "AC19" LEVEL 1;
COMP "PCI_AD<25>" LOCATE = SITE "AB18" LEVEL 1;
COMP "PCI_AD<18>" LOCATE = SITE "AA19" LEVEL 1;
COMP "PCI_AD<26>" LOCATE = SITE "AF21" LEVEL 1;
COMP "PCI_AD<19>" LOCATE = SITE "AA20" LEVEL 1;
COMP "PCI_AD<27>" LOCATE = SITE "AF22" LEVEL 1;
COMP "PCI_AD<28>" LOCATE = SITE "AF18" LEVEL 1;
COMP "PCI_AD<29>" LOCATE = SITE "AE18" LEVEL 1;
COMP "nRESET" LOCATE = SITE "D9" LEVEL 1;
COMP "stopout_b" LOCATE = SITE "L3" LEVEL 1;
COMP "SevenSegComm<0>" LOCATE = SITE "AC14" LEVEL 1;
COMP "SevenSegComm<1>" LOCATE = SITE "AD14" LEVEL 1;
COMP "SevenSegComm<2>" LOCATE = SITE "AA12" LEVEL 1;
COMP "SevenSegComm<3>" LOCATE = SITE "AA11" LEVEL 1;
COMP "PCI_CBE<0>" LOCATE = SITE "D22" LEVEL 1;
COMP "PCI_CBE<1>" LOCATE = SITE "C22" LEVEL 1;
COMP "PCI_CBE<2>" LOCATE = SITE "A22" LEVEL 1;
COMP "PCI_CBE<3>" LOCATE = SITE "A21" LEVEL 1;
COMP "devselin_b" LOCATE = SITE "N4" LEVEL 1;
COMP "framein_b" LOCATE = SITE "N2" LEVEL 1;
COMP "irdyin_b" LOCATE = SITE "M3" LEVEL 1;
COMP "PCI_CLK<0>" LOCATE = SITE "A24" LEVEL 1;
COMP "PCI_CLK<1>" LOCATE = SITE "A23" LEVEL 1;
COMP "PCI_CLK<2>" LOCATE = SITE "G18" LEVEL 1;
COMP "SevenSegCtrl<0>" LOCATE = SITE "AA14" LEVEL 1;
COMP "PCI_CLK<3>" LOCATE = SITE "G17" LEVEL 1;
COMP "SevenSegCtrl<1>" LOCATE = SITE "AB14" LEVEL 1;
COMP "SevenSegCtrl<2>" LOCATE = SITE "AC12" LEVEL 1;
COMP "SevenSegCtrl<3>" LOCATE = SITE "AC11" LEVEL 1;
COMP "SevenSegCtrl<4>" LOCATE = SITE "AA16" LEVEL 1;
COMP "led<0>" LOCATE = SITE "AD17" LEVEL 1;
COMP "SevenSegCtrl<5>" LOCATE = SITE "AA15" LEVEL 1;
COMP "led<1>" LOCATE = SITE "AD16" LEVEL 1;
COMP "SevenSegCtrl<6>" LOCATE = SITE "AB13" LEVEL 1;
COMP "led<2>" LOCATE = SITE "AD12" LEVEL 1;
COMP "SevenSegCtrl<7>" LOCATE = SITE "AA13" LEVEL 1;
COMP "led<3>" LOCATE = SITE "AD11" LEVEL 1;
COMP "idsel" LOCATE = SITE "M5" LEVEL 1;
COMP "oe_ad" LOCATE = SITE "K3" LEVEL 1;
COMP "adin<0>" LOCATE = SITE "AC8" LEVEL 1;
COMP "adin<1>" LOCATE = SITE "AD8" LEVEL 1;
COMP "adin<2>" LOCATE = SITE "AE9" LEVEL 1;
COMP "adin<3>" LOCATE = SITE "AF9" LEVEL 1;
COMP "adin<4>" LOCATE = SITE "AD6" LEVEL 1;
COMP "adin<5>" LOCATE = SITE "AE6" LEVEL 1;
COMP "adin<6>" LOCATE = SITE "AB9" LEVEL 1;
COMP "adin<7>" LOCATE = SITE "AC9" LEVEL 1;
COMP "serrout_b" LOCATE = SITE "L8" LEVEL 1;
COMP "adin<8>" LOCATE = SITE "AB7" LEVEL 1;
COMP "adin<9>" LOCATE = SITE "AC7" LEVEL 1;
COMP "CLK33M" LOCATE = SITE "C10" LEVEL 1;
COMP "parin" LOCATE = SITE "M1" LEVEL 1;
COMP "adout<0>" LOCATE = SITE "AD1" LEVEL 1;
COMP "PCI_INTA" LOCATE = SITE "D23" LEVEL 1;
COMP "adout<1>" LOCATE = SITE "AD2" LEVEL 1;
COMP "PCI_INTB" LOCATE = SITE "C23" LEVEL 1;
COMP "PCI_INTC" LOCATE = SITE "H20" LEVEL 1;
COMP "adout<2>" LOCATE = SITE "AE3" LEVEL 1;
COMP "PCI_INTD" LOCATE = SITE "G20" LEVEL 1;
COMP "adout<3>" LOCATE = SITE "AF3" LEVEL 1;
COMP "adout<4>" LOCATE = SITE "AC1" LEVEL 1;
COMP "PCI_IRDY" LOCATE = SITE "D20" LEVEL 1;
COMP "adout<5>" LOCATE = SITE "AC2" LEVEL 1;
COMP "adout<6>" LOCATE = SITE "AB5" LEVEL 1;
COMP "adout<7>" LOCATE = SITE "AC5" LEVEL 1;
COMP "oe_irdy" LOCATE = SITE "L7" LEVEL 1;
COMP "adout<8>" LOCATE = SITE "AB2" LEVEL 1;
COMP "PCI_DEVSEL" LOCATE = SITE "A18" LEVEL 1;
COMP "adout<9>" LOCATE = SITE "AB3" LEVEL 1;
COMP "PCI_PERR" LOCATE = SITE "B20" LEVEL 1;
COMP "oe_perr" LOCATE = SITE "J2" LEVEL 1;
COMP "PCI_SERR" LOCATE = SITE "C20" LEVEL 1;
COMP "PCI_AD<0>" LOCATE = SITE "AF19" LEVEL 1;
COMP "PCI_AD<1>" LOCATE = SITE "AF20" LEVEL 1;
COMP "PCI_AD<2>" LOCATE = SITE "Y19" LEVEL 1;
COMP "PCI_AD<3>" LOCATE = SITE "W19" LEVEL 1;
COMP "PCI_AD<4>" LOCATE = SITE "AF23" LEVEL 1;
COMP "PCI_AD<5>" LOCATE = SITE "AE23" LEVEL 1;
COMP "PCI_AD<6>" LOCATE = SITE "Y20" LEVEL 1;
COMP "PCI_AD<7>" LOCATE = SITE "Y21" LEVEL 1;
COMP "PCI_AD<8>" LOCATE = SITE "AA18" LEVEL 1;
COMP "PCI_AD<9>" LOCATE = SITE "Y18" LEVEL 1;
COMP "PCI_GNT<1>" LOCATE = SITE "F20" LEVEL 1;
COMP "PCI_GNT<2>" LOCATE = SITE "E20" LEVEL 1;
COMP "PCI_TRDY" LOCATE = SITE "E17" LEVEL 1;
COMP "PCI_GNT<3>" LOCATE = SITE "C26" LEVEL 1;
COMP "PCI_GNT<4>" LOCATE = SITE "C25" LEVEL 1;
COMP "oe_trdy" LOCATE = SITE "J4" LEVEL 1;
COMP "PCI_STOP" LOCATE = SITE "D19" LEVEL 1;
COMP "oe_stop" LOCATE = SITE "K7" LEVEL 1;
COMP "intaout_b" LOCATE = SITE "M6" LEVEL 1;
COMP "oe_devsel" LOCATE = SITE "K5" LEVEL 1;
COMP "trdyout_b" LOCATE = SITE "K2" LEVEL 1;
COMP "perrout_b" LOCATE = SITE "L1" LEVEL 1;
COMP "devselout_b" LOCATE = SITE "N5" LEVEL 1;
COMP "frameout_b" LOCATE = SITE "N3" LEVEL 1;
COMP "nRst" LOCATE = SITE "AE12" LEVEL 1;
COMP "arb_req_b<1>" LOCATE = SITE "V1" LEVEL 1;
COMP "arb_req_b<2>" LOCATE = SITE "V2" LEVEL 1;
COMP "arb_req_b<3>" LOCATE = SITE "U4" LEVEL 1;
COMP "arb_req_b<4>" LOCATE = SITE "V4" LEVEL 1;
COMP "adin<10>" LOCATE = SITE "AA10" LEVEL 1;
COMP "adin<11>" LOCATE = SITE "Y10" LEVEL 1;
COMP "adin<12>" LOCATE = SITE "Y8" LEVEL 1;
COMP "adin<20>" LOCATE = SITE "AD4" LEVEL 1;
COMP "adin<13>" LOCATE = SITE "AA8" LEVEL 1;
SCHEMATIC END;
