//! **************************************************************************
// Written by: Map I.31 on Wed Jan 03 11:34:18 2007
//! **************************************************************************

SCHEMATIC START;
COMP "SW1" LOCATE = SITE "AD2" LEVEL 1;
COMP "SW" LOCATE = SITE "AD1" LEVEL 1;
COMP "AC97_SYNC" LOCATE = SITE "V7" LEVEL 1;
COMP "AC97_BIT_CLK" LOCATE = SITE "W9" LEVEL 1;
COMP "AC97_DATA_O" LOCATE = SITE "W10" LEVEL 1;
COMP "nRESET" LOCATE = SITE "AH19" LEVEL 1;
COMP "AC97_nRESET" LOCATE = SITE "U2" LEVEL 1;
COMP "CLOCK_54" LOCATE = SITE "N22" LEVEL 1;
SCHEMATIC END;
