#--------------------------------------------------------------
# Clock related
#--------------------------------------------------------------
NET "clk_i" TNM_NET = "clk_i";
TIMESPEC "TS_clk_i" = PERIOD "clk_i" 100 MHz HIGH 50 %;
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 50 MHz HIGH 50 %;

NET "clk_i"  LOC = "AA12"  ;
NET "reset_i"  LOC = "R2"  ;

#--------------------------------------------------------------
# OnChipSram BRAM Locs
#--------------------------------------------------------------
#--------------------------------------------------------------
# Serial (UART)
#--------------------------------------------------------------
NET "rxpin"  LOC = "M3"  ;
NET "txpin"  LOC = "M4"  ;
#--------------------------------------------------------------
# SDRAM
#--------------------------------------------------------------
NET "sdram_data<0>" LOC = "AB6";
NET "sdram_data<1>" LOC = "AB7";
NET "sdram_data<2>" LOC = "AA7";
NET "sdram_data<3>" LOC = "AB8";
NET "sdram_data<4>" LOC = "AA8";
NET "sdram_data<5>" LOC = "AB9";
NET "sdram_data<6>" LOC = "AA9";
NET "sdram_data<7>" LOC = "AA10";
NET "sdram_data<8>" LOC = "W5";
NET "sdram_data<9>" LOC = "AA6";
NET "sdram_data<10>" LOC = "Y5";
NET "sdram_data<11>" LOC = "AB5";
NET "sdram_data<12>" LOC = "AA3";
NET "sdram_data<13>" LOC = "AA5";
NET "sdram_data<14>" LOC = "AB3";
NET "sdram_data<15>" LOC = "AB4";
NET "sdram_data<16>" LOC = "AB17";
NET "sdram_data<17>" LOC = "AB18";
NET "sdram_data<18>" LOC = "AA17";
NET "sdram_data<19>" LOC = "AB19";
NET "sdram_data<20>" LOC = "AA18";
NET "sdram_data<21>" LOC = "AB20";
NET "sdram_data<22>" LOC = "AA19";
NET "sdram_data<23>" LOC = "AA20";
NET "sdram_data<24>" LOC = "AB13";
NET "sdram_data<25>" LOC = "AA16";
NET "sdram_data<26>" LOC = "AA13";
NET "sdram_data<27>" LOC = "AB16";
NET "sdram_data<28>" LOC = "AB14";
NET "sdram_data<29>" LOC = "AA15";
NET "sdram_data<30>" LOC = "AA14";
NET "sdram_data<31>" LOC = "AB15";
NET "sdram_addr<0>"  LOC = "Y13";
NET "sdram_addr<1>"  LOC = "Y16";
NET "sdram_addr<2>"  LOC = "Y17";
NET "sdram_addr<3>"  LOC = "W13";
NET "sdram_addr<4>"  LOC = "W10";
NET "sdram_addr<5>"  LOC = "Y9";
NET "sdram_addr<6>"  LOC = "W12";
NET "sdram_addr<7>"  LOC = "Y8";
NET "sdram_addr<8>"  LOC = "W9";
NET "sdram_addr<9>"  LOC = "W11";
NET "sdram_addr<10>" LOC = "W16";
NET "sdram_addr<11>" LOC = "Y7";
NET "sdram_addr<12>" LOC = "W8";
NET "sdram_addr<13>" LOC = "W6";
NET "sdram_ba<0>"    LOC = "Y12";
NET "sdram_ba<1>"    LOC = "Y15";
NET "sdram_dqm<0>"   LOC = "W17";
NET "sdram_dqm<1>"   LOC = "W7";
NET "sdram_dqm<2>"   LOC = "W18";
NET "sdram_dqm<3>"   LOC = "Y18";
NET "sdram_csn<0>"   LOC = "W15";
NET "sdram_rasN"     LOC = "Y14";
NET "sdram_casN"     LOC = "Y11";
NET "sdram_wen"	     LOC = "W14";
NET "sdram_clk"	     LOC = "Y6";
NET "sdram_cke<0>"   LOC = "Y10";
#--------------------------------------------------------------
# LEDs
#--------------------------------------------------------------
NET "seg_led<0>" LOC = "N1";
NET "seg_led<1>" LOC = "N2";
NET "seg_led<2>" LOC = "P1";
NET "seg_led<3>" LOC = "P2";
#--------------------------------------------------------------
# Ethernet Phy
#--------------------------------------------------------------
NET "phy_resetn" LOC = "C2";
NET "phy_mdio"   LOC = "C6";
NET "phy_tx_clk" LOC = "K5";
NET "phy_rx_clk" LOC = "K6";
NET "phy_rxd<0>" LOC = "D3";
NET "phy_rxd<1>" LOC = "B3";
NET "phy_rxd<2>" LOC = "D6";
NET "phy_rxd<3>" LOC = "A3";
NET "phy_rx_dv"  LOC = "C5";
NET "phy_rx_er"  LOC = "F4";
NET "phy_rx_col" LOC = "H3";
NET "phy_rx_crs" LOC = "J4";
NET "phy_txd<0>" LOC = "C4";
NET "phy_txd<1>" LOC = "G3";
NET "phy_txd<2>" LOC = "H4";
NET "phy_txd<3>" LOC = "F5";
NET "phy_tx_en"  LOC = "G4";
NET "phy_tx_er"  LOC = "D5";
NET "phy_mdc"    LOC = "B4";
