//! **************************************************************************
// Written by: Map H.42 on Wed Jul 04 00:36:36 2007
//! **************************************************************************

SCHEMATIC START;
COMP "CLK100M_Out" LOCATE = SITE "L10" LEVEL 1;
COMP "AWADDR_DDR[0]" LOCATE = SITE "T29" LEVEL 1;
COMP "AWADDR_DDR[1]" LOCATE = SITE "U28" LEVEL 1;
COMP "AWADDR_DDR[2]" LOCATE = SITE "P36" LEVEL 1;
COMP "AWADDR_DDR[3]" LOCATE = SITE "P37" LEVEL 1;
COMP "AWADDR_DDR[4]" LOCATE = SITE "N37" LEVEL 1;
COMP "AWADDR_DDR[5]" LOCATE = SITE "N38" LEVEL 1;
COMP "HRESP_S0[0]" LOCATE = SITE "AT36" LEVEL 1;
COMP "AWADDR_DDR[6]" LOCATE = SITE "N39" LEVEL 1;
COMP "HRESP_S0[1]" LOCATE = SITE "AR36" LEVEL 1;
COMP "AWADDR_DDR[7]" LOCATE = SITE "P39" LEVEL 1;
COMP "AWADDR_DDR[8]" LOCATE = SITE "R34" LEVEL 1;
COMP "AWADDR_DDR[9]" LOCATE = SITE "T34" LEVEL 1;
COMP "HRESP_S1[0]" LOCATE = SITE "AK9" LEVEL 1;
COMP "HRESP_S1[1]" LOCATE = SITE "AL9" LEVEL 1;
COMP "HPROT_S0[0]" LOCATE = SITE "AJ37" LEVEL 1;
COMP "HBURST_M0[0]" LOCATE = SITE "J31" LEVEL 1;
COMP "HPROT_S0[1]" LOCATE = SITE "AG35" LEVEL 1;
COMP "HBURST_M0[1]" LOCATE = SITE "K31" LEVEL 1;
COMP "HPROT_S0[2]" LOCATE = SITE "AG36" LEVEL 1;
COMP "AWADDR_DDR[10]" LOCATE = SITE "T31" LEVEL 1;
COMP "HBURST_M0[2]" LOCATE = SITE "B36" LEVEL 1;
COMP "HPROT_S0[3]" LOCATE = SITE "AJ35" LEVEL 1;
COMP "AWADDR_DDR[11]" LOCATE = SITE "U30" LEVEL 1;
COMP "HPROT_S1[0]" LOCATE = SITE "AU30" LEVEL 1;
COMP "AWADDR_DDR[12]" LOCATE = SITE "R36" LEVEL 1;
COMP "AWADDR_DDR[20]" LOCATE = SITE "V25" LEVEL 1;
COMP "HPROT_S1[1]" LOCATE = SITE "AR26" LEVEL 1;
COMP "AWADDR_DDR[13]" LOCATE = SITE "T36" LEVEL 1;
COMP "AWADDR_DDR[21]" LOCATE = SITE "U26" LEVEL 1;
COMP "HPROT_S1[2]" LOCATE = SITE "AT26" LEVEL 1;
COMP "AWADDR_DDR[14]" LOCATE = SITE "T33" LEVEL 1;
COMP "AWADDR_DDR[22]" LOCATE = SITE "V27" LEVEL 1;
COMP "AWADDR_DDR[30]" LOCATE = SITE "Y38" LEVEL 1;
COMP "HPROT_S1[3]" LOCATE = SITE "AW29" LEVEL 1;
COMP "AWADDR_DDR[15]" LOCATE = SITE "U32" LEVEL 1;
COMP "AWADDR_DDR[23]" LOCATE = SITE "U27" LEVEL 1;
COMP "AWADDR_DDR[31]" LOCATE = SITE "Y39" LEVEL 1;
COMP "AWADDR_DDR[16]" LOCATE = SITE "R37" LEVEL 1;
COMP "AWADDR_DDR[24]" LOCATE = SITE "T35" LEVEL 1;
COMP "AWADDR_DDR[17]" LOCATE = SITE "AJ10" LEVEL 1;
COMP "AWADDR_DDR[25]" LOCATE = SITE "U35" LEVEL 1;
COMP "AWADDR_DDR[18]" LOCATE = SITE "R39" LEVEL 1;
COMP "AWADDR_DDR[26]" LOCATE = SITE "U33" LEVEL 1;
COMP "AWADDR_DDR[19]" LOCATE = SITE "T39" LEVEL 1;
COMP "AWADDR_DDR[27]" LOCATE = SITE "V33" LEVEL 1;
COMP "AWADDR_DDR[28]" LOCATE = SITE "V38" LEVEL 1;
COMP "AWADDR_DDR[29]" LOCATE = SITE "V39" LEVEL 1;
COMP "SevenSegComm[0]" LOCATE = SITE "AJ19" LEVEL 1;
COMP "SevenSegComm[1]" LOCATE = SITE "AK19" LEVEL 1;
COMP "SevenSegComm[2]" LOCATE = SITE "AK21" LEVEL 1;
COMP "CLK200M_Out" LOCATE = SITE "K9" LEVEL 1;
COMP "SevenSegComm[3]" LOCATE = SITE "AL21" LEVEL 1;
COMP "SevenSegCtrl_FPGA0[0]" LOCATE = SITE "G25" LEVEL 1;
COMP "SevenSegCtrl_FPGA0[1]" LOCATE = SITE "G26" LEVEL 1;
COMP "SevenSegCtrl_FPGA0[2]" LOCATE = SITE "D29" LEVEL 1;
COMP "SevenSegCtrl_FPGA0[3]" LOCATE = SITE "E29" LEVEL 1;
COMP "SevenSegCtrl_FPGA0[4]" LOCATE = SITE "A28" LEVEL 1;
COMP "SevenSegCtrl_FPGA0[5]" LOCATE = SITE "A29" LEVEL 1;
COMP "SevenSegCtrl_FPGA0[6]" LOCATE = SITE "D30" LEVEL 1;
COMP "SevenSegCtrl_FPGA0[7]" LOCATE = SITE "D31" LEVEL 1;
COMP "HBURST_S0[0]" LOCATE = SITE "AF34" LEVEL 1;
COMP "HBURST_S0[1]" LOCATE = SITE "AF35" LEVEL 1;
COMP "HBURST_S0[2]" LOCATE = SITE "AJ36" LEVEL 1;
COMP "HBURST_S1[0]" LOCATE = SITE "AP27" LEVEL 1;
COMP "HBURST_S1[1]" LOCATE = SITE "AR27" LEVEL 1;
COMP "HBURST_S1[2]" LOCATE = SITE "AV30" LEVEL 1;
COMP "WDATA_DDR[10]" LOCATE = SITE "W30" LEVEL 1;
COMP "WDATA_DDR[11]" LOCATE = SITE "AA34" LEVEL 1;
COMP "WDATA_DDR[12]" LOCATE = SITE "AA35" LEVEL 1;
COMP "WDATA_DDR[20]" LOCATE = SITE "AR34" LEVEL 1;
COMP "WDATA_DDR[13]" LOCATE = SITE "Y29" LEVEL 1;
COMP "WDATA_DDR[21]" LOCATE = SITE "AP34" LEVEL 1;
COMP "WDATA_DDR[14]" LOCATE = SITE "AA30" LEVEL 1;
COMP "WDATA_DDR[22]" LOCATE = SITE "AT33" LEVEL 1;
COMP "WDATA_DDR[30]" LOCATE = SITE "AP24" LEVEL 1;
COMP "WDATA_DDR[15]" LOCATE = SITE "AW37" LEVEL 1;
COMP "WDATA_DDR[23]" LOCATE = SITE "AR33" LEVEL 1;
COMP "WDATA_DDR[31]" LOCATE = SITE "AR24" LEVEL 1;
COMP "WDATA_DDR[16]" LOCATE = SITE "AV37" LEVEL 1;
COMP "WDATA_DDR[24]" LOCATE = SITE "AJ30" LEVEL 1;
COMP "WDATA_DDR[17]" LOCATE = SITE "AU37" LEVEL 1;
COMP "WDATA_DDR[25]" LOCATE = SITE "AK31" LEVEL 1;
COMP "WDATA_DDR[18]" LOCATE = SITE "AW35" LEVEL 1;
COMP "WDATA_DDR[26]" LOCATE = SITE "AM30" LEVEL 1;
COMP "WDATA_DDR[19]" LOCATE = SITE "AV35" LEVEL 1;
COMP "WDATA_DDR[27]" LOCATE = SITE "AL30" LEVEL 1;
COMP "WDATA_DDR[28]" LOCATE = SITE "AM31" LEVEL 1;
COMP "WDATA_DDR[29]" LOCATE = SITE "AL31" LEVEL 1;
COMP "HWRITE_M0" LOCATE = SITE "G32" LEVEL 1;
COMP "HWRITE_S0" LOCATE = SITE "AG37" LEVEL 1;
COMP "HWRITE_S1" LOCATE = SITE "AN27" LEVEL 1;
COMP "HADDR_M0[0]" LOCATE = SITE "B32" LEVEL 1;
COMP "HRDATA_M0[0]" LOCATE = SITE "L33" LEVEL 1;
COMP "HADDR_M0[1]" LOCATE = SITE "B33" LEVEL 1;
COMP "HRDATA_M0[1]" LOCATE = SITE "H37" LEVEL 1;
COMP "HADDR_M0[2]" LOCATE = SITE "J29" LEVEL 1;
COMP "HRDATA_M0[2]" LOCATE = SITE "H38" LEVEL 1;
COMP "HADDR_M0[3]" LOCATE = SITE "K29" LEVEL 1;
COMP "HRDATA_M0[3]" LOCATE = SITE "N30" LEVEL 1;
COMP "HADDR_M0[4]" LOCATE = SITE "B30" LEVEL 1;
COMP "HRDATA_M0[4]" LOCATE = SITE "P29" LEVEL 1;
COMP "HADDR_M0[5]" LOCATE = SITE "B31" LEVEL 1;
COMP "HRDATA_M0[5]" LOCATE = SITE "L34" LEVEL 1;
COMP "HADDR_M0[6]" LOCATE = SITE "C33" LEVEL 1;
COMP "HRDATA_M0[6]" LOCATE = SITE "L35" LEVEL 1;
COMP "HADDR_M0[7]" LOCATE = SITE "C34" LEVEL 1;
COMP "HRDATA_M0[7]" LOCATE = SITE "J36" LEVEL 1;
COMP "HADDR_M0[8]" LOCATE = SITE "F31" LEVEL 1;
COMP "CLK50M_Out" LOCATE = SITE "L11" LEVEL 1;
COMP "HRDATA_M0[8]" LOCATE = SITE "J37" LEVEL 1;
COMP "HADDR_M0[9]" LOCATE = SITE "G31" LEVEL 1;
COMP "HRDATA_M0[9]" LOCATE = SITE "K36" LEVEL 1;
COMP "SevenSegCtrl[0]" LOCATE = SITE "AJ21" LEVEL 1;
COMP "SevenSegCtrl[1]" LOCATE = SITE "AJ20" LEVEL 1;
COMP "SevenSegCtrl[2]" LOCATE = SITE "AG20" LEVEL 1;
COMP "SevenSegCtrl[3]" LOCATE = SITE "AF20" LEVEL 1;
COMP "UART_RXD0" LOCATE = SITE "Y11" LEVEL 1;
COMP "UART_RXD1" LOCATE = SITE "W5" LEVEL 1;
COMP "SevenSegCtrl[4]" LOCATE = SITE "AL20" LEVEL 1;
COMP "SevenSegCtrl[5]" LOCATE = SITE "AL19" LEVEL 1;
COMP "SevenSegCtrl[6]" LOCATE = SITE "AH18" LEVEL 1;
COMP "SevenSegCtrl[7]" LOCATE = SITE "AG18" LEVEL 1;
COMP "HWDATA_M0[0]" LOCATE = SITE "D35" LEVEL 1;
COMP "HWDATA_M0[1]" LOCATE = SITE "C37" LEVEL 1;
COMP "HWDATA_M0[2]" LOCATE = SITE "C38" LEVEL 1;
COMP "HWDATA_M0[3]" LOCATE = SITE "E34" LEVEL 1;
COMP "UART_TXD0" LOCATE = SITE "Y13" LEVEL 1;
COMP "HWDATA_M0[4]" LOCATE = SITE "F34" LEVEL 1;
COMP "UART_TXD1" LOCATE = SITE "AA10" LEVEL 1;
COMP "HWDATA_M0[5]" LOCATE = SITE "F35" LEVEL 1;
COMP "HWDATA_M0[6]" LOCATE = SITE "G35" LEVEL 1;
COMP "HWDATA_M0[7]" LOCATE = SITE "D36" LEVEL 1;
COMP "HWDATA_M0[8]" LOCATE = SITE "D37" LEVEL 1;
COMP "HWDATA_M0[9]" LOCATE = SITE "H33" LEVEL 1;
COMP "HADDR_S0[0]" LOCATE = SITE "AC38" LEVEL 1;
COMP "HRDATA_S0[0]" LOCATE = SITE "AK34" LEVEL 1;
COMP "HADDR_S0[1]" LOCATE = SITE "AC39" LEVEL 1;
COMP "HRDATA_S0[1]" LOCATE = SITE "AP39" LEVEL 1;
COMP "HADDR_S0[2]" LOCATE = SITE "AA31" LEVEL 1;
COMP "HRDATA_S0[2]" LOCATE = SITE "AN39" LEVEL 1;
COMP "HADDR_S0[3]" LOCATE = SITE "Y31" LEVEL 1;
COMP "HADDR_S1[0]" LOCATE = SITE "AP32" LEVEL 1;
COMP "HRDATA_S0[3]" LOCATE = SITE "AF28" LEVEL 1;
COMP "HADDR_S0[4]" LOCATE = SITE "AC35" LEVEL 1;
COMP "HRDATA_S1[0]" LOCATE = SITE "AV13" LEVEL 1;
COMP "HADDR_S1[1]" LOCATE = SITE "AN32" LEVEL 1;
COMP "HRDATA_S0[4]" LOCATE = SITE "AF29" LEVEL 1;
COMP "HADDR_S0[5]" LOCATE = SITE "AB35" LEVEL 1;
COMP "HRDATA_S1[1]" LOCATE = SITE "AP9" LEVEL 1;
COMP "HADDR_S1[2]" LOCATE = SITE "AN30" LEVEL 1;
COMP "HRDATA_S0[5]" LOCATE = SITE "AN37" LEVEL 1;
COMP "HADDR_S0[6]" LOCATE = SITE "AB33" LEVEL 1;
COMP "HRDATA_S1[2]" LOCATE = SITE "AR9" LEVEL 1;
COMP "HADDR_S1[3]" LOCATE = SITE "AP31" LEVEL 1;
COMP "HREADY_OUT_S0" LOCATE = SITE "AT35" LEVEL 1;
COMP "HRDATA_S0[6]" LOCATE = SITE "AN38" LEVEL 1;
COMP "HADDR_S0[7]" LOCATE = SITE "AA33" LEVEL 1;
COMP "HREADY_OUT_S1" LOCATE = SITE "AM15" LEVEL 1;
COMP "HRDATA_S1[3]" LOCATE = SITE "AP12" LEVEL 1;
COMP "HADDR_S1[4]" LOCATE = SITE "AK29" LEVEL 1;
COMP "HRDATA_S0[7]" LOCATE = SITE "AH30" LEVEL 1;
COMP "HADDR_S0[8]" LOCATE = SITE "AC33" LEVEL 1;
COMP "HRDATA_S1[4]" LOCATE = SITE "AR12" LEVEL 1;
COMP "HADDR_S1[5]" LOCATE = SITE "AJ29" LEVEL 1;
COMP "HRDATA_S0[8]" LOCATE = SITE "AG30" LEVEL 1;
COMP "HADDR_S0[9]" LOCATE = SITE "AC34" LEVEL 1;
COMP "HRDATA_S1[5]" LOCATE = SITE "AT8" LEVEL 1;
COMP "HADDR_S1[6]" LOCATE = SITE "AT24" LEVEL 1;
COMP "HRDATA_S0[9]" LOCATE = SITE "AK33" LEVEL 1;
COMP "HRDATA_S1[6]" LOCATE = SITE "AU8" LEVEL 1;
COMP "HADDR_S1[7]" LOCATE = SITE "AT25" LEVEL 1;
COMP "HRDATA_S1[7]" LOCATE = SITE "AL13" LEVEL 1;
COMP "HADDR_S1[8]" LOCATE = SITE "AW34" LEVEL 1;
COMP "HRDATA_S1[8]" LOCATE = SITE "AL14" LEVEL 1;
COMP "HADDR_S1[9]" LOCATE = SITE "AV34" LEVEL 1;
COMP "HRDATA_S1[9]" LOCATE = SITE "AU6" LEVEL 1;
COMP "SevenSegComm_FPGA0[0]" LOCATE = SITE "H25" LEVEL 1;
COMP "SevenSegComm_FPGA0[1]" LOCATE = SITE "J26" LEVEL 1;
COMP "SevenSegComm_FPGA0[2]" LOCATE = SITE "G30" LEVEL 1;
COMP "SevenSegComm_FPGA0[3]" LOCATE = SITE "H29" LEVEL 1;
COMP "HWDATA_S0[0]" LOCATE = SITE "AH35" LEVEL 1;
COMP "HWDATA_S0[1]" LOCATE = SITE "AK38" LEVEL 1;
COMP "HWDATA_S0[2]" LOCATE = SITE "AK39" LEVEL 1;
COMP "HWDATA_S0[3]" LOCATE = SITE "AM37" LEVEL 1;
COMP "HWDATA_S1[0]" LOCATE = SITE "AV29" LEVEL 1;
COMP "HWDATA_S0[4]" LOCATE = SITE "AM38" LEVEL 1;
COMP "HWDATA_S1[1]" LOCATE = SITE "AV27" LEVEL 1;
COMP "HWDATA_S0[5]" LOCATE = SITE "AL38" LEVEL 1;
COMP "HWDATA_S1[2]" LOCATE = SITE "AW27" LEVEL 1;
COMP "HWDATA_S0[6]" LOCATE = SITE "AL39" LEVEL 1;
COMP "UART_RXD0_F0" LOCATE = SITE "A26" LEVEL 1;
COMP "HWDATA_S1[3]" LOCATE = SITE "AT29" LEVEL 1;
COMP "HWDATA_S0[7]" LOCATE = SITE "AM36" LEVEL 1;
COMP "HWDATA_S1[4]" LOCATE = SITE "AR29" LEVEL 1;
COMP "HWDATA_S0[8]" LOCATE = SITE "AL36" LEVEL 1;
COMP "HSEL_S0" LOCATE = SITE "AW36" LEVEL 1;
COMP "HSEL_S1" LOCATE = SITE "AN8" LEVEL 1;
COMP "HWDATA_S1[5]" LOCATE = SITE "AU26" LEVEL 1;
COMP "HWDATA_S0[9]" LOCATE = SITE "AK36" LEVEL 1;
COMP "HWDATA_S1[6]" LOCATE = SITE "AU27" LEVEL 1;
COMP "UART_RXD1_F0" LOCATE = SITE "F28" LEVEL 1;
COMP "HWDATA_S1[7]" LOCATE = SITE "AT28" LEVEL 1;
COMP "CLK" LOCATE = SITE "J19" LEVEL 1;
COMP "HWDATA_S1[8]" LOCATE = SITE "AR28" LEVEL 1;
COMP "HWDATA_S1[9]" LOCATE = SITE "AW10" LEVEL 1;
COMP "HREADY_IN_M0" LOCATE = SITE "R32" LEVEL 1;
COMP "MacIntSrc[0]" LOCATE = SITE "D27" LEVEL 1;
COMP "MacIntSrc[1]" LOCATE = SITE "A30" LEVEL 1;
COMP "WDATA_DDR[0]" LOCATE = SITE "Y36" LEVEL 1;
COMP "WDATA_DDR[1]" LOCATE = SITE "Y33" LEVEL 1;
COMP "HADDR_M0[10]" LOCATE = SITE "B35" LEVEL 1;
COMP "AWREADY_DDR" LOCATE = SITE "AA36" LEVEL 1;
COMP "WDATA_DDR[2]" LOCATE = SITE "Y34" LEVEL 1;
COMP "HADDR_M0[11]" LOCATE = SITE "C35" LEVEL 1;
COMP "HRDATA_M0[10]" LOCATE = SITE "L36" LEVEL 1;
COMP "WDATA_DDR[3]" LOCATE = SITE "AB36" LEVEL 1;
COMP "HADDR_M0[20]" LOCATE = SITE "B28" LEVEL 1;
COMP "HADDR_M0[12]" LOCATE = SITE "C27" LEVEL 1;
COMP "HRDATA_M0[11]" LOCATE = SITE "H39" LEVEL 1;
COMP "WDATA_DDR[4]" LOCATE = SITE "AB37" LEVEL 1;
COMP "HADDR_M0[21]" LOCATE = SITE "C28" LEVEL 1;
COMP "HADDR_M0[13]" LOCATE = SITE "B27" LEVEL 1;
COMP "HRDATA_M0[12]" LOCATE = SITE "J39" LEVEL 1;
COMP "HRDATA_M0[20]" LOCATE = SITE "K38" LEVEL 1;
COMP "WDATA_DDR[5]" LOCATE = SITE "AB38" LEVEL 1;
COMP "UART_TXD0_F0" LOCATE = SITE "B26" LEVEL 1;
COMP "HADDR_M0[30]" LOCATE = SITE "E33" LEVEL 1;
COMP "HADDR_M0[22]" LOCATE = SITE "A33" LEVEL 1;
COMP "HADDR_M0[14]" LOCATE = SITE "F29" LEVEL 1;
COMP "HRDATA_M0[13]" LOCATE = SITE "M33" LEVEL 1;
COMP "HRDATA_M0[21]" LOCATE = SITE "N33" LEVEL 1;
COMP "WDATA_DDR[6]" LOCATE = SITE "AA38" LEVEL 1;
COMP "HADDR_M0[31]" LOCATE = SITE "F33" LEVEL 1;
COMP "HADDR_M0[23]" LOCATE = SITE "A34" LEVEL 1;
COMP "HADDR_M0[15]" LOCATE = SITE "G28" LEVEL 1;
COMP "HRDATA_M0[14]" LOCATE = SITE "N32" LEVEL 1;
COMP "HRDATA_M0[22]" LOCATE = SITE "N34" LEVEL 1;
COMP "HRDATA_M0[30]" LOCATE = SITE "M37" LEVEL 1;
COMP "WDATA_DDR[7]" LOCATE = SITE "Y27" LEVEL 1;
COMP "HADDR_M0[24]" LOCATE = SITE "C29" LEVEL 1;
COMP "HADDR_M0[16]" LOCATE = SITE "J27" LEVEL 1;
COMP "HRDATA_M0[15]" LOCATE = SITE "R28" LEVEL 1;
COMP "HRDATA_M0[23]" LOCATE = SITE "P31" LEVEL 1;
COMP "HRDATA_M0[31]" LOCATE = SITE "R31" LEVEL 1;
COMP "WDATA_DDR[8]" LOCATE = SITE "AA28" LEVEL 1;
COMP "HADDR_M0[25]" LOCATE = SITE "C30" LEVEL 1;
COMP "HADDR_M0[17]" LOCATE = SITE "H27" LEVEL 1;
COMP "HRDATA_M0[16]" LOCATE = SITE "R29" LEVEL 1;
COMP "HRDATA_M0[24]" LOCATE = SITE "P32" LEVEL 1;
COMP "WDATA_DDR[9]" LOCATE = SITE "W29" LEVEL 1;
COMP "UART_TXD1_F0" LOCATE = SITE "E28" LEVEL 1;
COMP "HADDR_M0[26]" LOCATE = SITE "E31" LEVEL 1;
COMP "HADDR_M0[18]" LOCATE = SITE "C32" LEVEL 1;
COMP "HRDATA_M0[17]" LOCATE = SITE "M35" LEVEL 1;
COMP "HRDATA_M0[25]" LOCATE = SITE "K39" LEVEL 1;
COMP "HADDR_M0[27]" LOCATE = SITE "E32" LEVEL 1;
COMP "HADDR_M0[19]" LOCATE = SITE "D32" LEVEL 1;
COMP "HRDATA_M0[18]" LOCATE = SITE "N35" LEVEL 1;
COMP "HRDATA_M0[26]" LOCATE = SITE "L39" LEVEL 1;
COMP "HADDR_M0[28]" LOCATE = SITE "M27" LEVEL 1;
COMP "HRDATA_M0[19]" LOCATE = SITE "K37" LEVEL 1;
COMP "HRDATA_M0[27]" LOCATE = SITE "L38" LEVEL 1;
COMP "HADDR_M0[29]" LOCATE = SITE "L28" LEVEL 1;
COMP "HRDATA_M0[28]" LOCATE = SITE "M38" LEVEL 1;
COMP "HRDATA_M0[29]" LOCATE = SITE "M36" LEVEL 1;
COMP "AWVALID_DDR" LOCATE = SITE "AA39" LEVEL 1;
COMP "WREADY_DDR" LOCATE = SITE "AJ9" LEVEL 1;
COMP "WVALID_DDR" LOCATE = SITE "AN9" LEVEL 1;
COMP "HSIZE_M0[0]" LOCATE = SITE "G33" LEVEL 1;
COMP "HSIZE_M0[1]" LOCATE = SITE "A35" LEVEL 1;
COMP "HSIZE_M0[2]" LOCATE = SITE "A36" LEVEL 1;
COMP "HWDATA_M0[10]" LOCATE = SITE "H34" LEVEL 1;
COMP "HWDATA_M0[11]" LOCATE = SITE "E36" LEVEL 1;
COMP "HWDATA_M0[20]" LOCATE = SITE "E38" LEVEL 1;
COMP "HWDATA_M0[12]" LOCATE = SITE "F36" LEVEL 1;
COMP "HWDATA_M0[21]" LOCATE = SITE "H35" LEVEL 1;
COMP "HWDATA_M0[13]" LOCATE = SITE "C39" LEVEL 1;
COMP "HSIZE_S0[0]" LOCATE = SITE "AG38" LEVEL 1;
COMP "HWDATA_M0[30]" LOCATE = SITE "G38" LEVEL 1;
COMP "HWDATA_M0[22]" LOCATE = SITE "J35" LEVEL 1;
COMP "HWDATA_M0[14]" LOCATE = SITE "D39" LEVEL 1;
COMP "HSIZE_S0[1]" LOCATE = SITE "AH37" LEVEL 1;
COMP "HWDATA_M0[31]" LOCATE = SITE "K33" LEVEL 1;
COMP "HWDATA_M0[23]" LOCATE = SITE "M30" LEVEL 1;
COMP "HWDATA_M0[15]" LOCATE = SITE "J32" LEVEL 1;
COMP "HSIZE_S0[2]" LOCATE = SITE "AH38" LEVEL 1;
COMP "HWDATA_M0[24]" LOCATE = SITE "M31" LEVEL 1;
COMP "HWDATA_M0[16]" LOCATE = SITE "K32" LEVEL 1;
COMP "HWDATA_M0[25]" LOCATE = SITE "E39" LEVEL 1;
COMP "HWDATA_M0[17]" LOCATE = SITE "G36" LEVEL 1;
COMP "HSIZE_S1[0]" LOCATE = SITE "AN28" LEVEL 1;
COMP "HWDATA_M0[26]" LOCATE = SITE "F39" LEVEL 1;
COMP "HWDATA_M0[18]" LOCATE = SITE "G37" LEVEL 1;
COMP "HSIZE_S1[1]" LOCATE = SITE "AL28" LEVEL 1;
COMP "HWDATA_M0[27]" LOCATE = SITE "J34" LEVEL 1;
COMP "HWDATA_M0[19]" LOCATE = SITE "E37" LEVEL 1;
COMP "HSIZE_S1[2]" LOCATE = SITE "AM28" LEVEL 1;
COMP "HWDATA_M0[28]" LOCATE = SITE "K34" LEVEL 1;
COMP "HWDATA_M0[29]" LOCATE = SITE "F38" LEVEL 1;
COMP "HADDR_S0[10]" LOCATE = SITE "AD37" LEVEL 1;
COMP "HADDR_S0[11]" LOCATE = SITE "AC37" LEVEL 1;
COMP "HADDR_S0[20]" LOCATE = SITE "AC30" LEVEL 1;
COMP "HRDATA_S0[10]" LOCATE = SITE "AJ32" LEVEL 1;
COMP "HADDR_S0[12]" LOCATE = SITE "AC32" LEVEL 1;
COMP "HADDR_S0[21]" LOCATE = SITE "AB30" LEVEL 1;
COMP "HRDATA_S0[11]" LOCATE = SITE "AR37" LEVEL 1;
COMP "HADDR_S0[13]" LOCATE = SITE "AB31" LEVEL 1;
COMP "HADDR_S0[14]" LOCATE = SITE "AE39" LEVEL 1;
COMP "HADDR_S0[22]" LOCATE = SITE "AE37" LEVEL 1;
COMP "HADDR_S0[30]" LOCATE = SITE "AF36" LEVEL 1;
COMP "HRDATA_S0[20]" LOCATE = SITE "AH29" LEVEL 1;
COMP "HRDATA_S0[12]" LOCATE = SITE "AR38" LEVEL 1;
COMP "HADDR_S0[15]" LOCATE = SITE "AD39" LEVEL 1;
COMP "HADDR_S0[23]" LOCATE = SITE "AE38" LEVEL 1;
COMP "HADDR_S0[31]" LOCATE = SITE "AE36" LEVEL 1;
COMP "HRDATA_S0[21]" LOCATE = SITE "AP36" LEVEL 1;
COMP "HRDATA_S0[13]" LOCATE = SITE "AM35" LEVEL 1;
COMP "HADDR_S0[16]" LOCATE = SITE "AF38" LEVEL 1;
COMP "HADDR_S0[24]" LOCATE = SITE "AB27" LEVEL 1;
COMP "HRDATA_S0[30]" LOCATE = SITE "AL33" LEVEL 1;
COMP "HRDATA_S0[22]" LOCATE = SITE "AP37" LEVEL 1;
COMP "HRDATA_S0[14]" LOCATE = SITE "AL35" LEVEL 1;
COMP "HADDR_S0[17]" LOCATE = SITE "AF39" LEVEL 1;
COMP "HADDR_S0[25]" LOCATE = SITE "AB28" LEVEL 1;
COMP "HRDATA_S0[31]" LOCATE = SITE "AT34" LEVEL 1;
COMP "HRDATA_S0[23]" LOCATE = SITE "AN33" LEVEL 1;
COMP "HRDATA_S0[15]" LOCATE = SITE "AP35" LEVEL 1;
COMP "HADDR_S0[18]" LOCATE = SITE "AD35" LEVEL 1;
COMP "HADDR_S0[26]" LOCATE = SITE "AE34" LEVEL 1;
COMP "HADDR_S1[10]" LOCATE = SITE "AW30" LEVEL 1;
COMP "HRDATA_S0[24]" LOCATE = SITE "AN34" LEVEL 1;
COMP "HRDATA_S0[16]" LOCATE = SITE "AN35" LEVEL 1;
COMP "HADDR_S0[19]" LOCATE = SITE "AD36" LEVEL 1;
COMP "HADDR_S0[27]" LOCATE = SITE "AD34" LEVEL 1;
COMP "HADDR_S1[11]" LOCATE = SITE "AW31" LEVEL 1;
COMP "HRDATA_S0[25]" LOCATE = SITE "AU38" LEVEL 1;
COMP "HRDATA_S0[17]" LOCATE = SITE "AT39" LEVEL 1;
COMP "HADDR_S1[20]" LOCATE = SITE "AR31" LEVEL 1;
COMP "HADDR_S0[28]" LOCATE = SITE "AD31" LEVEL 1;
COMP "HRDATA_S1[10]" LOCATE = SITE "AU7" LEVEL 1;
COMP "HADDR_S1[12]" LOCATE = SITE "AV33" LEVEL 1;
COMP "HRDATA_S0[26]" LOCATE = SITE "AT38" LEVEL 1;
COMP "HRDATA_S0[18]" LOCATE = SITE "AR39" LEVEL 1;
COMP "HADDR_S1[21]" LOCATE = SITE "AR32" LEVEL 1;
COMP "HADDR_S0[29]" LOCATE = SITE "AD32" LEVEL 1;
COMP "HRDATA_S1[11]" LOCATE = SITE "AP11" LEVEL 1;
COMP "HADDR_S1[13]" LOCATE = SITE "AU33" LEVEL 1;
COMP "HRDATA_S0[27]" LOCATE = SITE "AU35" LEVEL 1;
COMP "HRDATA_S0[19]" LOCATE = SITE "AG28" LEVEL 1;
COMP "HTRANS_M0[0]" LOCATE = SITE "H30" LEVEL 1;
COMP "HADDR_S1[14]" LOCATE = SITE "AP25" LEVEL 1;
COMP "HADDR_S1[22]" LOCATE = SITE "AL26" LEVEL 1;
COMP "HADDR_S1[30]" LOCATE = SITE "AW25" LEVEL 1;
COMP "HRDATA_S1[20]" LOCATE = SITE "AW7" LEVEL 1;
COMP "HRDATA_S1[12]" LOCATE = SITE "AN12" LEVEL 1;
COMP "HRDATA_S0[28]" LOCATE = SITE "AU36" LEVEL 1;
COMP "HTRANS_M0[1]" LOCATE = SITE "J30" LEVEL 1;
COMP "HADDR_S1[15]" LOCATE = SITE "AP26" LEVEL 1;
COMP "HADDR_S1[23]" LOCATE = SITE "AM27" LEVEL 1;
COMP "HADDR_S1[31]" LOCATE = SITE "AW26" LEVEL 1;
COMP "HRDATA_S1[21]" LOCATE = SITE "AW4" LEVEL 1;
COMP "HRDATA_S1[13]" LOCATE = SITE "AJ12" LEVEL 1;
COMP "HRDATA_S0[29]" LOCATE = SITE "AM33" LEVEL 1;
COMP "HADDR_S1[16]" LOCATE = SITE "AT31" LEVEL 1;
COMP "HADDR_S1[24]" LOCATE = SITE "AU31" LEVEL 1;
COMP "HRDATA_S1[30]" LOCATE = SITE "AP7" LEVEL 1;
COMP "HRDATA_S1[22]" LOCATE = SITE "AW5" LEVEL 1;
COMP "HRDATA_S1[14]" LOCATE = SITE "AH13" LEVEL 1;
COMP "HADDR_S1[17]" LOCATE = SITE "AT30" LEVEL 1;
COMP "HADDR_S1[25]" LOCATE = SITE "AU32" LEVEL 1;
COMP "HRDATA_S1[31]" LOCATE = SITE "AN15" LEVEL 1;
COMP "HRDATA_S1[23]" LOCATE = SITE "AK11" LEVEL 1;
COMP "HRDATA_S1[15]" LOCATE = SITE "AN10" LEVEL 1;
COMP "HADDR_S1[18]" LOCATE = SITE "AU25" LEVEL 1;
COMP "HADDR_S1[26]" LOCATE = SITE "AV28" LEVEL 1;
COMP "HRDATA_S1[24]" LOCATE = SITE "AL11" LEVEL 1;
COMP "HRDATA_S1[16]" LOCATE = SITE "AM11" LEVEL 1;
COMP "HADDR_S1[19]" LOCATE = SITE "AV25" LEVEL 1;
COMP "HADDR_S1[27]" LOCATE = SITE "AU28" LEVEL 1;
COMP "HRDATA_S1[25]" LOCATE = SITE "AV3" LEVEL 1;
COMP "HRDATA_S1[17]" LOCATE = SITE "AL10" LEVEL 1;
COMP "HADDR_S1[28]" LOCATE = SITE "AW32" LEVEL 1;
COMP "HRDATA_S1[26]" LOCATE = SITE "AV4" LEVEL 1;
COMP "HRDATA_S1[18]" LOCATE = SITE "AM10" LEVEL 1;
COMP "HADDR_S1[29]" LOCATE = SITE "AV32" LEVEL 1;
COMP "HRDATA_S1[27]" LOCATE = SITE "AR7" LEVEL 1;
COMP "HRDATA_S1[19]" LOCATE = SITE "AW6" LEVEL 1;
COMP "HRDATA_S1[28]" LOCATE = SITE "AR8" LEVEL 1;
COMP "HRDATA_S1[29]" LOCATE = SITE "AN7" LEVEL 1;
COMP "nRESET" LOCATE = SITE "AH19" LEVEL 1;
COMP "HTRANS_S0[0]" LOCATE = SITE "AJ39" LEVEL 1;
COMP "HTRANS_S0[1]" LOCATE = SITE "AH39" LEVEL 1;
COMP "HTRANS_S1[0]" LOCATE = SITE "AP29" LEVEL 1;
COMP "HTRANS_S1[1]" LOCATE = SITE "AN29" LEVEL 1;
COMP "HWDATA_S0[10]" LOCATE = SITE "AK37" LEVEL 1;
COMP "HWDATA_S0[11]" LOCATE = SITE "AG33" LEVEL 1;
COMP "HWDATA_S0[20]" LOCATE = SITE "AE26" LEVEL 1;
COMP "HWDATA_S0[12]" LOCATE = SITE "AF33" LEVEL 1;
COMP "HWDATA_S0[21]" LOCATE = SITE "AF31" LEVEL 1;
COMP "HWDATA_S0[13]" LOCATE = SITE "AC28" LEVEL 1;
COMP "HWDATA_S0[30]" LOCATE = SITE "AE29" LEVEL 1;
COMP "HWDATA_S0[22]" LOCATE = SITE "AG32" LEVEL 1;
COMP "HWDATA_S0[14]" LOCATE = SITE "AD29" LEVEL 1;
COMP "HRESP_M0[0]" LOCATE = SITE "P34" LEVEL 1;
COMP "HWDATA_S0[31]" LOCATE = SITE "AL34" LEVEL 1;
COMP "HWDATA_S0[23]" LOCATE = SITE "AH32" LEVEL 1;
COMP "HWDATA_S0[15]" LOCATE = SITE "AD27" LEVEL 1;
COMP "HRESP_M0[1]" LOCATE = SITE "P35" LEVEL 1;
COMP "HWDATA_S0[24]" LOCATE = SITE "AH33" LEVEL 1;
COMP "HWDATA_S0[16]" LOCATE = SITE "AC27" LEVEL 1;
COMP "HWDATA_S0[25]" LOCATE = SITE "AJ34" LEVEL 1;
COMP "HWDATA_S0[17]" LOCATE = SITE "AE31" LEVEL 1;
COMP "HWDATA_S1[10]" LOCATE = SITE "AW11" LEVEL 1;
COMP "HWDATA_S0[26]" LOCATE = SITE "AH34" LEVEL 1;
COMP "HWDATA_S0[18]" LOCATE = SITE "AE32" LEVEL 1;
COMP "HWDATA_S1[11]" LOCATE = SITE "AV14" LEVEL 1;
COMP "HWDATA_S0[27]" LOCATE = SITE "AD25" LEVEL 1;
COMP "HWDATA_S0[19]" LOCATE = SITE "AD26" LEVEL 1;
COMP "HWDATA_S1[20]" LOCATE = SITE "AN14" LEVEL 1;
COMP "HWDATA_S1[12]" LOCATE = SITE "AW14" LEVEL 1;
COMP "HWDATA_S0[28]" LOCATE = SITE "AE24" LEVEL 1;
COMP "HWDATA_S1[21]" LOCATE = SITE "AV9" LEVEL 1;
COMP "HWDATA_S1[13]" LOCATE = SITE "AU10" LEVEL 1;
COMP "HWDATA_S0[29]" LOCATE = SITE "AE28" LEVEL 1;
COMP "HWDATA_S1[30]" LOCATE = SITE "AT10" LEVEL 1;
COMP "HWDATA_S1[22]" LOCATE = SITE "AW9" LEVEL 1;
COMP "HWDATA_S1[14]" LOCATE = SITE "AV10" LEVEL 1;
COMP "HWDATA_S1[31]" LOCATE = SITE "AU13" LEVEL 1;
COMP "HWDATA_S1[23]" LOCATE = SITE "AV12" LEVEL 1;
COMP "HWDATA_S1[15]" LOCATE = SITE "AR13" LEVEL 1;
COMP "HWDATA_S1[24]" LOCATE = SITE "AW12" LEVEL 1;
COMP "HWDATA_S1[16]" LOCATE = SITE "AT13" LEVEL 1;
COMP "HWDATA_S1[25]" LOCATE = SITE "AV7" LEVEL 1;
COMP "HWDATA_S1[17]" LOCATE = SITE "AR11" LEVEL 1;
COMP "HWDATA_S1[26]" LOCATE = SITE "AV8" LEVEL 1;
COMP "HWDATA_S1[18]" LOCATE = SITE "AT11" LEVEL 1;
COMP "HWDATA_S1[27]" LOCATE = SITE "AU11" LEVEL 1;
COMP "HWDATA_S1[19]" LOCATE = SITE "AM13" LEVEL 1;
COMP "HWDATA_S1[28]" LOCATE = SITE "AU12" LEVEL 1;
COMP "HWDATA_S1[29]" LOCATE = SITE "AT9" LEVEL 1;
COMP "HPROT_M0[0]" LOCATE = SITE "B37" LEVEL 1;
COMP "HPROT_M0[1]" LOCATE = SITE "L30" LEVEL 1;
COMP "HPROT_M0[2]" LOCATE = SITE "L31" LEVEL 1;
COMP "HPROT_M0[3]" LOCATE = SITE "D34" LEVEL 1;
TIMEGRP PLL1_CLKDV_BUF = BEL "CLK50MCnt[0]" BEL "CLK50MCnt[1]" BEL
        "CLK50MCnt[2]" BEL "CLK50MCnt[3]" BEL "CLK50MCnt[4]" BEL
        "CLK50MCnt[5]" BEL "CLK50MCnt[6]" BEL "CLK50MCnt[7]" BEL
        "CLK50MCnt[8]" BEL "CLK50MCnt[9]" BEL "CLK50MCnt[10]" BEL
        "CLK50MCnt[11]" BEL "CLK50MCnt[12]" BEL "CLK50MCnt[13]" BEL
        "CLK50MCnt[14]" BEL "CLK50MCnt[15]" BEL "CLK50MCnt[16]" BEL
        "CLK50MCnt[17]" BEL "CLK50MCnt[18]" BEL "CLK50MCnt[19]" BEL
        "CLK50MCnt[20]" BEL "CLK50MCnt[21]" BEL "CLK50MCnt[22]" BEL
        "CLK50MCnt[23]" BEL "CLK50MCnt[24]" BEL "CLK50MCnt[25]" BEL
        "CLK50MCnt[26]";
PIN sram0/ram0/memory_1.memory_1_0_0_pins<159> = BEL
        "sram0/ram0/memory_1.memory_1_0_0" PINNAME CLKA;
PIN sram0/ram0/memory_1.memory_1_0_1_pins<159> = BEL
        "sram0/ram0/memory_1.memory_1_0_1" PINNAME CLKA;
PIN sram0/ram1/memory_1.memory_1_0_0_pins<159> = BEL
        "sram0/ram1/memory_1.memory_1_0_0" PINNAME CLKA;
PIN sram0/ram1/memory_1.memory_1_0_1_pins<159> = BEL
        "sram0/ram1/memory_1.memory_1_0_1" PINNAME CLKA;
PIN sram0/ram2/memory_1.memory_1_0_0_pins<159> = BEL
        "sram0/ram2/memory_1.memory_1_0_0" PINNAME CLKA;
PIN sram0/ram2/memory_1.memory_1_0_1_pins<159> = BEL
        "sram0/ram2/memory_1.memory_1_0_1" PINNAME CLKA;
PIN sram0/ram3/memory_1.memory_1_0_0_pins<159> = BEL
        "sram0/ram3/memory_1.memory_1_0_0" PINNAME CLKA;
PIN sram0/ram3/memory_1.memory_1_0_1_pins<159> = BEL
        "sram0/ram3/memory_1.memory_1_0_1" PINNAME CLKA;
PIN sram1/ram0/memory_1.memory_1_0_0_pins<159> = BEL
        "sram1/ram0/memory_1.memory_1_0_0" PINNAME CLKA;
PIN sram1/ram0/memory_1.memory_1_0_1_pins<159> = BEL
        "sram1/ram0/memory_1.memory_1_0_1" PINNAME CLKA;
PIN sram1/ram1/memory_1.memory_1_0_0_pins<159> = BEL
        "sram1/ram1/memory_1.memory_1_0_0" PINNAME CLKA;
PIN sram1/ram1/memory_1.memory_1_0_1_pins<159> = BEL
        "sram1/ram1/memory_1.memory_1_0_1" PINNAME CLKA;
PIN sram1/ram2/memory_1.memory_1_0_0_pins<159> = BEL
        "sram1/ram2/memory_1.memory_1_0_0" PINNAME CLKA;
PIN sram1/ram2/memory_1.memory_1_0_1_pins<159> = BEL
        "sram1/ram2/memory_1.memory_1_0_1" PINNAME CLKA;
PIN sram1/ram3/memory_1.memory_1_0_0_pins<159> = BEL
        "sram1/ram3/memory_1.memory_1_0_0" PINNAME CLKA;
PIN sram1/ram3/memory_1.memory_1_0_1_pins<159> = BEL
        "sram1/ram3/memory_1.memory_1_0_1" PINNAME CLKA;
TIMEGRP PLL1_CLK0_BUF = BEL "CLK100MCnt[0]" BEL "CLK100MCnt[1]" BEL
        "CLK100MCnt[2]" BEL "CLK100MCnt[3]" BEL "CLK100MCnt[4]" BEL
        "CLK100MCnt[5]" BEL "CLK100MCnt[6]" BEL "CLK100MCnt[7]" BEL
        "CLK100MCnt[8]" BEL "CLK100MCnt[9]" BEL "CLK100MCnt[10]" BEL
        "CLK100MCnt[11]" BEL "CLK100MCnt[12]" BEL "CLK100MCnt[13]" BEL
        "CLK100MCnt[14]" BEL "CLK100MCnt[15]" BEL "CLK100MCnt[16]" BEL
        "CLK100MCnt[17]" BEL "CLK100MCnt[18]" BEL "CLK100MCnt[19]" BEL
        "CLK100MCnt[20]" BEL "CLK100MCnt[21]" BEL "CLK100MCnt[22]" BEL
        "CLK100MCnt[23]" BEL "CLK100MCnt[24]" BEL "CLK100MCnt[25]" BEL
        "CLK100MCnt[26]" BEL "ismc0/ahb_addr_dp[7]" BEL "ismc0/ahb_addr_dp[8]"
        BEL "ismc0/ahb_addr_dp[9]" BEL "ismc0/ahb_addr_dp[10]" BEL
        "ismc0/ahb_addr_dp[11]" BEL "ismc0/ahb_addr_dp[12]" BEL
        "ismc0/ahb_addr_dp[13]" BEL "ismc0/ahb_addr_dp[2]" BEL
        "ismc0/ahb_addr_dp[3]" BEL "ismc0/ahb_addr_dp[4]" BEL
        "ismc0/ahb_addr_dp[5]" BEL "ismc0/ahb_addr_dp[6]" BEL "ismc0/wr_be[3]"
        BEL "ismc0/wr_be[0]" BEL "ismc0/wr_be[1]" BEL "ismc0/wr_be[2]" BEL
        "ismc0/wr_cmd" BEL "ismc0/rd_cmd" BEL "ismc0/cs_i" BEL
        "ismc1/ahb_addr_dp[2]" BEL "ismc1/ahb_addr_dp[3]" BEL
        "ismc1/ahb_addr_dp[4]" BEL "ismc1/ahb_addr_dp[5]" BEL
        "ismc1/ahb_addr_dp[6]" BEL "ismc1/ahb_addr_dp[7]" BEL
        "ismc1/ahb_addr_dp[8]" BEL "ismc1/ahb_addr_dp[9]" BEL
        "ismc1/ahb_addr_dp[10]" BEL "ismc1/ahb_addr_dp[11]" BEL
        "ismc1/ahb_addr_dp[12]" BEL "ismc1/ahb_addr_dp[13]" BEL
        "ismc1/wr_be[0]" BEL "ismc1/wr_be[1]" BEL "ismc1/wr_be[2]" BEL
        "ismc1/wr_be[3]" BEL "ismc1/rd_cmd" BEL "ismc1/wr_cmd" BEL
        "ismc1/cs_i" PIN "sram0/ram0/memory_1.memory_1_0_0_pins<159>" PIN
        "sram0/ram0/memory_1.memory_1_0_1_pins<159>" PIN
        "sram0/ram1/memory_1.memory_1_0_0_pins<159>" PIN
        "sram0/ram1/memory_1.memory_1_0_1_pins<159>" PIN
        "sram0/ram2/memory_1.memory_1_0_0_pins<159>" PIN
        "sram0/ram2/memory_1.memory_1_0_1_pins<159>" PIN
        "sram0/ram3/memory_1.memory_1_0_0_pins<159>" PIN
        "sram0/ram3/memory_1.memory_1_0_1_pins<159>" PIN
        "sram1/ram0/memory_1.memory_1_0_0_pins<159>" PIN
        "sram1/ram0/memory_1.memory_1_0_1_pins<159>" PIN
        "sram1/ram1/memory_1.memory_1_0_0_pins<159>" PIN
        "sram1/ram1/memory_1.memory_1_0_1_pins<159>" PIN
        "sram1/ram2/memory_1.memory_1_0_0_pins<159>" PIN
        "sram1/ram2/memory_1.memory_1_0_1_pins<159>" PIN
        "sram1/ram3/memory_1.memory_1_0_0_pins<159>" PIN
        "sram1/ram3/memory_1.memory_1_0_1_pins<159>";
TIMEGRP PLL1_CLK2X_BUF = BEL "CLK200MCnt[0]" BEL "CLK200MCnt[1]" BEL
        "CLK200MCnt[2]" BEL "CLK200MCnt[3]" BEL "CLK200MCnt[4]" BEL
        "CLK200MCnt[5]" BEL "CLK200MCnt[6]" BEL "CLK200MCnt[7]" BEL
        "CLK200MCnt[8]" BEL "CLK200MCnt[9]" BEL "CLK200MCnt[10]" BEL
        "CLK200MCnt[11]" BEL "CLK200MCnt[12]" BEL "CLK200MCnt[13]" BEL
        "CLK200MCnt[14]" BEL "CLK200MCnt[15]" BEL "CLK200MCnt[16]" BEL
        "CLK200MCnt[17]" BEL "CLK200MCnt[18]" BEL "CLK200MCnt[19]" BEL
        "CLK200MCnt[20]" BEL "CLK200MCnt[21]" BEL "CLK200MCnt[22]" BEL
        "CLK200MCnt[23]" BEL "CLK200MCnt[24]" BEL "CLK200MCnt[25]" BEL
        "CLK200MCnt[26]" BEL "CLK200MCnt_fast[0]";
PIN PLL1/DCM_ADV_INST_pins<59> = BEL "PLL1/DCM_ADV_INST" PINNAME CLKIN;
TIMEGRP CLK = PIN "PLL1/DCM_ADV_INST_pins<59>";
TS_CLK = PERIOD TIMEGRP "CLK" 4.365 ns HIGH 50%;
TS_PLL1_CLK2X_BUF = PERIOD TIMEGRP "PLL1_CLK2X_BUF" TS_CLK / 2 HIGH 50%;
TS_PLL1_CLK0_BUF = PERIOD TIMEGRP "PLL1_CLK0_BUF" TS_CLK HIGH 50%;
TS_PLL1_CLKDV_BUF = PERIOD TIMEGRP "PLL1_CLKDV_BUF" TS_CLK * 2 HIGH 50%;
SCHEMATIC END;
