NET HBURST[0]    LOC=al2;
NET HBURST[1]    LOC=al3;
NET HBURST[2]    LOC=al4;

NET HADDR[31]     LOC=m2;
NET HADDR[30]     LOC=m1;
NET HADDR[29]     LOC=l4;
NET HADDR[28]     LOC=l3;
NET HADDR[27]     LOC=l2;
NET HADDR[26]     LOC=l1;
NET HADDR[25]     LOC=k4;
NET HADDR[24]     LOC=k3;
NET HADDR[23]     LOC=k2;
NET HADDR[22]     LOC=k1;
NET HADDR[21]     LOC=j4;
NET HADDR[20]     LOC=j3;
NET HADDR[19]     LOC=j2;
NET HADDR[18]     LOC=j1;
NET HADDR[17]     LOC=h4;
NET HADDR[16]     LOC=h3;
NET HADDR[15]     LOC=h2;
NET HADDR[14]     LOC=h1;
NET HADDR[13]     LOC=g4;
NET HADDR[12]     LOC=g3;
NET HADDR[11]     LOC=g2;
NET HADDR[10]     LOC=g1;
NET HADDR[9]      LOC=f4;
NET HADDR[8]      LOC=f3;
NET HADDR[7]      LOC=f2;
NET HADDR[6]      LOC=f1;
NET HADDR[5]      LOC=e3;
NET HADDR[4]      LOC=e2;
NET HADDR[3]      LOC=e1;
NET HADDR[2]      LOC=d3;
NET HADDR[1]      LOC=d2;
NET HADDR[0]      LOC=d1;
NET HGRANT        LOC=g38;
# CONFIG            PROHIBIT=g38;
# NET HGRANT[1]      LOC=g37;
CONFIG            PROHIBIT=g37;
#NET HGRANT[2]     LOC=g36;
CONFIG            PROHIBIT=g36;
#NET HGRANT[3]     LOC=h39;
CONFIG            PROHIBIT=h39;

NET HMASTER[0]    LOC=e38;
NET HMASTER[1]    LOC=e37;
NET HMASTER[2]    LOC=e39;

NET HDATA[31]     LOC=y1;
NET HDATA[30]     LOC=w1;
NET HDATA[29]     LOC=ab2;
NET HDATA[28]     LOC=aa4;
NET HDATA[27]     LOC=aa3;
NET HDATA[26]     LOC=w4;
NET HDATA[25]     LOC=w3;
NET HDATA[24]     LOC=w2;
NET HDATA[23]     LOC=v5; 
NET HDATA[22]     LOC=v4; 
NET HDATA[21]     LOC=v3; 
NET HDATA[20]     LOC=v2; 
NET HDATA[19]     LOC=v1; 
NET HDATA[18]     LOC=u5; 
NET HDATA[17]     LOC=u4; 
NET HDATA[16]     LOC=u3; 
NET HDATA[15]     LOC=u2; 
NET HDATA[14]     LOC=u1; 
NET HDATA[13]     LOC=t4; 
NET HDATA[12]     LOC=t3; 
NET HDATA[11]     LOC=t2; 
NET HDATA[10]     LOC=t1; 
NET HDATA[9]      LOC=r4;
NET HDATA[8]      LOC=r3;
NET HDATA[7]      LOC=r2; 
NET HDATA[6]      LOC=p2; 
NET HDATA[5]      LOC=p1; 
NET HDATA[4]      LOC=n4; 
NET HDATA[3]      LOC=n3; 
NET HDATA[2]      LOC=n2; 
NET HDATA[1]      LOC=n1; 
NET HDATA[0]      LOC=m3; 

NET CTRLCLK1[18]  LOC=av10;
NET CTRLCLK1[17]  LOC=au10;
NET CTRLCLK1[16]  LOC=at10;
NET CTRLCLK1[15]  LOC=aw9; 
NET CTRLCLK1[14]  LOC=av9; 
NET CTRLCLK1[13]  LOC=au9; 
NET CTRLCLK1[12]  LOC=at9; 
NET CTRLCLK1[11]  LOC=aw8; 
NET CTRLCLK1[10]  LOC=av8; 
NET CTRLCLK1[9]   LOC=au8; 
NET CTRLCLK1[8]   LOC=at8; 
NET CTRLCLK1[7]   LOC=aw7; 
NET CTRLCLK1[6]   LOC=av7; 
NET CTRLCLK1[5]   LOC=au7; 
NET CTRLCLK1[4]   LOC=at7; 
NET CTRLCLK1[3]   LOC=aw6; 
NET CTRLCLK1[2]   LOC=av6; 
NET CTRLCLK1[1]   LOC=au6; 
NET CTRLCLK1[0]   LOC=at6; 
NET PWRDNCLK1     LOC=av19;

NET CTRLCLK2[18]  LOC=av15;
NET CTRLCLK2[17]  LOC=au15;
NET CTRLCLK2[16]  LOC=at15;
NET CTRLCLK2[15]  LOC=aw14;
NET CTRLCLK2[14]  LOC=av14;
NET CTRLCLK2[13]  LOC=au14;
NET CTRLCLK2[12]  LOC=at14;
NET CTRLCLK2[11]  LOC=aw13;
NET CTRLCLK2[10]  LOC=av13;
NET CTRLCLK2[9]   LOC=au13;
NET CTRLCLK2[8]   LOC=at13;
NET CTRLCLK2[7]   LOC=aw12;
NET CTRLCLK2[6]   LOC=av12;
NET CTRLCLK2[5]   LOC=au12;
NET CTRLCLK2[4]   LOC=aw11;
NET CTRLCLK2[3]   LOC=av11;
NET CTRLCLK2[2]   LOC=au11;
NET CTRLCLK2[1]   LOC=at11;
NET CTRLCLK2[0]   LOC=aw10;
NET PWRDNCLK2     LOC=at21;

NET SDATA[31]     LOC=aw36;
NET SDATA[30]     LOC=av36;
NET SDATA[29]     LOC=au36;
NET SDATA[28]     LOC=aw35;
NET SDATA[27]     LOC=av35;
NET SDATA[26]     LOC=aw34;
NET SDATA[25]     LOC=av34;
NET SDATA[24]     LOC=au34;
NET SDATA[23]     LOC=at34;
NET SDATA[22]     LOC=aw33;
NET SDATA[21]     LOC=av33;
NET SDATA[20]     LOC=au33;
NET SDATA[19]     LOC=at33;
NET SDATA[18]     LOC=aw32;
NET SDATA[17]     LOC=av32;
NET SDATA[16]     LOC=au32;
NET SDATA[15]     LOC=at32;
NET SDATA[14]     LOC=aw31;
NET SDATA[13]     LOC=av31;
NET SDATA[12]     LOC=au31;
NET SDATA[11]     LOC=at31;
NET SDATA[10]     LOC=aw30;
NET SDATA[9]      LOC=av30;
NET SDATA[8]      LOC=au30;
NET SDATA[7]      LOC=ar4;
NET SDATA[6]      LOC=ah1;
NET SDATA[5]      LOC=ag2;
NET SDATA[4]      LOC=ad3;
NET SDATA[3]      LOC=r1; 
NET SDATA[2]      LOC=p3; 
NET SDATA[1]      LOC=p4; 
NET SDATA[0]      LOC=c2; 
	 			   
#NET SADDR[20]     LOC=al36; # reserved for expansion
CONFIG            PROHIBIT=al36;
NET SADDR[19]     LOC=am39;
NET SADDR[18]     LOC=am38;
NET SADDR[17]     LOC=am37;
NET SADDR[16]     LOC=am36;
NET SADDR[15]     LOC=an39;
NET SADDR[14]     LOC=an38;
NET SADDR[13]     LOC=an37;
NET SADDR[12]     LOC=an36;
NET SADDR[11]     LOC=ap39;
NET SADDR[10]     LOC=ap38;
NET SADDR[9]      LOC=ap37;
NET SADDR[8]      LOC=ap36;
NET SADDR[7]      LOC=ar39;
NET SADDR[6]      LOC=ar38;
NET SADDR[5]      LOC=ar37;
NET SADDR[4]      LOC=ar36;
NET SADDR[3]      LOC=at39;
NET SADDR[2]      LOC=at38;
	
NET SMODE         LOC=ah37;
NET SnWR          LOC=aj38;
NET SnWBYTE[3]    LOC=ak39;
NET SnWBYTE[2]    LOC=ak38;
NET SnWBYTE[1]    LOC=ak37;
NET SnWBYTE[0]    LOC=ak36;
NET SnCE          LOC=al39;
NET SCLK          LOC=al38;
NET SnOE          LOC=aj36;
NET SnCKE         LOC=aj39;
NET SADVnLD       LOC=aj37;

NET SW[7]         LOC=au17;
NET SW[6]         LOC=at17;
NET SW[5]         LOC=ar17;
NET SW[4]         LOC=aw16;
NET SW[3]         LOC=av16;
NET SW[2]         LOC=au16;
NET SW[1]         LOC=at16;
NET SW[0]         LOC=aw15;
NET LED[8]        LOC=b37;
NET LED[7]        LOC=at19;
NET LED[6]        LOC=aw18;
NET LED[5]        LOC=av18;
NET LED[4]        LOC=au18;
NET LED[3]        LOC=at18;
NET LED[2]        LOC=ar18;
NET LED[1]        LOC=aw17;
NET LED[0]        LOC=av17;
NET nPBUTT        LOC=AU19;

NET FnOE          LOC=aw29;   # tie high
NET FnWE          LOC=at30;   # tie high

NET nLMINT        LOC=AF38;     

NET HDRID[3]      LOC=af36;     
NET HDRID[2]      LOC=ag39;     
NET HDRID[1]      LOC=ag38;     
NET HDRID[0]      LOC=ag37;     

NET RTCK          LOC=ac37;
NET TDO           LOC=ad39;
NET TCK           LOC=ac35;
NET TDI           LOC=ad38;

NET HCLK          LOC=a20;    # GCLK  (Clock 15MHz)
NET HRESETn       LOC=ag36;   

NET HSIZE[1]      LOC=ak4;
NET HSIZE[0]      LOC=ak3;
NET HTRANS[1]     LOC=ak2;
NET HTRANS[0]     LOC=ak1;
NET HRESP[1]      LOC=an3;
NET HRESP[0]      LOC=an2;
NET HREADY        LOC=an1;
NET HWRITE        LOC=am4;

#not currently used
NET HBUSREQ       LOC=f38;
#CONFIG            PROHIBIT=f38;
#NET HBUSREQ[1]	  LOC=f37;
CONFIG            PROHIBIT=f37;
#NET HBUSREQ[2]	  LOC=f36;
CONFIG            PROHIBIT=f36;
#NET HBUSREQ[3]	  LOC=g39;
CONFIG            PROHIBIT=g39;
# NET HLOCK[0]    LOC = h38;
CONFIG            PROHIBIT=h38;
NET HLOCK  	      LOC=h37;

# ETHERNET
NET clk_e1tx      LOC=c15;   # IM1 BANK41, IO(External Clock 2.5MHz)
# NET clk_e1tx      LOC=aw19;  # CLK1, GCLK(LM Clock 4.8MHz)
NET clk_e1tx_b    LOC=d18;   # IM1 BANK55 
NET clk_e1rx      LOC=b16;   # IM1 BANK44, IO(External Clock 2.5MHz)

#USB
NET clk_usb       LOC=d21;   # IM CLK, GCLK(Clock 30MHz)

# Configuration
NET ext_utm       LOC=e17;   # IM1 BANK51
NET dbus16        LOC=a18;   # IM1 BANK52
NET big_endian    LOC=b18;   # IM1 BANK53

# USB 1.1
NET DP            LOC=c12;   # IM1 BANK30
NET DM            LOC=a13;   # IM1 BANK31

# USB 2.0
NET rst_bus       LOC=a10;   # IM1 BANK20
NET line_state1   LOC=c11;   # IM1 BANK26
NET line_state0   LOC=b11;   # IM1 BANK25
NET rx_active     LOC=b12;   # IM1 BANK29
NET rx_valid      LOC=d11;   # IM1 BANK27
NET rx_error      LOC=a12;   # IM1 BANK28
NET tx_ready      LOC=c9;    # IM1 BANK18
NET tx_valid      LOC=a9;    # IM1 BANK16
NET psuspend      LOC=d9;    # IM1 BANK19
NET xcvr_select   LOC=b10;   # IM1 BANK21
NET term_select   LOC=c10;   # IM1 BANK22
NET op_mode1      LOC=a11;   # IM1 BANK24
NET op_mode0      LOC=d10;   # IM1 BANK23
NET valid_h       LOC=b9;    # IM1 BANK17
NET usb_data15    LOC=d8;    # IM1 BANK15
NET usb_data14    LOC=c8;    # IM1 BANK14
NET usb_data13    LOC=b8;    # IM1 BANK13
NET usb_data12    LOC=a8;    # IM1 BANK12
NET usb_data11    LOC=d7;    # IM1 BANK11
NET usb_data10    LOC=c7;    # IM1 BANK10
NET usb_data9     LOC=b7;    # IM1 BANK9
NET usb_data8     LOC=a7;    # IM1 BANK8
NET usb_data7     LOC=d6;    # IM1 BANK7
NET usb_data6     LOC=c6;    # IM1 BANK6
NET usb_data5     LOC=b6;    # IM1 BANK5
NET usb_data4     LOC=a6;    # IM1 BANK4
NET usb_data3     LOC=c5;    # IM1 BANK3
NET usb_data2     LOC=b5;    # IM1 BANK2
NET usb_data1     LOC=a5;    # IM1 BANK1
NET usb_data0     LOC=a4;    # IM1 BANK0

# ETHERNET
NET e1_crs        LOC=d13;   # IM1 BANK34
NET e1_col        LOC=c13;   # IM1 BANK33
NET e1_tx_en      LOC=a15;   # IM1 BANK39
NET e1_tx_er      LOC=b15;   # IM1 BANK40
NET e1_txd[3]     LOC=a14;   # IM1 BANK35
NET e1_txd[2]     LOC=b14;   # IM1 BANK36
NET e1_txd[1]     LOC=c14;   # IM1 BANK37
NET e1_txd[0]     LOC=d14;   # IM1 BANK38
NET e1_rx_dv      LOC=a16;   # IM1 BANK43
NET e1_rx_er      LOC=d15;   # IM1 BANK42
NET e1_rxd[3]     LOC=b17;   # IM1 BANK48
NET e1_rxd[2]     LOC=a17;   # IM1 BANK47
NET e1_rxd[1]     LOC=d16;   # IM1 BANK46
NET e1_rxd[0]     LOC=c16;   # IM1 BANK45
NET e1mi_clk      LOC=d17;   # IM1 BANK50
NET e1mi_d        LOC=c17;   # IM1 BANK49
NET loop_back     LOC=c18;   # IM1 BANK54
NET RESETn        LOC=d26;   # IM0 BANK24

# CLOCK SKEW CONTRAINT
#
NET clk_e1tx     USELOWSKEWLINES;
NET clk_e1rx     USELOWSKEWLINES;
