//! **************************************************************************
// Written by: Map I.31 on Mon Dec 18 09:39:48 2006
//! **************************************************************************

SCHEMATIC START;
COMP "USER_SW" LOCATE = SITE "AD1" LEVEL 1;
COMP "CLK" LOCATE = SITE "P20" LEVEL 1;
COMP "nRST" LOCATE = SITE "AH19" LEVEL 1;
COMP "PORST" LOCATE = SITE "AF18" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "K9" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "L10" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "L11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "K11" LEVEL 1;
COMP "FPGA_CON<100>" LOCATE = SITE "N30" LEVEL 1;
COMP "FPGA_CON<101>" LOCATE = SITE "P29" LEVEL 1;
COMP "FPGA_CON<102>" LOCATE = SITE "L34" LEVEL 1;
COMP "FPGA_CON<110>" LOCATE = SITE "M33" LEVEL 1;
COMP "FPGA_CON<103>" LOCATE = SITE "L35" LEVEL 1;
COMP "FPGA_CON<111>" LOCATE = SITE "N32" LEVEL 1;
COMP "FPGA_CON<104>" LOCATE = SITE "J36" LEVEL 1;
COMP "FPGA_CON<112>" LOCATE = SITE "R28" LEVEL 1;
COMP "FPGA_CON<120>" LOCATE = SITE "P31" LEVEL 1;
COMP "FPGA_CON<200>" LOCATE = SITE "AC38" LEVEL 1;
COMP "FPGA_CON<105>" LOCATE = SITE "J37" LEVEL 1;
COMP "FPGA_CON<113>" LOCATE = SITE "R29" LEVEL 1;
COMP "FPGA_CON<121>" LOCATE = SITE "P32" LEVEL 1;
COMP "FPGA_CON<201>" LOCATE = SITE "AC39" LEVEL 1;
COMP "FPGA_CON<106>" LOCATE = SITE "K36" LEVEL 1;
COMP "FPGA_CON<114>" LOCATE = SITE "M35" LEVEL 1;
COMP "FPGA_CON<122>" LOCATE = SITE "K39" LEVEL 1;
COMP "FPGA_CON<130>" LOCATE = SITE "P34" LEVEL 1;
COMP "FPGA_CON<202>" LOCATE = SITE "AA31" LEVEL 1;
COMP "FPGA_CON<210>" LOCATE = SITE "AD37" LEVEL 1;
COMP "FPGA_CON<107>" LOCATE = SITE "L36" LEVEL 1;
COMP "FPGA_CON<115>" LOCATE = SITE "N35" LEVEL 1;
COMP "FPGA_CON<123>" LOCATE = SITE "L39" LEVEL 1;
COMP "FPGA_CON<131>" LOCATE = SITE "P35" LEVEL 1;
COMP "FPGA_CON<203>" LOCATE = SITE "Y31" LEVEL 1;
COMP "FPGA_CON<211>" LOCATE = SITE "AC37" LEVEL 1;
COMP "FPGA_CON<108>" LOCATE = SITE "H39" LEVEL 1;
COMP "FPGA_CON<116>" LOCATE = SITE "K37" LEVEL 1;
COMP "FPGA_CON<124>" LOCATE = SITE "L38" LEVEL 1;
COMP "FPGA_CON<132>" LOCATE = SITE "T29" LEVEL 1;
COMP "FPGA_CON<140>" LOCATE = SITE "R34" LEVEL 1;
COMP "FPGA_CON<204>" LOCATE = SITE "AC35" LEVEL 1;
COMP "FPGA_CON<212>" LOCATE = SITE "AC32" LEVEL 1;
COMP "FPGA_CON<220>" LOCATE = SITE "AC30" LEVEL 1;
COMP "FPGA_CON<300>" LOCATE = SITE "AN33" LEVEL 1;
COMP "FPGA_CON<109>" LOCATE = SITE "J39" LEVEL 1;
COMP "FPGA_CON<117>" LOCATE = SITE "K38" LEVEL 1;
COMP "FPGA_CON<125>" LOCATE = SITE "M38" LEVEL 1;
COMP "FPGA_CON<133>" LOCATE = SITE "U28" LEVEL 1;
COMP "FPGA_CON<141>" LOCATE = SITE "T34" LEVEL 1;
COMP "FPGA_CON<205>" LOCATE = SITE "AB35" LEVEL 1;
COMP "FPGA_CON<213>" LOCATE = SITE "AB31" LEVEL 1;
COMP "FPGA_CON<221>" LOCATE = SITE "AB30" LEVEL 1;
COMP "FPGA_CON<301>" LOCATE = SITE "AN34" LEVEL 1;
COMP "FPGA_CON<118>" LOCATE = SITE "N33" LEVEL 1;
COMP "FPGA_CON<126>" LOCATE = SITE "M36" LEVEL 1;
COMP "FPGA_CON<134>" LOCATE = SITE "P36" LEVEL 1;
COMP "FPGA_CON<142>" LOCATE = SITE "T31" LEVEL 1;
COMP "FPGA_CON<150>" LOCATE = SITE "R39" LEVEL 1;
COMP "FPGA_CON<206>" LOCATE = SITE "AB33" LEVEL 1;
COMP "FPGA_CON<214>" LOCATE = SITE "AE39" LEVEL 1;
COMP "FPGA_CON<222>" LOCATE = SITE "AE37" LEVEL 1;
COMP "FPGA_CON<230>" LOCATE = SITE "AF36" LEVEL 1;
COMP "FPGA_CON<302>" LOCATE = SITE "AU38" LEVEL 1;
COMP "FPGA_CON<310>" LOCATE = SITE "AT36" LEVEL 1;
COMP "FPGA_CON<119>" LOCATE = SITE "N34" LEVEL 1;
COMP "FPGA_CON<127>" LOCATE = SITE "M37" LEVEL 1;
COMP "FPGA_CON<135>" LOCATE = SITE "P37" LEVEL 1;
COMP "FPGA_CON<143>" LOCATE = SITE "U30" LEVEL 1;
COMP "FPGA_CON<151>" LOCATE = SITE "T39" LEVEL 1;
COMP "FPGA_CON<207>" LOCATE = SITE "AA33" LEVEL 1;
COMP "FPGA_CON<215>" LOCATE = SITE "AD39" LEVEL 1;
COMP "FPGA_CON<223>" LOCATE = SITE "AE38" LEVEL 1;
COMP "FPGA_CON<231>" LOCATE = SITE "AE36" LEVEL 1;
COMP "FPGA_CON<303>" LOCATE = SITE "AT38" LEVEL 1;
COMP "FPGA_CON<311>" LOCATE = SITE "AR36" LEVEL 1;
COMP "FPGA_CON<128>" LOCATE = SITE "R31" LEVEL 1;
COMP "FPGA_CON<136>" LOCATE = SITE "N37" LEVEL 1;
COMP "FPGA_CON<144>" LOCATE = SITE "R36" LEVEL 1;
COMP "FPGA_CON<152>" LOCATE = SITE "V25" LEVEL 1;
COMP "FPGA_CON<160>" LOCATE = SITE "T38" LEVEL 1;
COMP "FPGA_CON<208>" LOCATE = SITE "AC33" LEVEL 1;
COMP "FPGA_CON<216>" LOCATE = SITE "AF38" LEVEL 1;
COMP "FPGA_CON<224>" LOCATE = SITE "AB27" LEVEL 1;
COMP "FPGA_CON<232>" LOCATE = SITE "AJ39" LEVEL 1;
COMP "FPGA_CON<240>" LOCATE = SITE "AJ36" LEVEL 1;
COMP "FPGA_CON<304>" LOCATE = SITE "AU35" LEVEL 1;
COMP "FPGA_CON<312>" LOCATE = SITE "AW36" LEVEL 1;
COMP "FPGA_CON<320>" LOCATE = SITE "AT33" LEVEL 1;
COMP "FPGA_CON<400>" LOCATE = SITE "AV7" LEVEL 1;
COMP "FPGA_CON<129>" LOCATE = SITE "R32" LEVEL 1;
COMP "FPGA_CON<137>" LOCATE = SITE "N38" LEVEL 1;
COMP "FPGA_CON<145>" LOCATE = SITE "T36" LEVEL 1;
COMP "FPGA_CON<153>" LOCATE = SITE "U26" LEVEL 1;
COMP "FPGA_CON<161>" LOCATE = SITE "U38" LEVEL 1;
COMP "FPGA_CON<209>" LOCATE = SITE "AC34" LEVEL 1;
COMP "FPGA_CON<217>" LOCATE = SITE "AF39" LEVEL 1;
COMP "FPGA_CON<225>" LOCATE = SITE "AB28" LEVEL 1;
COMP "FPGA_CON<233>" LOCATE = SITE "AH39" LEVEL 1;
COMP "FPGA_CON<241>" LOCATE = SITE "AJ37" LEVEL 1;
COMP "FPGA_CON<305>" LOCATE = SITE "AU36" LEVEL 1;
COMP "FPGA_CON<313>" LOCATE = SITE "AW37" LEVEL 1;
COMP "FPGA_CON<321>" LOCATE = SITE "AR33" LEVEL 1;
COMP "FPGA_CON<401>" LOCATE = SITE "AV8" LEVEL 1;
COMP "FPGA_CON<138>" LOCATE = SITE "N39" LEVEL 1;
COMP "FPGA_CON<146>" LOCATE = SITE "T33" LEVEL 1;
COMP "FPGA_CON<154>" LOCATE = SITE "V27" LEVEL 1;
COMP "FPGA_CON<162>" LOCATE = SITE "V29" LEVEL 1;
COMP "FPGA_CON<170>" LOCATE = SITE "V34" LEVEL 1;
COMP "FPGA_CON<218>" LOCATE = SITE "AD35" LEVEL 1;
COMP "FPGA_CON<226>" LOCATE = SITE "AE34" LEVEL 1;
COMP "FPGA_CON<234>" LOCATE = SITE "AG37" LEVEL 1;
COMP "FPGA_CON<242>" LOCATE = SITE "AG35" LEVEL 1;
COMP "FPGA_CON<250>" LOCATE = SITE "AL38" LEVEL 1;
COMP "FPGA_CON<306>" LOCATE = SITE "AM33" LEVEL 1;
COMP "FPGA_CON<314>" LOCATE = SITE "AV37" LEVEL 1;
COMP "FPGA_CON<322>" LOCATE = SITE "AJ30" LEVEL 1;
COMP "FPGA_CON<330>" LOCATE = SITE "AP32" LEVEL 1;
COMP "FPGA_CON<402>" LOCATE = SITE "AU11" LEVEL 1;
COMP "FPGA_CON<410>" LOCATE = SITE "AP12" LEVEL 1;
COMP "FPGA_CON<139>" LOCATE = SITE "P39" LEVEL 1;
COMP "FPGA_CON<147>" LOCATE = SITE "U32" LEVEL 1;
COMP "FPGA_CON<155>" LOCATE = SITE "U27" LEVEL 1;
COMP "FPGA_CON<163>" LOCATE = SITE "V30" LEVEL 1;
COMP "FPGA_CON<171>" LOCATE = SITE "V35" LEVEL 1;
COMP "FPGA_CON<219>" LOCATE = SITE "AD36" LEVEL 1;
COMP "FPGA_CON<227>" LOCATE = SITE "AD34" LEVEL 1;
COMP "FPGA_CON<235>" LOCATE = SITE "AG38" LEVEL 1;
COMP "FPGA_CON<243>" LOCATE = SITE "AG36" LEVEL 1;
COMP "FPGA_CON<251>" LOCATE = SITE "AL39" LEVEL 1;
COMP "FPGA_CON<307>" LOCATE = SITE "AL33" LEVEL 1;
COMP "FPGA_CON<315>" LOCATE = SITE "AU37" LEVEL 1;
COMP "FPGA_CON<323>" LOCATE = SITE "AK31" LEVEL 1;
COMP "FPGA_CON<331>" LOCATE = SITE "AN32" LEVEL 1;
COMP "FPGA_CON<403>" LOCATE = SITE "AU12" LEVEL 1;
COMP "FPGA_CON<411>" LOCATE = SITE "AR12" LEVEL 1;
COMP "FPGA_CON<148>" LOCATE = SITE "R37" LEVEL 1;
COMP "FPGA_CON<156>" LOCATE = SITE "T35" LEVEL 1;
COMP "FPGA_CON<164>" LOCATE = SITE "U36" LEVEL 1;
COMP "FPGA_CON<172>" LOCATE = SITE "V37" LEVEL 1;
COMP "FPGA_CON<180>" LOCATE = SITE "Y37" LEVEL 1;
COMP "FPGA_CON<228>" LOCATE = SITE "AD31" LEVEL 1;
COMP "FPGA_CON<236>" LOCATE = SITE "AH37" LEVEL 1;
COMP "FPGA_CON<244>" LOCATE = SITE "AJ35" LEVEL 1;
COMP "FPGA_CON<252>" LOCATE = SITE "AM36" LEVEL 1;
COMP "FPGA_CON<260>" LOCATE = SITE "AD27" LEVEL 1;
COMP "FPGA_CON<308>" LOCATE = SITE "AT34" LEVEL 1;
COMP "FPGA_CON<316>" LOCATE = SITE "AW35" LEVEL 1;
COMP "FPGA_CON<324>" LOCATE = SITE "AM30" LEVEL 1;
COMP "FPGA_CON<332>" LOCATE = SITE "AN30" LEVEL 1;
COMP "FPGA_CON<340>" LOCATE = SITE "AW30" LEVEL 1;
COMP "FPGA_CON<404>" LOCATE = SITE "AT9" LEVEL 1;
COMP "FPGA_CON<412>" LOCATE = SITE "AT8" LEVEL 1;
COMP "FPGA_CON<420>" LOCATE = SITE "AJ12" LEVEL 1;
COMP "FPGA_CON<149>" LOCATE = SITE "R38" LEVEL 1;
COMP "FPGA_CON<157>" LOCATE = SITE "U35" LEVEL 1;
COMP "FPGA_CON<165>" LOCATE = SITE "U37" LEVEL 1;
COMP "FPGA_CON<173>" LOCATE = SITE "V38" LEVEL 1;
COMP "FPGA_CON<181>" LOCATE = SITE "Y38" LEVEL 1;
COMP "FPGA_CON<229>" LOCATE = SITE "AD32" LEVEL 1;
COMP "FPGA_CON<237>" LOCATE = SITE "AH38" LEVEL 1;
COMP "FPGA_CON<245>" LOCATE = SITE "AH35" LEVEL 1;
COMP "FPGA_CON<253>" LOCATE = SITE "AL36" LEVEL 1;
COMP "FPGA_CON<261>" LOCATE = SITE "AC27" LEVEL 1;
COMP "FPGA_CON<309>" LOCATE = SITE "AT35" LEVEL 1;
COMP "FPGA_CON<317>" LOCATE = SITE "AV35" LEVEL 1;
COMP "FPGA_CON<325>" LOCATE = SITE "AL30" LEVEL 1;
COMP "FPGA_CON<333>" LOCATE = SITE "AP31" LEVEL 1;
COMP "FPGA_CON<341>" LOCATE = SITE "AW31" LEVEL 1;
COMP "FPGA_CON<405>" LOCATE = SITE "AT10" LEVEL 1;
COMP "FPGA_CON<413>" LOCATE = SITE "AU8" LEVEL 1;
COMP "FPGA_CON<421>" LOCATE = SITE "AH13" LEVEL 1;
COMP "FPGA_CON<158>" LOCATE = SITE "U33" LEVEL 1;
COMP "FPGA_CON<166>" LOCATE = SITE "V32" LEVEL 1;
COMP "FPGA_CON<174>" LOCATE = SITE "V39" LEVEL 1;
COMP "FPGA_CON<182>" LOCATE = SITE "Y39" LEVEL 1;
COMP "FPGA_CON<190>" LOCATE = SITE "AB38" LEVEL 1;
COMP "FPGA_CON<238>" LOCATE = SITE "AF34" LEVEL 1;
COMP "FPGA_CON<246>" LOCATE = SITE "AK38" LEVEL 1;
COMP "FPGA_CON<254>" LOCATE = SITE "AK36" LEVEL 1;
COMP "FPGA_CON<262>" LOCATE = SITE "AE31" LEVEL 1;
COMP "FPGA_CON<270>" LOCATE = SITE "AJ34" LEVEL 1;
COMP "FPGA_CON<318>" LOCATE = SITE "AR34" LEVEL 1;
COMP "FPGA_CON<326>" LOCATE = SITE "AM31" LEVEL 1;
COMP "FPGA_CON<334>" LOCATE = SITE "AK29" LEVEL 1;
COMP "FPGA_CON<342>" LOCATE = SITE "AV33" LEVEL 1;
COMP "FPGA_CON<350>" LOCATE = SITE "AR31" LEVEL 1;
COMP "FPGA_CON<406>" LOCATE = SITE "AU13" LEVEL 1;
COMP "FPGA_CON<414>" LOCATE = SITE "AL13" LEVEL 1;
COMP "FPGA_CON<422>" LOCATE = SITE "AN10" LEVEL 1;
COMP "FPGA_CON<430>" LOCATE = SITE "AK11" LEVEL 1;
COMP "FPGA_CON<159>" LOCATE = SITE "V33" LEVEL 1;
COMP "FPGA_CON<167>" LOCATE = SITE "W32" LEVEL 1;
COMP "FPGA_CON<175>" LOCATE = SITE "W39" LEVEL 1;
COMP "FPGA_CON<183>" LOCATE = SITE "AA39" LEVEL 1;
COMP "FPGA_CON<191>" LOCATE = SITE "AA38" LEVEL 1;
COMP "FPGA_CON<239>" LOCATE = SITE "AF35" LEVEL 1;
COMP "FPGA_CON<247>" LOCATE = SITE "AK39" LEVEL 1;
COMP "FPGA_CON<255>" LOCATE = SITE "AK37" LEVEL 1;
COMP "FPGA_CON<263>" LOCATE = SITE "AE32" LEVEL 1;
COMP "FPGA_CON<271>" LOCATE = SITE "AH34" LEVEL 1;
COMP "FPGA_CON<319>" LOCATE = SITE "AP34" LEVEL 1;
COMP "FPGA_CON<327>" LOCATE = SITE "AL31" LEVEL 1;
COMP "FPGA_CON<335>" LOCATE = SITE "AJ29" LEVEL 1;
COMP "FPGA_CON<343>" LOCATE = SITE "AU33" LEVEL 1;
COMP "FPGA_CON<351>" LOCATE = SITE "AR32" LEVEL 1;
COMP "FPGA_CON<407>" LOCATE = SITE "AV13" LEVEL 1;
COMP "FPGA_CON<415>" LOCATE = SITE "AL14" LEVEL 1;
COMP "FPGA_CON<423>" LOCATE = SITE "AM11" LEVEL 1;
COMP "FPGA_CON<431>" LOCATE = SITE "AL11" LEVEL 1;
COMP "FPGA_CON<168>" LOCATE = SITE "W26" LEVEL 1;
COMP "FPGA_CON<176>" LOCATE = SITE "W34" LEVEL 1;
COMP "FPGA_CON<184>" LOCATE = SITE "AA36" LEVEL 1;
COMP "FPGA_CON<192>" LOCATE = SITE "Y27" LEVEL 1;
COMP "FPGA_CON<248>" LOCATE = SITE "AM37" LEVEL 1;
COMP "FPGA_CON<256>" LOCATE = SITE "AG33" LEVEL 1;
COMP "FPGA_CON<264>" LOCATE = SITE "AD26" LEVEL 1;
COMP "FPGA_CON<272>" LOCATE = SITE "AD25" LEVEL 1;
COMP "FPGA_CON<280>" LOCATE = SITE "AF28" LEVEL 1;
COMP "FPGA_CON<328>" LOCATE = SITE "AP24" LEVEL 1;
COMP "FPGA_CON<336>" LOCATE = SITE "AT24" LEVEL 1;
COMP "FPGA_CON<344>" LOCATE = SITE "AP25" LEVEL 1;
COMP "FPGA_CON<352>" LOCATE = SITE "AL26" LEVEL 1;
COMP "FPGA_CON<360>" LOCATE = SITE "AW25" LEVEL 1;
COMP "FPGA_CON<408>" LOCATE = SITE "AP9" LEVEL 1;
COMP "FPGA_CON<416>" LOCATE = SITE "AU6" LEVEL 1;
COMP "FPGA_CON<424>" LOCATE = SITE "AL10" LEVEL 1;
COMP "FPGA_CON<432>" LOCATE = SITE "AV3" LEVEL 1;
COMP "FPGA_CON<440>" LOCATE = SITE "AK9" LEVEL 1;
COMP "FPGA_CON<169>" LOCATE = SITE "W27" LEVEL 1;
COMP "FPGA_CON<177>" LOCATE = SITE "W35" LEVEL 1;
COMP "FPGA_CON<185>" LOCATE = SITE "Y36" LEVEL 1;
COMP "FPGA_CON<193>" LOCATE = SITE "AA28" LEVEL 1;
COMP "FPGA_CON<249>" LOCATE = SITE "AM38" LEVEL 1;
COMP "FPGA_CON<257>" LOCATE = SITE "AF33" LEVEL 1;
COMP "FPGA_CON<265>" LOCATE = SITE "AE26" LEVEL 1;
COMP "FPGA_CON<273>" LOCATE = SITE "AE24" LEVEL 1;
COMP "FPGA_CON<281>" LOCATE = SITE "AF29" LEVEL 1;
COMP "FPGA_CON<329>" LOCATE = SITE "AR24" LEVEL 1;
COMP "FPGA_CON<337>" LOCATE = SITE "AT25" LEVEL 1;
COMP "FPGA_CON<345>" LOCATE = SITE "AP26" LEVEL 1;
COMP "FPGA_CON<353>" LOCATE = SITE "AM27" LEVEL 1;
COMP "FPGA_CON<361>" LOCATE = SITE "AW26" LEVEL 1;
COMP "FPGA_CON<409>" LOCATE = SITE "AR9" LEVEL 1;
COMP "FPGA_CON<417>" LOCATE = SITE "AU7" LEVEL 1;
COMP "FPGA_CON<425>" LOCATE = SITE "AM10" LEVEL 1;
COMP "FPGA_CON<433>" LOCATE = SITE "AV4" LEVEL 1;
COMP "FPGA_CON<441>" LOCATE = SITE "AL9" LEVEL 1;
COMP "FPGA_CON<178>" LOCATE = SITE "W36" LEVEL 1;
COMP "FPGA_CON<186>" LOCATE = SITE "Y33" LEVEL 1;
COMP "FPGA_CON<194>" LOCATE = SITE "W29" LEVEL 1;
COMP "FPGA_CON<258>" LOCATE = SITE "AC28" LEVEL 1;
COMP "FPGA_CON<266>" LOCATE = SITE "AF31" LEVEL 1;
COMP "FPGA_CON<274>" LOCATE = SITE "AE28" LEVEL 1;
COMP "FPGA_CON<282>" LOCATE = SITE "AN37" LEVEL 1;
COMP "FPGA_CON<290>" LOCATE = SITE "AM35" LEVEL 1;
COMP "FPGA_CON<338>" LOCATE = SITE "AW34" LEVEL 1;
COMP "FPGA_CON<346>" LOCATE = SITE "AT31" LEVEL 1;
COMP "FPGA_CON<354>" LOCATE = SITE "AU31" LEVEL 1;
COMP "FPGA_CON<362>" LOCATE = SITE "AP29" LEVEL 1;
COMP "FPGA_CON<370>" LOCATE = SITE "AV30" LEVEL 1;
COMP "FPGA_CON<418>" LOCATE = SITE "AP11" LEVEL 1;
COMP "FPGA_CON<426>" LOCATE = SITE "AW6" LEVEL 1;
COMP "FPGA_CON<434>" LOCATE = SITE "AR7" LEVEL 1;
COMP "FPGA_CON<442>" LOCATE = SITE "AN8" LEVEL 1;
COMP "FPGA_CON<179>" LOCATE = SITE "W37" LEVEL 1;
COMP "FPGA_CON<187>" LOCATE = SITE "Y34" LEVEL 1;
COMP "FPGA_CON<195>" LOCATE = SITE "W30" LEVEL 1;
COMP "FPGA_CON<259>" LOCATE = SITE "AD29" LEVEL 1;
COMP "FPGA_CON<267>" LOCATE = SITE "AG32" LEVEL 1;
COMP "FPGA_CON<275>" LOCATE = SITE "AE29" LEVEL 1;
COMP "FPGA_CON<283>" LOCATE = SITE "AN38" LEVEL 1;
COMP "FPGA_CON<291>" LOCATE = SITE "AL35" LEVEL 1;
COMP "FPGA_CON<339>" LOCATE = SITE "AV34" LEVEL 1;
COMP "FPGA_CON<347>" LOCATE = SITE "AT30" LEVEL 1;
COMP "FPGA_CON<355>" LOCATE = SITE "AU32" LEVEL 1;
COMP "FPGA_CON<363>" LOCATE = SITE "AN29" LEVEL 1;
COMP "FPGA_CON<371>" LOCATE = SITE "AU30" LEVEL 1;
COMP "FPGA_CON<419>" LOCATE = SITE "AN12" LEVEL 1;
COMP "FPGA_CON<427>" LOCATE = SITE "AW7" LEVEL 1;
COMP "FPGA_CON<435>" LOCATE = SITE "AR8" LEVEL 1;
COMP "FPGA_CON<443>" LOCATE = SITE "AN9" LEVEL 1;
COMP "FPGA_CON<188>" LOCATE = SITE "AB36" LEVEL 1;
COMP "FPGA_CON<196>" LOCATE = SITE "AA34" LEVEL 1;
COMP "FPGA_CON<268>" LOCATE = SITE "AH32" LEVEL 1;
COMP "FPGA_CON<276>" LOCATE = SITE "AL34" LEVEL 1;
COMP "FPGA_CON<284>" LOCATE = SITE "AH30" LEVEL 1;
COMP "FPGA_CON<292>" LOCATE = SITE "AP35" LEVEL 1;
COMP "FPGA_CON<348>" LOCATE = SITE "AU25" LEVEL 1;
COMP "FPGA_CON<356>" LOCATE = SITE "AV28" LEVEL 1;
COMP "FPGA_CON<364>" LOCATE = SITE "AN27" LEVEL 1;
COMP "FPGA_CON<372>" LOCATE = SITE "AR26" LEVEL 1;
COMP "FPGA_CON<380>" LOCATE = SITE "AU26" LEVEL 1;
COMP "FPGA_CON<428>" LOCATE = SITE "AW4" LEVEL 1;
COMP "FPGA_CON<436>" LOCATE = SITE "AN7" LEVEL 1;
COMP "FPGA_CON<444>" LOCATE = SITE "AJ9" LEVEL 1;
COMP "FPGA_CON<189>" LOCATE = SITE "AB37" LEVEL 1;
COMP "FPGA_CON<197>" LOCATE = SITE "AA35" LEVEL 1;
COMP "FPGA_CON<269>" LOCATE = SITE "AH33" LEVEL 1;
COMP "FPGA_CON<277>" LOCATE = SITE "AK34" LEVEL 1;
COMP "FPGA_CON<285>" LOCATE = SITE "AG30" LEVEL 1;
COMP "FPGA_CON<293>" LOCATE = SITE "AN35" LEVEL 1;
COMP "FPGA_CON<349>" LOCATE = SITE "AV25" LEVEL 1;
COMP "FPGA_CON<357>" LOCATE = SITE "AU28" LEVEL 1;
COMP "FPGA_CON<365>" LOCATE = SITE "AN28" LEVEL 1;
COMP "FPGA_CON<373>" LOCATE = SITE "AT26" LEVEL 1;
COMP "FPGA_CON<381>" LOCATE = SITE "AU27" LEVEL 1;
COMP "FPGA_CON<429>" LOCATE = SITE "AW5" LEVEL 1;
COMP "FPGA_CON<437>" LOCATE = SITE "AP7" LEVEL 1;
COMP "FPGA_CON<445>" LOCATE = SITE "AJ10" LEVEL 1;
COMP "FPGA_CON<198>" LOCATE = SITE "Y29" LEVEL 1;
COMP "FPGA_CON<278>" LOCATE = SITE "AP39" LEVEL 1;
COMP "FPGA_CON<286>" LOCATE = SITE "AK33" LEVEL 1;
COMP "FPGA_CON<294>" LOCATE = SITE "AT39" LEVEL 1;
COMP "FPGA_CON<358>" LOCATE = SITE "AW32" LEVEL 1;
COMP "FPGA_CON<366>" LOCATE = SITE "AL28" LEVEL 1;
COMP "FPGA_CON<374>" LOCATE = SITE "AW29" LEVEL 1;
COMP "FPGA_CON<382>" LOCATE = SITE "AT28" LEVEL 1;
COMP "FPGA_CON<390>" LOCATE = SITE "AR13" LEVEL 1;
COMP "FPGA_CON<438>" LOCATE = SITE "AN15" LEVEL 1;
COMP "FPGA_CON<446>" LOCATE = SITE "AU5" LEVEL 1;
COMP "FPGA_CON<199>" LOCATE = SITE "AA30" LEVEL 1;
COMP "FPGA_CON<279>" LOCATE = SITE "AN39" LEVEL 1;
COMP "FPGA_CON<287>" LOCATE = SITE "AJ32" LEVEL 1;
COMP "FPGA_CON<295>" LOCATE = SITE "AR39" LEVEL 1;
COMP "FPGA_CON<359>" LOCATE = SITE "AV32" LEVEL 1;
COMP "FPGA_CON<367>" LOCATE = SITE "AM28" LEVEL 1;
COMP "FPGA_CON<375>" LOCATE = SITE "AV29" LEVEL 1;
COMP "FPGA_CON<383>" LOCATE = SITE "AR28" LEVEL 1;
COMP "FPGA_CON<391>" LOCATE = SITE "AT13" LEVEL 1;
COMP "FPGA_CON<439>" LOCATE = SITE "AM15" LEVEL 1;
COMP "FPGA_CON<288>" LOCATE = SITE "AR37" LEVEL 1;
COMP "FPGA_CON<296>" LOCATE = SITE "AG28" LEVEL 1;
COMP "FPGA_CON<368>" LOCATE = SITE "AP27" LEVEL 1;
COMP "FPGA_CON<376>" LOCATE = SITE "AV27" LEVEL 1;
COMP "FPGA_CON<384>" LOCATE = SITE "AW10" LEVEL 1;
COMP "FPGA_CON<392>" LOCATE = SITE "AR11" LEVEL 1;
COMP "FPGA_CON<289>" LOCATE = SITE "AR38" LEVEL 1;
COMP "FPGA_CON<297>" LOCATE = SITE "AH29" LEVEL 1;
COMP "FPGA_CON<369>" LOCATE = SITE "AR27" LEVEL 1;
COMP "FPGA_CON<377>" LOCATE = SITE "AW27" LEVEL 1;
COMP "FPGA_CON<385>" LOCATE = SITE "AW11" LEVEL 1;
COMP "FPGA_CON<393>" LOCATE = SITE "AT11" LEVEL 1;
COMP "FPGA_CON<298>" LOCATE = SITE "AP36" LEVEL 1;
COMP "FPGA_CON<378>" LOCATE = SITE "AT29" LEVEL 1;
COMP "FPGA_CON<386>" LOCATE = SITE "AV14" LEVEL 1;
COMP "FPGA_CON<394>" LOCATE = SITE "AM13" LEVEL 1;
COMP "FPGA_CON<299>" LOCATE = SITE "AP37" LEVEL 1;
COMP "FPGA_CON<379>" LOCATE = SITE "AR29" LEVEL 1;
COMP "FPGA_CON<387>" LOCATE = SITE "AW14" LEVEL 1;
COMP "FPGA_CON<395>" LOCATE = SITE "AN14" LEVEL 1;
COMP "FPGA_CON<388>" LOCATE = SITE "AU10" LEVEL 1;
COMP "FPGA_CON<396>" LOCATE = SITE "AV9" LEVEL 1;
COMP "FPGA_CON<389>" LOCATE = SITE "AV10" LEVEL 1;
COMP "FPGA_CON<397>" LOCATE = SITE "AW9" LEVEL 1;
COMP "FPGA_CON<398>" LOCATE = SITE "AV12" LEVEL 1;
COMP "FPGA_CON<399>" LOCATE = SITE "AW12" LEVEL 1;
COMP "FPGA_CON<10>" LOCATE = SITE "D29" LEVEL 1;
COMP "FPGA_CON<11>" LOCATE = SITE "E29" LEVEL 1;
COMP "FPGA_CON<12>" LOCATE = SITE "A28" LEVEL 1;
COMP "FPGA_CON<20>" LOCATE = SITE "B32" LEVEL 1;
COMP "FPGA_CON<13>" LOCATE = SITE "A29" LEVEL 1;
COMP "FPGA_CON<21>" LOCATE = SITE "B33" LEVEL 1;
COMP "FPGA_CON<14>" LOCATE = SITE "D30" LEVEL 1;
COMP "FPGA_CON<22>" LOCATE = SITE "J29" LEVEL 1;
COMP "FPGA_CON<30>" LOCATE = SITE "B35" LEVEL 1;
COMP "FPGA_CON<15>" LOCATE = SITE "D31" LEVEL 1;
COMP "FPGA_CON<23>" LOCATE = SITE "K29" LEVEL 1;
COMP "FPGA_CON<31>" LOCATE = SITE "C35" LEVEL 1;
COMP "FPGA_CON<16>" LOCATE = SITE "H25" LEVEL 1;
COMP "FPGA_CON<24>" LOCATE = SITE "B30" LEVEL 1;
COMP "FPGA_CON<32>" LOCATE = SITE "C27" LEVEL 1;
COMP "FPGA_CON<40>" LOCATE = SITE "B28" LEVEL 1;
COMP "FPGA_CON<17>" LOCATE = SITE "J26" LEVEL 1;
COMP "FPGA_CON<25>" LOCATE = SITE "B31" LEVEL 1;
COMP "FPGA_CON<33>" LOCATE = SITE "B27" LEVEL 1;
COMP "FPGA_CON<41>" LOCATE = SITE "C28" LEVEL 1;
COMP "FPGA_CON<18>" LOCATE = SITE "G30" LEVEL 1;
COMP "FPGA_CON<26>" LOCATE = SITE "C33" LEVEL 1;
COMP "FPGA_CON<34>" LOCATE = SITE "F29" LEVEL 1;
COMP "FPGA_CON<42>" LOCATE = SITE "A33" LEVEL 1;
COMP "FPGA_CON<50>" LOCATE = SITE "E33" LEVEL 1;
COMP "FPGA_CON<19>" LOCATE = SITE "H29" LEVEL 1;
COMP "FPGA_CON<27>" LOCATE = SITE "C34" LEVEL 1;
COMP "FPGA_CON<35>" LOCATE = SITE "G28" LEVEL 1;
COMP "FPGA_CON<43>" LOCATE = SITE "A34" LEVEL 1;
COMP "FPGA_CON<51>" LOCATE = SITE "F33" LEVEL 1;
COMP "FPGA_CON<28>" LOCATE = SITE "F31" LEVEL 1;
COMP "FPGA_CON<36>" LOCATE = SITE "J27" LEVEL 1;
COMP "FPGA_CON<44>" LOCATE = SITE "C29" LEVEL 1;
COMP "FPGA_CON<52>" LOCATE = SITE "H30" LEVEL 1;
COMP "FPGA_CON<60>" LOCATE = SITE "B36" LEVEL 1;
COMP "FPGA_CON<29>" LOCATE = SITE "G31" LEVEL 1;
COMP "FPGA_CON<37>" LOCATE = SITE "H27" LEVEL 1;
COMP "FPGA_CON<45>" LOCATE = SITE "C30" LEVEL 1;
COMP "FPGA_CON<53>" LOCATE = SITE "J30" LEVEL 1;
COMP "FPGA_CON<61>" LOCATE = SITE "B37" LEVEL 1;
COMP "FPGA_CON<38>" LOCATE = SITE "C32" LEVEL 1;
COMP "FPGA_CON<46>" LOCATE = SITE "E31" LEVEL 1;
COMP "FPGA_CON<54>" LOCATE = SITE "G32" LEVEL 1;
COMP "FPGA_CON<62>" LOCATE = SITE "L30" LEVEL 1;
COMP "FPGA_CON<70>" LOCATE = SITE "F35" LEVEL 1;
COMP "FPGA_CON<39>" LOCATE = SITE "D32" LEVEL 1;
COMP "FPGA_CON<47>" LOCATE = SITE "E32" LEVEL 1;
COMP "FPGA_CON<55>" LOCATE = SITE "G33" LEVEL 1;
COMP "FPGA_CON<63>" LOCATE = SITE "L31" LEVEL 1;
COMP "FPGA_CON<71>" LOCATE = SITE "G35" LEVEL 1;
COMP "FPGA_CON<48>" LOCATE = SITE "M27" LEVEL 1;
COMP "FPGA_CON<56>" LOCATE = SITE "A35" LEVEL 1;
COMP "FPGA_CON<64>" LOCATE = SITE "D34" LEVEL 1;
COMP "FPGA_CON<72>" LOCATE = SITE "D36" LEVEL 1;
COMP "FPGA_CON<80>" LOCATE = SITE "J32" LEVEL 1;
COMP "FPGA_CON<49>" LOCATE = SITE "L28" LEVEL 1;
COMP "FPGA_CON<57>" LOCATE = SITE "A36" LEVEL 1;
COMP "FPGA_CON<65>" LOCATE = SITE "D35" LEVEL 1;
COMP "FPGA_CON<73>" LOCATE = SITE "D37" LEVEL 1;
COMP "FPGA_CON<81>" LOCATE = SITE "K32" LEVEL 1;
COMP "FPGA_CON<58>" LOCATE = SITE "J31" LEVEL 1;
COMP "FPGA_CON<66>" LOCATE = SITE "C37" LEVEL 1;
COMP "FPGA_CON<74>" LOCATE = SITE "H33" LEVEL 1;
COMP "FPGA_CON<82>" LOCATE = SITE "G36" LEVEL 1;
COMP "FPGA_CON<90>" LOCATE = SITE "E39" LEVEL 1;
COMP "FPGA_CON<59>" LOCATE = SITE "K31" LEVEL 1;
COMP "FPGA_CON<67>" LOCATE = SITE "C38" LEVEL 1;
COMP "FPGA_CON<75>" LOCATE = SITE "H34" LEVEL 1;
COMP "FPGA_CON<83>" LOCATE = SITE "G37" LEVEL 1;
COMP "FPGA_CON<91>" LOCATE = SITE "F39" LEVEL 1;
COMP "FPGA_CON<68>" LOCATE = SITE "E34" LEVEL 1;
COMP "FPGA_CON<76>" LOCATE = SITE "E36" LEVEL 1;
COMP "FPGA_CON<84>" LOCATE = SITE "E37" LEVEL 1;
COMP "FPGA_CON<92>" LOCATE = SITE "J34" LEVEL 1;
COMP "FPGA_CON<69>" LOCATE = SITE "F34" LEVEL 1;
COMP "FPGA_CON<77>" LOCATE = SITE "F36" LEVEL 1;
COMP "FPGA_CON<85>" LOCATE = SITE "E38" LEVEL 1;
COMP "FPGA_CON<93>" LOCATE = SITE "K34" LEVEL 1;
COMP "FPGA_CON<78>" LOCATE = SITE "C39" LEVEL 1;
COMP "FPGA_CON<86>" LOCATE = SITE "H35" LEVEL 1;
COMP "FPGA_CON<94>" LOCATE = SITE "F38" LEVEL 1;
COMP "FPGA_CON<79>" LOCATE = SITE "D39" LEVEL 1;
COMP "FPGA_CON<87>" LOCATE = SITE "J35" LEVEL 1;
COMP "FPGA_CON<95>" LOCATE = SITE "G38" LEVEL 1;
COMP "FPGA_CON<88>" LOCATE = SITE "M30" LEVEL 1;
COMP "FPGA_CON<96>" LOCATE = SITE "K33" LEVEL 1;
COMP "FPGA_CON<89>" LOCATE = SITE "M31" LEVEL 1;
COMP "FPGA_CON<97>" LOCATE = SITE "L33" LEVEL 1;
COMP "FPGA_CON<98>" LOCATE = SITE "H37" LEVEL 1;
COMP "FPGA_CON<99>" LOCATE = SITE "H38" LEVEL 1;
COMP "SEG_DATA<0>" LOCATE = SITE "AG18" LEVEL 1;
COMP "SEG_DATA<1>" LOCATE = SITE "AH18" LEVEL 1;
COMP "SEG_DATA<2>" LOCATE = SITE "AL19" LEVEL 1;
COMP "SEG_DATA<3>" LOCATE = SITE "AL20" LEVEL 1;
COMP "SEG_DATA<4>" LOCATE = SITE "AF20" LEVEL 1;
COMP "SEG_DATA<5>" LOCATE = SITE "AG20" LEVEL 1;
COMP "SEG_DATA<6>" LOCATE = SITE "AJ20" LEVEL 1;
COMP "SEG_DATA<7>" LOCATE = SITE "AJ21" LEVEL 1;
COMP "FPGA_EN" LOCATE = SITE "AV5" LEVEL 1;
COMP "FPGA_CON<0>" LOCATE = SITE "B26" LEVEL 1;
COMP "FPGA_CON<1>" LOCATE = SITE "A26" LEVEL 1;
COMP "FPGA_CON<2>" LOCATE = SITE "E28" LEVEL 1;
COMP "FPGA_CON<3>" LOCATE = SITE "F28" LEVEL 1;
COMP "FPGA_CON<4>" LOCATE = SITE "E27" LEVEL 1;
COMP "FPGA_CON<5>" LOCATE = SITE "D27" LEVEL 1;
COMP "FPGA_CON<6>" LOCATE = SITE "A30" LEVEL 1;
COMP "FPGA_CON<7>" LOCATE = SITE "A31" LEVEL 1;
COMP "FPGA_CON<8>" LOCATE = SITE "G25" LEVEL 1;
COMP "FPGA_CON<9>" LOCATE = SITE "G26" LEVEL 1;
COMP "SEG_COMM<0>" LOCATE = SITE "AJ19" LEVEL 1;
COMP "SEG_COMM<1>" LOCATE = SITE "AK19" LEVEL 1;
COMP "SEG_COMM<2>" LOCATE = SITE "AK21" LEVEL 1;
COMP "SEG_COMM<3>" LOCATE = SITE "AL21" LEVEL 1;
SCHEMATIC END;
