#/////////////// BANK 11~12 ///////////////

# EXP_IO[63:0]
# External ROM
	NET "EXT_ADDR[0]" LOC = "R31";	// EXP_IO_<0>
	NET "EXT_ADDR[1]" LOC = "R32";	// EXP_IO_<1>
	NET "EXT_ADDR[2]" LOC = "P34";	// EXP_IO_<2>
	NET "EXT_ADDR[3]" LOC = "P35";	// EXP_IO_<3>
	NET "EXT_ADDR[4]" LOC = "T29";	// EXP_IO_<4>
	NET "EXT_ADDR[5]" LOC = "U28";	// EXP_IO_<5>
	NET "EXT_ADDR[6]" LOC = "P36";	// EXP_IO_<6>
	NET "EXT_ADDR[7]" LOC = "P37";	// EXP_IO_<7>
	NET "EXT_ADDR[8]" LOC = "N37";	// EXP_IO_<8>
	NET "EXT_ADDR[9]" LOC = "N38";	// EXP_IO_<9>
	NET "EXT_ADDR[10]" LOC = "N39";	// EXP_IO_<10>
	NET "EXT_ADDR[11]" LOC = "P39";	// EXP_IO_<11>
	NET "EXT_ADDR[12]" LOC = "R34";	// EXP_IO_<12>
	NET "EXT_ADDR[13]" LOC = "T34";	// EXP_IO_<13>
	NET "EXT_ADDR[14]" LOC = "T31";	// EXP_IO_<14>
	NET "EXT_ADDR[15]" LOC = "U30";	// EXP_IO_<15>
	NET "EXT_ADDR[16]" LOC = "R36";	// EXP_IO_<16>
	NET "EXT_ADDR[17]" LOC = "T36";	// EXP_IO_<17>
	NET "EXT_OEb" LOC = "T33";	// EXP_IO_<18>
	NET "EXT_DATA[0]" LOC = "U32";	// EXP_IO_<19>
	NET "EXT_DATA[1]" LOC = "R37";	// EXP_IO_<20>
	NET "EXT_DATA[2]" LOC = "R38";	// EXP_IO_<21>
	NET "EXT_DATA[3]" LOC = "R39";	// EXP_IO_<22>
	NET "EXT_DATA[4]" LOC = "T39";	// EXP_IO_<23>
	NET "EXT_DATA[5]" LOC = "V25";	// EXP_IO_<24>
	NET "EXT_DATA[6]" LOC = "U26";	// EXP_IO_<25>
	NET "EXT_DATA[7]" LOC = "V27";	// EXP_IO_<26>
	NET "EXT_DATA[8]" LOC = "U27";	// EXP_IO_<27>
	NET "EXT_DATA[9]" LOC = "T35";	// EXP_IO_<28>
	NET "EXT_DATA[10]" LOC = "U35";	// EXP_IO_<29>
	NET "EXT_DATA[11]" LOC = "U33";	// EXP_IO_<30>
	NET "EXT_DATA[12]" LOC = "V33";	// EXP_IO_<31>
	NET "EXT_DATA[13]" LOC = "T38";	// EXP_IO_<32>
	NET "EXT_DATA[14]" LOC = "U38";	// EXP_IO_<33>
	NET "EXT_DATA[15]" LOC = "V29";	// EXP_IO_<34>
	NET "EXT_CSb" LOC = "V30";	// EXP_IO_<35>
	NET "EXT_ADDR[18]" LOC = "U36";	// EXP_IO_<36>
	NET "EXT_ADDR[19]" LOC = "U37";	// EXP_IO_<37>

#	NET "EXP_IO_<38>" LOC = "V32";
#	NET "EXP_IO_<39>" LOC = "W32";
#	NET "EXP_IO_<40>" LOC = "W26";
#	NET "EXP_IO_<41>" LOC = "W27";
#	NET "EXP_IO_<42>" LOC = "V34";
#	NET "EXP_IO_<43>" LOC = "V35";
#	NET "EXP_IO_<44>" LOC = "V37";
#	NET "EXP_IO_<45>" LOC = "V38";
#	NET "EXP_IO_<46>" LOC = "V39";
#	NET "EXP_IO_<47>" LOC = "W39";
#	NET "EXP_IO_<48>" LOC = "W34";
#	NET "EXP_IO_<49>" LOC = "W35";

# PSRAM
	NET "PSRAM_ZZb" LOC = "W36"; 	// EXP_IO_<50>
	NET "PSRAM_UBb" LOC = "W37"; 	// EXP_IO_<51>
	NET "PSRAM_LBb" LOC = "Y37"; 	// EXP_IO_<52>
	NET "PSRAM_OEb" LOC = "Y38"; 	// EXP_IO_<53>
	NET "PSRAM_WEb" LOC = "Y39"; 	// EXP_IO_<54>
	NET "PSRAM_CSb" LOC = "AA39";	// EXP_IO_<55>
	NET "PSRAM_ADDR[0]" LOC = "AA36";	// EXP_IO_<56>
	NET "PSRAM_ADDR[1]" LOC = "Y36"; 	// EXP_IO_<57>
	NET "PSRAM_ADDR[2]" LOC = "Y33"; 	// EXP_IO_<58>
	NET "PSRAM_ADDR[3]" LOC = "Y34"; 	// EXP_IO_<59>
	NET "PSRAM_ADDR[4]" LOC = "AB36";	// EXP_IO_<60>
	NET "PSRAM_ADDR[5]" LOC = "AB37";	// EXP_IO_<61>
	NET "PSRAM_ADDR[6]" LOC = "AB38";	// EXP_IO_<62>
	NET "PSRAM_ADDR[7]" LOC = "AA38";	// EXP_IO_<63>

#/////////////// BANK 9~10 ///////////////
# EXP_IP[127:64]
	NET "PSRAM_ADDR[8]" LOC = "D34";	// EXP_IO_<64>
	NET "PSRAM_ADDR[9]" LOC = "D35";	// EXP_IO_<65>
	NET "PSRAM_ADDR[10]" LOC = "C37";	// EXP_IO_<66>
	NET "PSRAM_ADDR[11]" LOC = "C38";	// EXP_IO_<67>
	NET "PSRAM_ADDR[12]" LOC = "E34";	// EXP_IO_<68>
	NET "PSRAM_ADDR[13]" LOC = "F34";	// EXP_IO_<69>
	NET "PSRAM_ADDR[14]" LOC = "F35";	// EXP_IO_<70>
	NET "PSRAM_ADDR[15]" LOC = "G35";	// EXP_IO_<71>
	NET "PSRAM_ADDR[16]" LOC = "D36";	// EXP_IO_<72>
	NET "PSRAM_ADDR[17]" LOC = "D37";	// EXP_IO_<73>
	NET "PSRAM_DATA[0]" LOC = "H33";	// EXP_IO_<74>
	NET "PSRAM_DATA[1]" LOC = "H34";	// EXP_IO_<75>
	NET "PSRAM_DATA[2]" LOC = "E36";	// EXP_IO_<76>
	NET "PSRAM_DATA[3]" LOC = "F36";	// EXP_IO_<77>
	NET "PSRAM_DATA[4]" LOC = "C39";	// EXP_IO_<78>
	NET "PSRAM_DATA[5]" LOC = "D39";	// EXP_IO_<79>
	NET "PSRAM_DATA[6]" LOC = "J32";	// EXP_IO_<80>
	NET "PSRAM_DATA[7]" LOC = "K32";	// EXP_IO_<81>
	NET "PSRAM_DATA[8]" LOC = "G36";	// EXP_IO_<82>
	NET "PSRAM_DATA[9]" LOC = "G37";	// EXP_IO_<83>
	NET "PSRAM_DATA[10]" LOC = "E37";	// EXP_IO_<84>
	NET "PSRAM_DATA[11]" LOC = "E38";	// EXP_IO_<85>
	NET "PSRAM_DATA[12]" LOC = "H35";	// EXP_IO_<86>
	NET "PSRAM_DATA[13]" LOC = "J35";	// EXP_IO_<87>
	NET "PSRAM_DATA[14]" LOC = "M30";	// EXP_IO_<88>
	NET "PSRAM_DATA[15]" LOC = "M31";	// EXP_IO_<89>

# SPI Memory
	NET "SPI_CSb" LOC = "E39";	// EXP_IO_<90>
	NET "SPI_SDO" LOC = "F39";	// EXP_IO_<91>
	NET "SPI_SDI" LOC = "J34";	// EXP_IO_<92>
	NET "SPI_SCK" LOC = "K34";	// EXP_IO_<93>

#	NET "EXP_IO_<94>" LOC = "F38";
#	NET "EXP_IO_<95>" LOC = "G38";
#	NET "EXP_IO_<96>" LOC = "K33";

# NOR Flash(Wave ROM)
	NET "WAVE_BYTEb" LOC = "L33";	// EXP_IO_<97>
	NET "WAVE_DATA[0]" LOC = "H37";	// EXP_IO_<98>
	NET "WAVE_DATA[1]" LOC = "H38";	// EXP_IO_<99>
	NET "WAVE_DATA[2]" LOC = "N30";	// EXP_IO_<100>
	NET "WAVE_DATA[3]" LOC = "P29";	// EXP_IO_<101>
	NET "WAVE_DATA[4]" LOC = "L34";	// EXP_IO_<102>
	NET "WAVE_DATA[5]" LOC = "L35";	// EXP_IO_<103>
	NET "WAVE_DATA[6]" LOC = "J36";	// EXP_IO_<104>
	NET "WAVE_DATA[7]" LOC = "J37";	// EXP_IO_<105>
#	NET "WAVE_DATA[8]" LOC = "K36";	// EXP_IO_<106>
#	NET "WAVE_DATA[9]" LOC = "L36";	// EXP_IO_<107>
#	NET "WAVE_DATA[10]" LOC = "H39";	// EXP_IO_<108>
#	NET "WAVE_DATA[11]" LOC = "J39";	// EXP_IO_<109>
#	NET "WAVE_DATA[12]" LOC = "M33";	// EXP_IO_<110>
#	NET "WAVE_DATA[13]" LOC = "N32";	// EXP_IO_<111>
#	NET "WAVE_DATA[14]" LOC = "R28";	// EXP_IO_<112>
	NET "WAVE_DATA[15]" LOC = "R29";	// EXP_IO_<113>
	NET "WAVE_ADDR[24]" LOC = "M35";	// EXP_IO_<114>
	NET "WAVE_ADDR[23]" LOC = "N35";	// EXP_IO_<115>
	NET "WAVE_ADDR[22]" LOC = "K37";	// EXP_IO_<116>
	NET "WAVE_ADDR[21]" LOC = "K38";	// EXP_IO_<117>
	NET "WAVE_ADDR[20]" LOC = "N33";	// EXP_IO_<118>
	NET "WAVE_ADDR[19]" LOC = "N34";	// EXP_IO_<119>
	NET "WAVE_ADDR[18]" LOC = "P31";	// EXP_IO_<120>
	NET "WAVE_ADDR[17]" LOC = "P32";	// EXP_IO_<121>
	NET "WAVE_ADDR[16]" LOC = "K39";	// EXP_IO_<122>
	NET "WAVE_ADDR[15]" LOC = "L39";	// EXP_IO_<123>
	NET "WAVE_ADDR[14]" LOC = "L38";	// EXP_IO_<124>
	NET "WAVE_ADDR[13]" LOC = "M38";	// EXP_IO_<125>
	NET "WAVE_ADDR[12]" LOC = "M36";	// EXP_IO_<126>
	NET "WAVE_ADDR[11]" LOC = "M37";	// EXP_IO_<127>
         
# EXP_IO[173:128]
	NET "WAVE_ADDR[10]" LOC = "AP34";	// EXP_IO_<128>
	NET "WAVE_ADDR[9]" LOC = "AR34";	// EXP_IO_<129>
	NET "WAVE_ADDR[8]" LOC = "AV35";	// EXP_IO_<130>
	NET "WAVE_ADDR[7]" LOC = "AW35";	// EXP_IO_<131>
	NET "WAVE_ADDR[6]" LOC = "AU37";	// EXP_IO_<132>
	NET "WAVE_ADDR[5]" LOC = "AV37";	// EXP_IO_<133>
	NET "WAVE_ADDR[4]" LOC = "AW37";	// EXP_IO_<134>
	NET "WAVE_ADDR[3]" LOC = "AW36";	// EXP_IO_<135>
	NET "WAVE_ADDR[2]" LOC = "AR36";	// EXP_IO_<136>
	NET "WAVE_ADDR[1]" LOC = "AT36";	// EXP_IO_<137>
	NET "WAVE_ADDR[0]" LOC = "AT35";	// EXP_IO_<138>
	
	NET "WAVE_CSb" LOC = "AT34";	// EXP_IO_<139>
	NET "WAVE_WRb" LOC = "AL33";	// EXP_IO_<140>
	NET "WAVE_RDb" LOC = "AM33";	// EXP_IO_<141>
	NET "WAVE_WPb" LOC = "AU36";	// EXP_IO_<142>
#	NET "WAVE_BYb" LOC = "AU35";	// EXP_IO_<143>

	NET "MIDI_IN" LOC = "AT38";		// EXP_IO_<144>	, UART RX

## DAC
	NET "LRCKO" LOC = "AR37";		// EXP_IO_<159>
	NET "SCKO" LOC = "AK33";		// EXP_IO_<161>
	NET "SD1O" LOC = "AH30";		// EXP_IO_<163>
	NET "SD2O" LOC = "AM35";		// EXP_IO_<157>

	NET "ADMCK" LOC = "AE28";		// EXP_IO_<173>

## ADC
	NET "MLRCK" LOC = "AL34";		// EXP_IO_<171>
	NET "MSCK" LOC = "AP39";		// EXP_IO_<169>
	NET "SDI1" LOC = "AF28";		// EXP_IO_<167>
	NET "SDI2" LOC = "AN37";		// EXP_IO_<165>
	
#	NET "EXP_IO_<172>" LOC = "AE29";
#	NET "EXP_IO_<170>" LOC = "AK34";
#	NET "EXP_IO_<168>" LOC = "AN39";
#	NET "EXP_IO_<166>" LOC = "AF29";
#	NET "EXP_IO_<164>" LOC = "AN38";
#	NET "EXP_IO_<162>" LOC = "AG30";
#	NET "EXP_IO_<160>" LOC = "AJ32";
#	NET "EXP_IO_<158>" LOC = "AR38";
#	NET "EXP_IO_<156>" LOC = "AL35";
#	NET "EXP_IO_<155>" LOC = "AP35";
#	NET "EXP_IO_<154>" LOC = "AN35";
#	NET "EXP_IO_<153>" LOC = "AT39";
#	NET "EXP_IO_<152>" LOC = "AR39";
#	NET "EXP_IO_<151>" LOC = "AG28";
#	NET "EXP_IO_<150>" LOC = "AH29";
#	NET "EXP_IO_<149>" LOC = "AP36";
#	NET "EXP_IO_<148>" LOC = "AP37";
#	NET "EXP_IO_<147>" LOC = "AN33";
#	NET "EXP_IO_<146>" LOC = "AN34";
#	NET "EXP_IO_<145>" LOC = "AU38";
