//! **************************************************************************
// Written by: Map I.31 on Mon Jan 15 09:55:02 2007
//! **************************************************************************

SCHEMATIC START;
COMP "SEG_COM<0>" LOCATE = SITE "AL21" LEVEL 1;
COMP "SEG_COM<1>" LOCATE = SITE "AK21" LEVEL 1;
COMP "SEG_COM<2>" LOCATE = SITE "AK19" LEVEL 1;
COMP "SEG_COM<3>" LOCATE = SITE "AJ19" LEVEL 1;
COMP "SEG_DATA<0>" LOCATE = SITE "AJ21" LEVEL 1;
COMP "SEG_DATA<1>" LOCATE = SITE "AJ20" LEVEL 1;
COMP "SEG_DATA<2>" LOCATE = SITE "AG20" LEVEL 1;
COMP "SEG_DATA<3>" LOCATE = SITE "AF20" LEVEL 1;
COMP "nRESET" LOCATE = SITE "AH19" LEVEL 1;
COMP "SEG_DATA<4>" LOCATE = SITE "AL20" LEVEL 1;
COMP "SEG_DATA<5>" LOCATE = SITE "AL19" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P20" LEVEL 1;
COMP "SEG_DATA<6>" LOCATE = SITE "AH18" LEVEL 1;
COMP "SEG_DATA<7>" LOCATE = SITE "AG18" LEVEL 1;
SCHEMATIC END;
