//! **************************************************************************
// Written by: Map I.31 on Thu Dec 28 10:14:39 2006
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_CLK" LOCATE = SITE "AU2" LEVEL 1;
COMP "LCD_SDA" LOCATE = SITE "AK6" LEVEL 1;
COMP "LCD_SCL" LOCATE = SITE "AN3" LEVEL 1;
COMP "nRST" LOCATE = SITE "AH19" LEVEL 1;
COMP "LCD_HSYNC" LOCATE = SITE "AR1" LEVEL 1;
COMP "LCD_D<0>" LOCATE = SITE "AT3" LEVEL 1;
COMP "LCD_D<1>" LOCATE = SITE "AU3" LEVEL 1;
COMP "CLK" LOCATE = SITE "P20" LEVEL 1;
COMP "LCD_D<2>" LOCATE = SITE "AT5" LEVEL 1;
COMP "LCD_D<3>" LOCATE = SITE "AT6" LEVEL 1;
COMP "LCD_D<4>" LOCATE = SITE "AP4" LEVEL 1;
COMP "LCD_D<5>" LOCATE = SITE "AP5" LEVEL 1;
COMP "LCD_D<6>" LOCATE = SITE "AP6" LEVEL 1;
COMP "LCD_D<7>" LOCATE = SITE "AR6" LEVEL 1;
COMP "USER_SW<0>" LOCATE = SITE "AD1" LEVEL 1;
COMP "USER_SW<1>" LOCATE = SITE "AD2" LEVEL 1;
COMP "USER_SW<2>" LOCATE = SITE "AB8" LEVEL 1;
COMP "USER_SW<3>" LOCATE = SITE "AC8" LEVEL 1;
COMP "LCD_ENAB" LOCATE = SITE "AH10" LEVEL 1;
COMP "LCD_SCEN" LOCATE = SITE "AL6" LEVEL 1;
COMP "LCD_VSYNC" LOCATE = SITE "AT1" LEVEL 1;
COMP "nPORST" LOCATE = SITE "AH20" LEVEL 1;
SCHEMATIC END;
