//! **************************************************************************
// Written by: Map I.31 on Mon Dec 18 18:58:32 2006
//! **************************************************************************

SCHEMATIC START;
COMP "BCLK" LOCATE = SITE "K21" LEVEL 1;
COMP "L3CLOCK" LOCATE = SITE "M22" LEVEL 1;
COMP "L3MODE" LOCATE = SITE "K19" LEVEL 1;
COMP "L3DATA" LOCATE = SITE "J20" LEVEL 1;
COMP "nRST" LOCATE = SITE "AH19" LEVEL 1;
COMP "WS" LOCATE = SITE "P21" LEVEL 1;
COMP "PORESET" LOCATE = SITE "AF18" LEVEL 1;
COMP "DATA_I" LOCATE = SITE "M20" LEVEL 1;
COMP "DATA_O" LOCATE = SITE "L19" LEVEL 1;
COMP "CDCLK" LOCATE = SITE "N20" LEVEL 1;
COMP "CLK" LOCATE = SITE "P20" LEVEL 1;
SCHEMATIC END;
