INST *ps2_ram INIT_00 = 5b03111e1f2c71665a02101d702a386559290f3e40424464583c3b3d3f4143ff ;
INST *ps2_ram INIT_01 = 5f0908162432726a5e071522233031695d061314212f39685c040512202d2e67 ;
INST *ps2_ram INIT_02 = 76632b751b1c363a6e620d1a7428736d610c19272635346c600a0b181725336b ;
INST *ps2_ram INIT_03 = 544649374a514e574501484d4c5053526f7f7e474b7d4f7c7b0e7a7978775655 ;
INST *ps2_ram INIT_04 = 9f9e9d9c9b9a999897969594939291908f8e8d8c8b8a89888786855441828180 ;
INST *ps2_ram INIT_05 = bfbebdbcbbbab9b8b7b6b5b4b3b2b1b0afaeadacabaaa9a8a7a6a5a4a3a2a1a0 ;
INST *ps2_ram INIT_06 = dfdedddcdbdad9d8d7d6d5d4d3d2d1d0cfcecdcccbcac9c8c7c6c5c4c3c2c1c0 ;
INST *ps2_ram INIT_07 = fffefdfcfbfaf9f8f7f6f5f4f3f2f1f0efeeedecebeae9e8e7e6e5e4e3e2e1e0 ;


#PINLOCK_BEGIN
NET "rstn" LOC = "P174";
NET "sw[1]" LOC = "P175";
NET "sw[2]" LOC = "P176";
NET "clk" LOC = "P89";
NET "vga_pclk" LOC = "P52";
NET "vga_blank" LOC = "P50";
NET "vga_hsyncn" LOC = "P48";
NET "vga_vsyncn" LOC = "P49";
NET "vga_g[3]" LOC = "P118";
NET "vga_g[2]" LOC = "P117";
NET "vga_g[1]" LOC = "P116";
NET "vga_g[0]" LOC = "P115";
NET "vga_b[3]" LOC = "P128";
NET "vga_b[2]" LOC = "P127";
NET "vga_b[1]" LOC = "P126";
NET "vga_b[0]" LOC = "P125";
NET "vga_r[3]" LOC = "P114";
NET "vga_r[2]" LOC = "P113";
NET "vga_r[1]" LOC = "P111";
NET "vga_r[0]" LOC = "P110";
NET "vga_pclk" FAST;
NET "vga_blank" FAST;
NET "vga_hsyncn" FAST;
NET "vga_vsyncn" FAST;
NET "vga_g[3]" FAST;
NET "vga_g[2]" FAST;
NET "vga_g[1]" FAST;
NET "vga_g[0]" FAST;
NET "vga_b[3]" FAST;
NET "vga_b[2]" FAST;
NET "vga_b[1]" FAST;
NET "vga_b[0]" FAST;
NET "vga_r[3]" FAST;
NET "vga_r[2]" FAST;
NET "vga_r[1]" FAST;
NET "vga_r[0]" FAST;
NET "vga_pclk" DRIVE = 24;
NET "vga_blank" DRIVE = 24;
NET "vga_hsyncn" DRIVE = 24;
NET "vga_vsyncn" DRIVE = 24;
NET "vga_g[3]" DRIVE = 24;
NET "vga_g[2]" DRIVE = 24;
NET "vga_g[1]" DRIVE = 24;
NET "vga_g[0]" DRIVE = 24;
NET "vga_b[3]" DRIVE = 24;
NET "vga_b[2]" DRIVE = 24;
NET "vga_b[1]" DRIVE = 24;
NET "vga_b[0]" DRIVE = 24;
NET "vga_r[3]" DRIVE = 24;
NET "vga_r[2]" DRIVE = 24;
NET "vga_r[1]" DRIVE = 24;
NET "vga_r[0]" DRIVE = 24;
NET "codec_sdin" LOC = "P6";
NET "codec_mclk" LOC = "P3";
NET "codec_lrclk" LOC = "P4";
NET "codec_sclk" LOC = "P5";
NET "codec_sdout" LOC = "P7";
NET "codec_sdin" FAST;
NET "codec_mclk" FAST;
NET "codec_lrclk" FAST;
NET "codec_sclk" FAST;
NET "codec_sdin" DRIVE = 24;
NET "codec_mclk" DRIVE = 24;
NET "codec_lrclk" DRIVE = 24;
NET "codec_sclk" DRIVE = 24;
NET "sram_r_d[0]" DRIVE = 24;
NET "sram_r_d[1]" DRIVE = 24;
NET "sram_r_d[2]" DRIVE = 24;
NET "sram_r_d[3]" DRIVE = 24;
NET "sram_r_d[4]" DRIVE = 24;
NET "sram_r_d[5]" DRIVE = 24;
NET "sram_r_d[6]" DRIVE = 24;
NET "sram_r_d[7]" DRIVE = 24;
NET "sram_r_d[8]" DRIVE = 24;
NET "sram_r_d[9]" DRIVE = 24;
NET "sram_r_d[10]" DRIVE = 24;
NET "sram_r_d[11]" DRIVE = 24;
NET "sram_r_d[12]" DRIVE = 24;
NET "sram_r_d[13]" DRIVE = 24;
NET "sram_r_d[14]" DRIVE = 24;
NET "sram_r_d[15]" DRIVE = 24;
NET "sram_r_d[0]" FAST;
NET "sram_r_d[1]" FAST;
NET "sram_r_d[2]" FAST;
NET "sram_r_d[3]" FAST;
NET "sram_r_d[4]" FAST;
NET "sram_r_d[5]" FAST;
NET "sram_r_d[6]" FAST;
NET "sram_r_d[7]" FAST;
NET "sram_r_d[8]" FAST;
NET "sram_r_d[9]" FAST;
NET "sram_r_d[10]" FAST;
NET "sram_r_d[11]" FAST;
NET "sram_r_d[12]" FAST;
NET "sram_r_d[13]" FAST;
NET "sram_r_d[14]" FAST;
NET "sram_r_d[15]" FAST;
NET "sram_r_a[0]" DRIVE = 24;
NET "sram_r_a[1]" DRIVE = 24;
NET "sram_r_a[2]" DRIVE = 24;
NET "sram_r_a[3]" DRIVE = 24;
NET "sram_r_a[4]" DRIVE = 24;
NET "sram_r_a[5]" DRIVE = 24;
NET "sram_r_a[6]" DRIVE = 24;
NET "sram_r_a[7]" DRIVE = 24;
NET "sram_r_a[8]" DRIVE = 24;
NET "sram_r_a[9]" DRIVE = 24;
NET "sram_r_a[10]" DRIVE = 24;
NET "sram_r_a[11]" DRIVE = 24;
NET "sram_r_a[12]" DRIVE = 24;
NET "sram_r_a[13]" DRIVE = 24;
NET "sram_r_a[14]" DRIVE = 24;
NET "sram_r_a[15]" DRIVE = 24;
NET "sram_r_a[16]" DRIVE = 24;
NET "sram_r_a[17]" DRIVE = 24;
NET "sram_r_a[18]" DRIVE = 24;
NET "sram_r_a[0]" FAST;
NET "sram_r_a[1]" FAST;
NET "sram_r_a[2]" FAST;
NET "sram_r_a[3]" FAST;
NET "sram_r_a[4]" FAST;
NET "sram_r_a[5]" FAST;
NET "sram_r_a[6]" FAST;
NET "sram_r_a[7]" FAST;
NET "sram_r_a[8]" FAST;
NET "sram_r_a[9]" FAST;
NET "sram_r_a[10]" FAST;
NET "sram_r_a[11]" FAST;
NET "sram_r_a[12]" FAST;
NET "sram_r_a[13]" FAST;
NET "sram_r_a[14]" FAST;
NET "sram_r_a[15]" FAST;
NET "sram_r_a[16]" FAST;
NET "sram_r_a[17]" FAST;
NET "sram_r_a[18]" FAST;
NET "sram_l_d[0]" DRIVE = 24;
NET "sram_l_d[1]" DRIVE = 24;
NET "sram_l_d[2]" DRIVE = 24;
NET "sram_l_d[3]" DRIVE = 24;
NET "sram_l_d[4]" DRIVE = 24;
NET "sram_l_d[5]" DRIVE = 24;
NET "sram_l_d[6]" DRIVE = 24;
NET "sram_l_d[7]" DRIVE = 24;
NET "sram_l_d[8]" DRIVE = 24;
NET "sram_l_d[9]" DRIVE = 24;
NET "sram_l_d[10]" DRIVE = 24;
NET "sram_l_d[11]" DRIVE = 24;
NET "sram_l_d[12]" DRIVE = 24;
NET "sram_l_d[13]" DRIVE = 24;
NET "sram_l_d[14]" DRIVE = 24;
NET "sram_l_d[15]" DRIVE = 24;
NET "sram_l_d[0]" FAST;
NET "sram_l_d[1]" FAST;
NET "sram_l_d[2]" FAST;
NET "sram_l_d[3]" FAST;
NET "sram_l_d[4]" FAST;
NET "sram_l_d[5]" FAST;
NET "sram_l_d[6]" FAST;
NET "sram_l_d[7]" FAST;
NET "sram_l_d[8]" FAST;
NET "sram_l_d[9]" FAST;
NET "sram_l_d[10]" FAST;
NET "sram_l_d[11]" FAST;
NET "sram_l_d[12]" FAST;
NET "sram_l_d[13]" FAST;
NET "sram_l_d[14]" FAST;
NET "sram_l_d[15]" FAST;
NET "sram_l_a[0]" DRIVE = 24;
NET "sram_l_a[1]" DRIVE = 24;
NET "sram_l_a[2]" DRIVE = 24;
NET "sram_l_a[3]" DRIVE = 24;
NET "sram_l_a[4]" DRIVE = 24;
NET "sram_l_a[5]" DRIVE = 24;
NET "sram_l_a[6]" DRIVE = 24;
NET "sram_l_a[7]" DRIVE = 24;
NET "sram_l_a[8]" DRIVE = 24;
NET "sram_l_a[9]" DRIVE = 24;
NET "sram_l_a[10]" DRIVE = 24;
NET "sram_l_a[11]" DRIVE = 24;
NET "sram_l_a[12]" DRIVE = 24;
NET "sram_l_a[13]" DRIVE = 24;
NET "sram_l_a[14]" DRIVE = 24;
NET "sram_l_a[15]" DRIVE = 24;
NET "sram_l_a[16]" DRIVE = 24;
NET "sram_l_a[17]" DRIVE = 24;
NET "sram_l_a[18]" DRIVE = 24;
NET "sram_l_a[0]" FAST;
NET "sram_l_a[1]" FAST;
NET "sram_l_a[2]" FAST;
NET "sram_l_a[3]" FAST;
NET "sram_l_a[4]" FAST;
NET "sram_l_a[5]" FAST;
NET "sram_l_a[6]" FAST;
NET "sram_l_a[7]" FAST;
NET "sram_l_a[8]" FAST;
NET "sram_l_a[9]" FAST;
NET "sram_l_a[10]" FAST;
NET "sram_l_a[11]" FAST;
NET "sram_l_a[12]" FAST;
NET "sram_l_a[13]" FAST;
NET "sram_l_a[14]" FAST;
NET "sram_l_a[15]" FAST;
NET "sram_l_a[16]" FAST;
NET "sram_l_a[17]" FAST;
NET "sram_l_a[18]" FAST;
NET "sram_l0_wen" DRIVE = 24;
NET "sram_l1_wen" DRIVE = 24;
NET "sram_r0_wen" DRIVE = 24;
NET "sram_r1_wen" DRIVE = 24;
NET "sram_r_oen" DRIVE = 24;
NET "sram_l_oen" DRIVE = 24;
NET "sram_r_cen" DRIVE = 24;
NET "sram_l_cen" DRIVE = 24;
NET "sram_l0_wen" FAST;
NET "sram_l1_wen" FAST;
NET "sram_r0_wen" FAST;
NET "sram_r1_wen" FAST;
NET "sram_r_oen" FAST;
NET "sram_l_oen" FAST;
NET "sram_r_cen" FAST;
NET "sram_l_cen" FAST;
NET "sram_l_a[0]" LOC = "P200";
NET "sram_l_a[6]" LOC = "P191";
NET "sram_l_d[14]" LOC = "P223";
NET "sram_r_d[12]" LOC = "P86";
NET "sram_l_a[5]" LOC = "P192";
NET "sram_l_d[3]" LOC = "P206";
NET "sram_l_d[10]" LOC = "P218";
NET "sram_l_a[2]" LOC = "P195";
NET "sram_l_a[1]" LOC = "P199";
NET "sram_r_a[3]" LOC = "P64";
NET "sram_r_a[5]" LOC = "P57";
NET "sram_l_a[3]" LOC = "P194";
NET "sram_r_a[10]" LOC = "P108";
NET "sram_r_d[11]" LOC = "P85";
NET "sram_r_d[13]" LOC = "P87";
NET "sram_r_d[15]" LOC = "P94";
NET "sram_r_d[14]" LOC = "P93";
NET "sram_l_d[2]" LOC = "P205";
NET "sram_r_a[7]" LOC = "P55";
NET "sram_l_d[13]" LOC = "P222";
NET "sram_r_a[6]" LOC = "P56";
NET "sram_l_a[7]" LOC = "P189";
NET "sram_l_d[0]" LOC = "P202";
NET "sram_l_a[10]" LOC = "P238";
NET "sram_l_d[11]" LOC = "P220";
NET "sram_r_d[3]" LOC = "P73";
NET "sram_r_a[0]" LOC = "P67";
NET "sram_r_d[10]" LOC = "P84";
NET "sram_l_d[15]" LOC = "P224";
NET "sram_l_oen" LOC = "P228";
NET "sram_r_a[1]" LOC = "P66";
NET "sram_r_a[2]" LOC = "P65";
NET "sram_r_a[8]" LOC = "P54";
NET "sram_r_a[15]" LOC = "P100";
NET "sram_r_a[12]" LOC = "P103";
NET "sram_r_d[6]" LOC = "P79";
NET "sram_l_a[8]" LOC = "P188";
NET "sram_r_a[11]" LOC = "P107";
NET "sram_r_a[14]" LOC = "P101";
NET "sram_r_d[8]" LOC = "P81";
NET "sram_l_a[11]" LOC = "P237";
NET "sram_r_d[7]" LOC = "P80";
NET "sram_l1_wen" LOC = "P9";
NET "sram_r_a[9]" LOC = "P53";
NET "sram_l_d[9]" LOC = "P217";
NET "sram_r_a[13]" LOC = "P102";
NET "sram_r_d[9]" LOC = "P82";
NET "sram_l_a[9]" LOC = "P187";
NET "sram_l_d[6]" LOC = "P209";
NET "sram_l_a[12]" LOC = "P236";
NET "sram_r_d[5]" LOC = "P78";
NET "sram_r_oen" LOC = "P95";
NET "sram_r_d[2]" LOC = "P72";
NET "sram_l_d[12]" LOC = "P221";
NET "sram_l_a[4]" LOC = "P193";
NET "sram_r_a[4]" LOC = "P63";
NET "sram_l_d[1]" LOC = "P203";
NET "sram_r_d[1]" LOC = "P71";
NET "sram_r_d[0]" LOC = "P70";
NET "sram_l0_wen" LOC = "P201";
NET "sram_l_d[7]" LOC = "P215";
NET "sram_l_d[8]" LOC = "P216";
NET "sram_l_d[4]" LOC = "P207";
NET "sram_r_d[4]" LOC = "P74";
NET "sram_l_d[5]" LOC = "P208";
NET "sram_r_a[18]" LOC = "P96";
NET "sram_r1_wen" LOC = "P68";
NET "sram_r0_wen" LOC = "P10";
NET "sram_l_a[13]" LOC = "P235";
NET "sram_l_a[17]" LOC = "P230";
NET "sram_r_cen" LOC = "P109";
NET "sram_l_a[16]" LOC = "P231";
NET "sram_r_a[16]" LOC = "P99";
NET "sram_l_a[18]" LOC = "P229";
NET "sram_l_a[14]" LOC = "P234";
NET "sram_l_cen" LOC = "P186";
NET "sram_l_a[15]" LOC = "P232";
NET "sram_r_a[17]" LOC = "P97";
NET "flash_a[15]" LOC = "P155";
NET "flash_d[7]" LOC = "P124";
NET "flash_a[17]" LOC = "P149";
NET "flash_a[14]" LOC = "P159";
NET "flash_a[4]" LOC = "P144";
NET "flash_a[9]" LOC = "P160";
NET "flash_a[5]" LOC = "P147";
NET "flash_oen" LOC = "P173";
NET "flash_a[18]" LOC = "P146";
NET "flash_a[6]" LOC = "P152";
NET "flash_a[8]" LOC = "P157";
NET "flash_a[3]" LOC = "P141";
NET "flash_d[1]" LOC = "P167";
NET "flash_d[3]" LOC = "P156";
NET "flash_d[0]" LOC = "P177";
#NET "flash_rstn"     LOC =  "P????"
NET "flash_a[12]" LOC = "P168";
NET "flash_a[7]" LOC = "P154";
NET "flash_d[2]" LOC = "P163";
NET "flash_d[4]" LOC = "P145";
NET "flash_a[10]" LOC = "P162";
NET "flash_a[16]" LOC = "P153";
NET "flash_a[0]" LOC = "P132";
NET "flash_a[13]" LOC = "P161";
NET "flash_a[1]" LOC = "P133";
NET "flash_a[11]" LOC = "P169";
NET "flash_a[2]" LOC = "P139";
NET "flash_d[5]" LOC = "P138";
NET "flash_d[6]" LOC = "P134";
NET "flash_a[20]" LOC = "P140";
NET "flash_cen" LOC = "P170";
NET "flash_wen" LOC = "P131";
NET "flash_a[19]" LOC = "P142";
NET "flash_a[15]" FAST;
NET "flash_d[7]" FAST;
NET "flash_a[17]" FAST;
NET "flash_a[14]" FAST;
NET "flash_a[4]" FAST;
NET "flash_a[9]" FAST;
NET "flash_a[5]" FAST;
NET "flash_oen" FAST;
NET "flash_a[18]" FAST;
NET "flash_a[6]" FAST;
NET "flash_a[8]" FAST;
NET "flash_a[3]" FAST;
NET "flash_d[1]" FAST;
NET "flash_d[3]" FAST;
NET "flash_d[0]" FAST;
#NET "flash_rstn"     LOC =  "P????"
NET "flash_a[12]" FAST;
NET "flash_a[7]" FAST;
NET "flash_d[2]" FAST;
NET "flash_d[4]" FAST;
NET "flash_a[10]" FAST;
NET "flash_a[16]" FAST;
NET "flash_a[0]" FAST;
NET "flash_a[13]" FAST;
NET "flash_a[1]" FAST;
NET "flash_a[11]" FAST;
NET "flash_a[2]" FAST;
NET "flash_d[5]" FAST;
NET "flash_d[6]" FAST;
NET "flash_a[20]" FAST;
NET "flash_cen" FAST;
NET "flash_wen" FAST;
NET "flash_a[19]" FAST;
NET "flash_a[15]" DRIVE = 24;
NET "flash_d[7]" DRIVE = 24;
NET "flash_a[17]" DRIVE = 24;
NET "flash_a[14]" DRIVE = 24;
NET "flash_a[4]" DRIVE = 24;
NET "flash_a[9]" DRIVE = 24;
NET "flash_a[5]" DRIVE = 24;
NET "flash_oen" DRIVE = 24;
NET "flash_a[18]" DRIVE = 24;
NET "flash_a[6]" DRIVE = 24;
NET "flash_a[8]" DRIVE = 24;
NET "flash_a[3]" DRIVE = 24;
NET "flash_d[1]" DRIVE = 24;
NET "flash_d[3]" DRIVE = 24;
NET "flash_d[0]" DRIVE = 24;
#NET "flash_rstn"     LOC =  "P????"
NET "flash_a[12]" DRIVE = 24;
NET "flash_a[7]" DRIVE = 24;
NET "flash_d[2]" DRIVE = 24;
NET "flash_d[4]" DRIVE = 24;
NET "flash_a[10]" DRIVE = 24;
NET "flash_a[16]" DRIVE = 24;
NET "flash_a[0]" DRIVE = 24;
NET "flash_a[13]" DRIVE = 24;
NET "flash_a[1]" DRIVE = 24;
NET "flash_a[11]" DRIVE = 24;
NET "flash_a[2]" DRIVE = 24;
NET "flash_d[5]" DRIVE = 24;
NET "flash_d[6]" DRIVE = 24;
NET "flash_a[20]" DRIVE = 24;
NET "flash_cen" DRIVE = 24;
NET "flash_wen" DRIVE = 24;
NET "flash_a[19]" DRIVE = 24;
NET "tdmrx" LOC = "P185";    
NET "tdmtx" LOC = "P123";    
NET "tdmfrm" LOC = "P184";    
NET "tdmtx" DRIVE = 24;
NET "tdmtx" FAST;
NET "ps2_clk" LOC  = "P13" ;
NET "ps2_data" LOC = "P17";
NET "ps2_clk" IOSTANDARD  = LVTTL;
NET "ps2_data" IOSTANDARD = LVTTL;
NET "eth_tx_er" LOC = "P27";
NET "eth_tx_clk" LOC = "P210";
NET "eth_tx_en" LOC = "P25";
NET "eth_txd[3]" LOC = "P39";
NET "eth_txd[2]" LOC = "P40";
NET "eth_txd[1]" LOC = "P41";
NET "eth_txd[0]" LOC = "P42";
NET "eth_rx_er" LOC = "P28";
NET "eth_rx_clk" LOC = "P213";
NET "eth_rx_dv" LOC = "P26";
NET "eth_rxd[3]" LOC = "P33";
NET "eth_rxd[2]" LOC = "P34";
NET "eth_rxd[1]" LOC = "P35";
NET "eth_rxd[0]" LOC = "P36";
NET "eth_col" LOC = "P23";
NET "eth_crs" LOC = "P21";
NET "eth_trste" LOC = "P24";
NET "eth_fds_mdint" LOC = "P18";
NET "eth_mdio" LOC = "P20";
NET "eth_mdc" LOC = "P19";
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 45 ns HIGH 50 %;
#NET "sram_r_oen" OFFSET = OUT 10 ns AFTER "clk";
#NET "sram_l_oen" OFFSET = OUT 10 ns AFTER "clk";
#NET "sram_r0_wen" OFFSET = OUT 10 ns AFTER "clk";
#NET "sram_r1_wen" OFFSET = OUT 10 ns AFTER "clk";
INST "sram_l_a[0].PAD" TNM = "SRAM_TN";
INST "sram_l_a[1].PAD" TNM = "SRAM_TN";
INST "sram_l_a[2].PAD" TNM = "SRAM_TN";
INST "sram_l_a[3].PAD" TNM = "SRAM_TN";
INST "sram_l_a[4].PAD" TNM = "SRAM_TN";
INST "sram_l_a[5].PAD" TNM = "SRAM_TN";
INST "sram_l_a[6].PAD" TNM = "SRAM_TN";
INST "sram_l_a[7].PAD" TNM = "SRAM_TN";
INST "sram_l_a[8].PAD" TNM = "SRAM_TN";
INST "sram_l_a[9].PAD" TNM = "SRAM_TN";
INST "sram_l_a[10].PAD" TNM = "SRAM_TN";
INST "sram_l_a[11].PAD" TNM = "SRAM_TN";
INST "sram_l_a[12].PAD" TNM = "SRAM_TN";
INST "sram_l_a[13].PAD" TNM = "SRAM_TN";
INST "sram_l_a[14].PAD" TNM = "SRAM_TN";
INST "sram_l_a[15].PAD" TNM = "SRAM_TN";
INST "sram_l_a[16].PAD" TNM = "SRAM_TN";
INST "sram_l_a[17].PAD" TNM = "SRAM_TN";
INST "sram_l_a[18].PAD" TNM = "SRAM_TN";
INST "sram_l_cen.PAD" TNM = "SRAM_TN";
INST "sram_l_d[0].PAD" TNM = "SRAM_TN";
INST "sram_l_d[1].PAD" TNM = "SRAM_TN";
INST "sram_l_d[2].PAD" TNM = "SRAM_TN";
INST "sram_l_d[3].PAD" TNM = "SRAM_TN";
INST "sram_l_d[4].PAD" TNM = "SRAM_TN";
INST "sram_l_d[5].PAD" TNM = "SRAM_TN";
INST "sram_l_d[6].PAD" TNM = "SRAM_TN";
INST "sram_l_d[7].PAD" TNM = "SRAM_TN";
INST "sram_l_d[8].PAD" TNM = "SRAM_TN";
INST "sram_l_d[9].PAD" TNM = "SRAM_TN";
INST "sram_l_d[10].PAD" TNM = "SRAM_TN";
INST "sram_l_d[11].PAD" TNM = "SRAM_TN";
INST "sram_l_d[12].PAD" TNM = "SRAM_TN";
INST "sram_l_d[13].PAD" TNM = "SRAM_TN";
INST "sram_l_d[14].PAD" TNM = "SRAM_TN";
INST "sram_l_d[15].PAD" TNM = "SRAM_TN";
INST "sram_l_oen.PAD" TNM = "SRAM_TN";
INST "sram_l0_wen.PAD" TNM = "SRAM_TN";
INST "sram_l1_wen.PAD" TNM = "SRAM_TN";
INST "sram_r_a[0].PAD" TNM = "SRAM_TN";
INST "sram_r_a[1].PAD" TNM = "SRAM_TN";
INST "sram_r_a[2].PAD" TNM = "SRAM_TN";
INST "sram_r_a[3].PAD" TNM = "SRAM_TN";
INST "sram_r_a[4].PAD" TNM = "SRAM_TN";
INST "sram_r_a[5].PAD" TNM = "SRAM_TN";
INST "sram_r_a[6].PAD" TNM = "SRAM_TN";
INST "sram_r_a[7].PAD" TNM = "SRAM_TN";
INST "sram_r_a[8].PAD" TNM = "SRAM_TN";
INST "sram_r_a[9].PAD" TNM = "SRAM_TN";
INST "sram_r_a[10].PAD" TNM = "SRAM_TN";
INST "sram_r_a[11].PAD" TNM = "SRAM_TN";
INST "sram_r_a[12].PAD" TNM = "SRAM_TN";
INST "sram_r_a[13].PAD" TNM = "SRAM_TN";
INST "sram_r_a[14].PAD" TNM = "SRAM_TN";
INST "sram_r_a[15].PAD" TNM = "SRAM_TN";
INST "sram_r_a[16].PAD" TNM = "SRAM_TN";
INST "sram_r_a[17].PAD" TNM = "SRAM_TN";
INST "sram_r_a[18].PAD" TNM = "SRAM_TN";
INST "sram_r_cen.PAD" TNM = "SRAM_TN";
INST "sram_r_d[0].PAD" TNM = "SRAM_TN";
INST "sram_r_d[1].PAD" TNM = "SRAM_TN";
INST "sram_r_d[2].PAD" TNM = "SRAM_TN";
INST "sram_r_d[3].PAD" TNM = "SRAM_TN";
INST "sram_r_d[4].PAD" TNM = "SRAM_TN";
INST "sram_r_d[5].PAD" TNM = "SRAM_TN";
INST "sram_r_d[6].PAD" TNM = "SRAM_TN";
INST "sram_r_d[7].PAD" TNM = "SRAM_TN";
INST "sram_r_d[8].PAD" TNM = "SRAM_TN";
INST "sram_r_d[9].PAD" TNM = "SRAM_TN";
INST "sram_r_d[10].PAD" TNM = "SRAM_TN";
INST "sram_r_d[11].PAD" TNM = "SRAM_TN";
INST "sram_r_d[12].PAD" TNM = "SRAM_TN";
INST "sram_r_d[13].PAD" TNM = "SRAM_TN";
INST "sram_r_d[14].PAD" TNM = "SRAM_TN";
INST "sram_r_d[15].PAD" TNM = "SRAM_TN";
INST "sram_r_oen.PAD" TNM = "SRAM_TN";
INST "sram_r0_wen.PAD" TNM = "SRAM_TN";
INST "sram_r1_wen.PAD" TNM = "SRAM_TN";
#TIMEGRP "SRAM_TN" OFFSET = OUT 10 ns AFTER "clk";
INST "sram_top/l_read[0]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[1]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[2]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[3]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[4]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[5]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[6]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[7]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[8]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[9]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[10]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[11]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[12]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[13]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[14]" TNM = "SRAM_DATA_IN";
INST "sram_top/l_read[15]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[0]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[1]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[2]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[3]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[4]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[5]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[6]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[7]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[8]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[9]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[10]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[11]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[12]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[13]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[14]" TNM = "SRAM_DATA_IN";
INST "sram_top/r_read[15]" TNM = "SRAM_DATA_IN";
#TIMESPEC "TS_PAD_SRAM_TO_SRAM_DATA_LATCH" = FROM "SRAM_TN" TO "SRAM_DATA_IN" 4 ns;
