COMMERCIAL;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
LOCATE COMP "clk_i" SITE "A10" ;
FREQUENCY PORT "clk_i" 25.000000 MHz ;
LOCATE COMP "reset_i" SITE "H6" ;
#-----------------------------------------------------------
# UART 
#-----------------------------------------------------------
LOCATE COMP "rxpin" SITE "M2" ;
LOCATE COMP "txpin" SITE "L1" ;
#-----------------------------------------------------------
# LEDs 
#-----------------------------------------------------------
LOCATE COMP "seg_led_0" SITE "E3" ;
LOCATE COMP "seg_led_1" SITE "E4" ;
LOCATE COMP "seg_led_2" SITE "E5" ;
LOCATE COMP "seg_led_3" SITE "F4" ;
LOCATE COMP "seg_led_4" SITE "F5" ;
LOCATE COMP "seg_led_5" SITE "G4" ;
LOCATE COMP "seg_led_6" SITE "G5" ;
LOCATE COMP "seg_led_7" SITE "H5" ;
#-----------------------------------------------------------
# Sram Address
#-----------------------------------------------------------
LOCATE COMP "sram_addr_0" SITE "AB20" ;
LOCATE COMP "sram_addr_1" SITE "AA20" ;
LOCATE COMP "sram_addr_2" SITE "AB19" ;
LOCATE COMP "sram_addr_3" SITE "AA19" ;
LOCATE COMP "sram_addr_4" SITE "Y19" ;
LOCATE COMP "sram_addr_5" SITE "AB18" ;
LOCATE COMP "sram_addr_6" SITE "AA18" ;
LOCATE COMP "sram_addr_7" SITE "Y18" ;
LOCATE COMP "sram_addr_8" SITE "W18" ;
LOCATE COMP "sram_addr_9" SITE "AB17" ;
LOCATE COMP "sram_addr_10" SITE "AA17" ;
LOCATE COMP "sram_addr_11" SITE "Y17" ;
LOCATE COMP "sram_addr_12" SITE "W17" ;
LOCATE COMP "sram_addr_13" SITE "V17" ;
LOCATE COMP "sram_addr_14" SITE "U17" ;
LOCATE COMP "sram_addr_15" SITE "AB16" ;
LOCATE COMP "sram_addr_16" SITE "AA16" ;
LOCATE COMP "sram_addr_17" SITE "Y16" ;
#-----------------------------------------------------------
# SRAM Byte Enables
#-----------------------------------------------------------
LOCATE COMP "sram_benN_0" SITE "AB4" ;
LOCATE COMP "sram_benN_1" SITE "AA4" ;
LOCATE COMP "sram_benN_2" SITE "AB3" ;
LOCATE COMP "sram_benN_3" SITE "AA3" ;
#-----------------------------------------------------------
# Sram Control
#-----------------------------------------------------------
LOCATE COMP "sram_csn_0" SITE "Y4" ;
LOCATE COMP "sram_csn_1" SITE "W20" ;
LOCATE COMP "sram_oen" SITE "AA6" ;
LOCATE COMP "sram_wen" SITE "AB6" ;
#-----------------------------------------------------------
# Sram Data
#-----------------------------------------------------------
LOCATE COMP "sram_data_0" SITE "Y15" ;
LOCATE COMP "sram_data_1" SITE "W15" ;
LOCATE COMP "sram_data_2" SITE "V15" ;
LOCATE COMP "sram_data_3" SITE "U15" ;
LOCATE COMP "sram_data_4" SITE "AB14" ;
LOCATE COMP "sram_data_5" SITE "AA14" ;
LOCATE COMP "sram_data_6" SITE "Y14" ;
LOCATE COMP "sram_data_7" SITE "W14" ;
LOCATE COMP "sram_data_8" SITE "AA13" ;
LOCATE COMP "sram_data_9" SITE "Y13" ;
LOCATE COMP "sram_data_10" SITE "AA11" ;
LOCATE COMP "sram_data_11" SITE "Y11" ;
LOCATE COMP "sram_data_12" SITE "W11" ;
LOCATE COMP "sram_data_13" SITE "AA10" ;
LOCATE COMP "sram_data_14" SITE "Y10" ;
LOCATE COMP "sram_data_15" SITE "W10" ;
LOCATE COMP "sram_data_16" SITE "V10" ;
LOCATE COMP "sram_data_17" SITE "AB9" ;
LOCATE COMP "sram_data_18" SITE "AA9" ;
LOCATE COMP "sram_data_19" SITE "Y9" ;
LOCATE COMP "sram_data_20" SITE "W9" ;
LOCATE COMP "sram_data_21" SITE "V9" ;
LOCATE COMP "sram_data_22" SITE "AB8" ;
LOCATE COMP "sram_data_23" SITE "AA8" ;
LOCATE COMP "sram_data_24" SITE "Y8" ;
LOCATE COMP "sram_data_25" SITE "W8" ;
LOCATE COMP "sram_data_26" SITE "V8" ;
LOCATE COMP "sram_data_27" SITE "AB7" ;
LOCATE COMP "sram_data_28" SITE "AA7" ;
LOCATE COMP "sram_data_29" SITE "Y7" ;
LOCATE COMP "sram_data_30" SITE "W7" ;
LOCATE COMP "sram_data_31" SITE "V7" ;
#-----------------------------------------------------------
# Ethernet 
#-----------------------------------------------------------
LOCATE COMP "phy_mdio" SITE "K4" ;
LOCATE COMP "phy_tx_clk" SITE "J1" ;
LOCATE COMP "phy_rx_clk" SITE "K1" ;
LOCATE COMP "phy_rxd_0" SITE "G1" ;
LOCATE COMP "phy_rxd_1" SITE "G2" ;
LOCATE COMP "phy_rxd_2" SITE "G3" ;
LOCATE COMP "phy_rxd_3" SITE "F2" ;
LOCATE COMP "phy_rx_dv" SITE "J4" ;
LOCATE COMP "phy_rx_er" SITE "J5" ;
LOCATE COMP "phy_rx_col" SITE "K2" ;
LOCATE COMP "phy_rx_crs" SITE "K3" ;
LOCATE COMP "phy_txd_0" SITE "H1" ;
LOCATE COMP "phy_txd_1" SITE "H2" ;
LOCATE COMP "phy_txd_2" SITE "H3" ;
LOCATE COMP "phy_txd_3" SITE "H4" ;
LOCATE COMP "phy_tx_en" SITE "J3" ;
LOCATE COMP "phy_tx_er" SITE "J2" ;
LOCATE COMP "phy_mdc" SITE "K5" ;
