//! **************************************************************************
// Written by: Map I.31 on Wed Jan 03 16:33:27 2007
//! **************************************************************************

SCHEMATIC START;
COMP "reset_n" LOCATE = SITE "AH19" LEVEL 1;
COMP "lrck" LOCATE = SITE "P21" LEVEL 1;
COMP "clk" LOCATE = SITE "N22" LEVEL 1;
COMP "sclk" LOCATE = SITE "K21" LEVEL 1;
COMP "sdti" LOCATE = SITE "L19" LEVEL 1;
COMP "sw" LOCATE = SITE "AD1" LEVEL 1;
COMP "sdto" LOCATE = SITE "M20" LEVEL 1;
COMP "L3_MODE" LOCATE = SITE "K19" LEVEL 1;
COMP "mclk" LOCATE = SITE "N20" LEVEL 1;
COMP "L3_SDAT" LOCATE = SITE "J20" LEVEL 1;
COMP "L3_SCLK" LOCATE = SITE "M22" LEVEL 1;
SCHEMATIC END;
