//! **************************************************************************
// Written by: Map I.31 on Fri Dec 01 20:11:31 2006
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "B26" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "A26" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E28" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F28" LEVEL 1;
COMP "nRST" LOCATE = SITE "AH19" LEVEL 1;
COMP "CLK" LOCATE = SITE "P20" LEVEL 1;
SCHEMATIC END;
