NET "CLK" LOC = "P20";
NET "nRST" LOC = "AH19" ;

NET "nCS" LOC = "T13" ;
NET "nRD" LOC = "R11" ;
NET "nCONVST" LOC = "G1" ;
NET "BUSY" LOC = "F1" ;
NET "ADC_CLK" LOC = "AF19" ;
NET "ADC_WnB" LOC = "U13" ;
NET "ADC_nWR" LOC = "P11" ;
NET "LED_DAT<0>" LOC = "K9" ;
NET "LED_DAT<1>" LOC = "L10" ;
NET "LED_DAT<2>" LOC = "L11" ;
NET "LED_DAT<3>" LOC = "K11" ;
 
NET "SEG_DAT<7>" LOC = "AJ21" ;
NET "SEG_DAT<6>" LOC = "AJ20" ;
NET "SEG_DAT<5>" LOC = "AG20" ;
NET "SEG_DAT<4>" LOC = "AF20" ;
NET "SEG_DAT<3>" LOC = "AL20" ;
NET "SEG_DAT<2>" LOC = "AL19" ;
NET "SEG_DAT<1>" LOC = "AH18" ;
NET "SEG_DAT<0>" LOC = "AG18" ;
NET "SEG_COM<3>" LOC = "AL21" ;
NET "SEG_COM<2>" LOC = "AK21" ;
NET "SEG_COM<1>" LOC = "AK19" ;
NET "SEG_COM<0>" LOC = "AJ19" ;

NET "ADC_D<0>" LOC = "T11" ;
NET "ADC_D<1>" LOC = "U12" ;
NET "ADC_D<2>" LOC = "R8" ;
NET "ADC_D<3>" LOC = "R9" ;
NET "ADC_D<4>" LOC = "P7" ;
NET "ADC_D<5>" LOC = "N7" ;
NET "ADC_D<6>" LOC = "M6" ;
NET "ADC_D<8>" LOC = "L6" ;
NET "ADC_D<8>" LOC = "N8" ;
NET "ADC_D<9>" LOC = "P9" ;
NET "ADC_D<10>" LOC = "M7" ;
NET "ADC_D<11>" LOC = "M8" ;


