//! **************************************************************************
// Written by: Map I.31 on Thu Dec 28 11:34:07 2006
//! **************************************************************************

SCHEMATIC START;
COMP "nRST" LOCATE = SITE "AH19" LEVEL 1;
COMP "SEG_COM<0>" LOCATE = SITE "AL21" LEVEL 1;
COMP "SEG_COM<1>" LOCATE = SITE "AK21" LEVEL 1;
COMP "SEG_COM<2>" LOCATE = SITE "AK19" LEVEL 1;
COMP "TXD" LOCATE = SITE "Y13" LEVEL 1;
COMP "SEG_COM<3>" LOCATE = SITE "AJ19" LEVEL 1;
COMP "SEG_DATA<0>" LOCATE = SITE "AJ21" LEVEL 1;
COMP "SEG_DATA<1>" LOCATE = SITE "AJ20" LEVEL 1;
COMP "SEG_DATA<2>" LOCATE = SITE "AG20" LEVEL 1;
COMP "SEG_DATA<3>" LOCATE = SITE "AF20" LEVEL 1;
COMP "SEG_DATA<4>" LOCATE = SITE "AL20" LEVEL 1;
COMP "RXD1" LOCATE = SITE "W5" LEVEL 1;
COMP "SEG_DATA<5>" LOCATE = SITE "AL19" LEVEL 1;
COMP "SEG_DATA<6>" LOCATE = SITE "AH18" LEVEL 1;
COMP "SEG_DATA<7>" LOCATE = SITE "AG18" LEVEL 1;
COMP "CLK" LOCATE = SITE "P20" LEVEL 1;
COMP "TXD1" LOCATE = SITE "AA10" LEVEL 1;
SCHEMATIC END;
