//! **************************************************************************
// Written by: Map I.31 on Fri Dec 29 10:58:09 2006
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "K9" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "L10" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "L11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "K11" LEVEL 1;
COMP "nRESET" LOCATE = SITE "AH19" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P20" LEVEL 1;
SCHEMATIC END;
