//! **************************************************************************
// Written by: Map I.31 on Thu Dec 28 10:44:21 2006
//! **************************************************************************

SCHEMATIC START;
COMP "iCLK" LOCATE = SITE "N22" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "K9" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "L10" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "L11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "K11" LEVEL 1;
COMP "TD_RESET" LOCATE = SITE "U3" LEVEL 1;
COMP "TD_HQ" LOCATE = SITE "U1" LEVEL 1;
COMP "iRST_N" LOCATE = SITE "AH19" LEVEL 1;
COMP "I2C_SDAT" LOCATE = SITE "J5" LEVEL 1;
COMP "I2C_SCLK" LOCATE = SITE "H5" LEVEL 1;
COMP "TD_VQ" LOCATE = SITE "T1" LEVEL 1;
SCHEMATIC END;
