//! **************************************************************************
// Written by: Map I.31 on Thu Dec 28 16:51:19 2006
//! **************************************************************************

SCHEMATIC START;
COMP "USB_DISCHRGVBUS" LOCATE = SITE "P5" LEVEL 1;
COMP "USB_TERM" LOCATE = SITE "AB5" LEVEL 1;
COMP "USB_DPPD" LOCATE = SITE "AA3" LEVEL 1;
COMP "USB_LS<0>" LOCATE = SITE "AA13" LEVEL 1;
COMP "USB_RXERROR" LOCATE = SITE "AC2" LEVEL 1;
COMP "USB_LS<1>" LOCATE = SITE "AA6" LEVEL 1;
COMP "USB_CHRGVBUS" LOCATE = SITE "R6" LEVEL 1;
COMP "USB_TXVALID" LOCATE = SITE "AC5" LEVEL 1;
COMP "USB_RXACTIVE" LOCATE = SITE "AA8" LEVEL 1;
COMP "USB_DATA<0>" LOCATE = SITE "V4" LEVEL 1;
COMP "USB_XCVR0" LOCATE = SITE "AA1" LEVEL 1;
COMP "USB_DATA<1>" LOCATE = SITE "W4" LEVEL 1;
COMP "USB_XCVR1" LOCATE = SITE "AB2" LEVEL 1;
COMP "USB_DATA<2>" LOCATE = SITE "V3" LEVEL 1;
COMP "USB_IDDIG" LOCATE = SITE "Y4" LEVEL 1;
COMP "USB_SESSEND" LOCATE = SITE "AB3" LEVEL 1;
COMP "USB_DATA<3>" LOCATE = SITE "V2" LEVEL 1;
COMP "USB_IDPULLUP" LOCATE = SITE "AA4" LEVEL 1;
COMP "USB_DATA<4>" LOCATE = SITE "W2" LEVEL 1;
COMP "USB_DATA<5>" LOCATE = SITE "W1" LEVEL 1;
COMP "USB_DATA<6>" LOCATE = SITE "Y7" LEVEL 1;
COMP "USB_DATA<7>" LOCATE = SITE "Y6" LEVEL 1;
COMP "USB_SESSVALID" LOCATE = SITE "Y1" LEVEL 1;
COMP "USB_RESET" LOCATE = SITE "AC3" LEVEL 1;
COMP "USB_VBUSVALID" LOCATE = SITE "P6" LEVEL 1;
COMP "USB_TXREADY" LOCATE = SITE "AB10" LEVEL 1;
COMP "nRESET" LOCATE = SITE "AH19" LEVEL 1;
COMP "USB_nSUSPEND" LOCATE = SITE "AB1" LEVEL 1;
COMP "USB_OPM<0>" LOCATE = SITE "AB6" LEVEL 1;
COMP "USB_OPM<1>" LOCATE = SITE "AA5" LEVEL 1;
COMP "USB_HOSTDISC" LOCATE = SITE "Y3" LEVEL 1;
COMP "CLOCK_50" LOCATE = SITE "P20" LEVEL 1;
COMP "USB_RXVALID" LOCATE = SITE "AB7" LEVEL 1;
COMP "USB_CLKOUT" LOCATE = SITE "AA14" LEVEL 1;
COMP "USB_DMPD" LOCATE = SITE "Y2" LEVEL 1;
SCHEMATIC END;
