//! **************************************************************************
// Written by: Map I.31 on Wed Dec 27 02:23:22 2006
//! **************************************************************************

SCHEMATIC START;
COMP "EXP_IO<109>" LOCATE = SITE "J39" LEVEL 1;
COMP "EXP_IO<117>" LOCATE = SITE "K38" LEVEL 1;
COMP "EXP_IO<125>" LOCATE = SITE "M38" LEVEL 1;
COMP "EXP_IO<133>" LOCATE = SITE "AV37" LEVEL 1;
COMP "EXP_IO<141>" LOCATE = SITE "AM33" LEVEL 1;
COMP "EXP_IO<118>" LOCATE = SITE "N33" LEVEL 1;
COMP "EXP_IO<126>" LOCATE = SITE "M36" LEVEL 1;
COMP "EXP_IO<134>" LOCATE = SITE "AW37" LEVEL 1;
COMP "EXP_IO<142>" LOCATE = SITE "AU36" LEVEL 1;
COMP "EXP_IO<150>" LOCATE = SITE "AH29" LEVEL 1;
COMP "EXP_IO<119>" LOCATE = SITE "N34" LEVEL 1;
COMP "EXP_IO<127>" LOCATE = SITE "M37" LEVEL 1;
COMP "EXP_IO<135>" LOCATE = SITE "AW36" LEVEL 1;
COMP "EXP_IO<143>" LOCATE = SITE "AU35" LEVEL 1;
COMP "EXP_IO<151>" LOCATE = SITE "AG28" LEVEL 1;
COMP "EXP_IO<128>" LOCATE = SITE "AP34" LEVEL 1;
COMP "EXP_IO<136>" LOCATE = SITE "AR36" LEVEL 1;
COMP "EXP_IO<144>" LOCATE = SITE "AT38" LEVEL 1;
COMP "EXP_IO<152>" LOCATE = SITE "AR39" LEVEL 1;
COMP "EXP_IO<160>" LOCATE = SITE "AJ32" LEVEL 1;
COMP "EXP_IO<129>" LOCATE = SITE "AR34" LEVEL 1;
COMP "EXP_IO<137>" LOCATE = SITE "AT36" LEVEL 1;
COMP "EXP_IO<145>" LOCATE = SITE "AU38" LEVEL 1;
COMP "EXP_IO<153>" LOCATE = SITE "AT39" LEVEL 1;
COMP "EXP_IO<161>" LOCATE = SITE "AK33" LEVEL 1;
COMP "EXP_IO<138>" LOCATE = SITE "AT35" LEVEL 1;
COMP "EXP_IO<146>" LOCATE = SITE "AN34" LEVEL 1;
COMP "EXP_IO<154>" LOCATE = SITE "AN35" LEVEL 1;
COMP "EXP_IO<162>" LOCATE = SITE "AG30" LEVEL 1;
COMP "EXP_IO<170>" LOCATE = SITE "AK34" LEVEL 1;
COMP "EXP_IO<139>" LOCATE = SITE "AT34" LEVEL 1;
COMP "EXP_IO<147>" LOCATE = SITE "AN33" LEVEL 1;
COMP "EXP_IO<155>" LOCATE = SITE "AP35" LEVEL 1;
COMP "EXP_IO<163>" LOCATE = SITE "AH30" LEVEL 1;
COMP "EXP_IO<171>" LOCATE = SITE "AL34" LEVEL 1;
COMP "EXP_IO<148>" LOCATE = SITE "AP37" LEVEL 1;
COMP "EXP_IO<156>" LOCATE = SITE "AL35" LEVEL 1;
COMP "EXP_IO<164>" LOCATE = SITE "AN38" LEVEL 1;
COMP "EXP_IO<172>" LOCATE = SITE "AE29" LEVEL 1;
COMP "EXP_IO<149>" LOCATE = SITE "AP36" LEVEL 1;
COMP "EXP_IO<157>" LOCATE = SITE "AM35" LEVEL 1;
COMP "EXP_IO<165>" LOCATE = SITE "AN37" LEVEL 1;
COMP "EXP_IO<173>" LOCATE = SITE "AE28" LEVEL 1;
COMP "EXP_IO<10>" LOCATE = SITE "N39" LEVEL 1;
COMP "EXP_IO<158>" LOCATE = SITE "AR38" LEVEL 1;
COMP "EXP_IO<166>" LOCATE = SITE "AF29" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "B26" LEVEL 1;
COMP "EXP_IO<11>" LOCATE = SITE "P39" LEVEL 1;
COMP "EXP_IO<159>" LOCATE = SITE "AR37" LEVEL 1;
COMP "EXP_IO<167>" LOCATE = SITE "AF28" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "A26" LEVEL 1;
COMP "EXP_IO<12>" LOCATE = SITE "R34" LEVEL 1;
COMP "EXP_IO<20>" LOCATE = SITE "R37" LEVEL 1;
COMP "EXP_IO<168>" LOCATE = SITE "AN39" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E28" LEVEL 1;
COMP "EXP_IO<13>" LOCATE = SITE "T34" LEVEL 1;
COMP "EXP_IO<21>" LOCATE = SITE "R38" LEVEL 1;
COMP "EXP_IO<169>" LOCATE = SITE "AP39" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F28" LEVEL 1;
COMP "EXP_IO<14>" LOCATE = SITE "T31" LEVEL 1;
COMP "EXP_IO<22>" LOCATE = SITE "R39" LEVEL 1;
COMP "EXP_IO<30>" LOCATE = SITE "U33" LEVEL 1;
COMP "EXP_IO<15>" LOCATE = SITE "U30" LEVEL 1;
COMP "EXP_IO<23>" LOCATE = SITE "T39" LEVEL 1;
COMP "EXP_IO<31>" LOCATE = SITE "V33" LEVEL 1;
COMP "EXP_IO<16>" LOCATE = SITE "R36" LEVEL 1;
COMP "EXP_IO<24>" LOCATE = SITE "V25" LEVEL 1;
COMP "EXP_IO<32>" LOCATE = SITE "T38" LEVEL 1;
COMP "EXP_IO<40>" LOCATE = SITE "W26" LEVEL 1;
COMP "nRST" LOCATE = SITE "AH19" LEVEL 1;
COMP "EXP_IO<17>" LOCATE = SITE "T36" LEVEL 1;
COMP "EXP_IO<25>" LOCATE = SITE "U26" LEVEL 1;
COMP "EXP_IO<33>" LOCATE = SITE "U38" LEVEL 1;
COMP "EXP_IO<41>" LOCATE = SITE "W27" LEVEL 1;
COMP "EXP_IO<18>" LOCATE = SITE "T33" LEVEL 1;
COMP "EXP_IO<26>" LOCATE = SITE "V27" LEVEL 1;
COMP "EXP_IO<34>" LOCATE = SITE "V29" LEVEL 1;
COMP "EXP_IO<42>" LOCATE = SITE "V34" LEVEL 1;
COMP "EXP_IO<50>" LOCATE = SITE "W36" LEVEL 1;
COMP "EXP_IO<19>" LOCATE = SITE "U32" LEVEL 1;
COMP "EXP_IO<27>" LOCATE = SITE "U27" LEVEL 1;
COMP "EXP_IO<35>" LOCATE = SITE "V30" LEVEL 1;
COMP "EXP_IO<43>" LOCATE = SITE "V35" LEVEL 1;
COMP "EXP_IO<51>" LOCATE = SITE "W37" LEVEL 1;
COMP "EXP_IO<28>" LOCATE = SITE "T35" LEVEL 1;
COMP "EXP_IO<36>" LOCATE = SITE "U36" LEVEL 1;
COMP "EXP_IO<44>" LOCATE = SITE "V37" LEVEL 1;
COMP "EXP_IO<52>" LOCATE = SITE "Y37" LEVEL 1;
COMP "EXP_IO<60>" LOCATE = SITE "AB36" LEVEL 1;
COMP "EXP_IO<29>" LOCATE = SITE "U35" LEVEL 1;
COMP "EXP_IO<37>" LOCATE = SITE "U37" LEVEL 1;
COMP "EXP_IO<45>" LOCATE = SITE "V38" LEVEL 1;
COMP "EXP_IO<53>" LOCATE = SITE "Y38" LEVEL 1;
COMP "EXP_IO<61>" LOCATE = SITE "AB37" LEVEL 1;
COMP "EXP_IO<38>" LOCATE = SITE "V32" LEVEL 1;
COMP "EXP_IO<46>" LOCATE = SITE "V39" LEVEL 1;
COMP "EXP_IO<54>" LOCATE = SITE "Y39" LEVEL 1;
COMP "EXP_IO<62>" LOCATE = SITE "AB38" LEVEL 1;
COMP "EXP_IO<70>" LOCATE = SITE "F35" LEVEL 1;
COMP "EXP_IO<39>" LOCATE = SITE "W32" LEVEL 1;
COMP "EXP_IO<47>" LOCATE = SITE "W39" LEVEL 1;
COMP "EXP_IO<55>" LOCATE = SITE "AA39" LEVEL 1;
COMP "EXP_IO<63>" LOCATE = SITE "AA38" LEVEL 1;
COMP "EXP_IO<71>" LOCATE = SITE "G35" LEVEL 1;
COMP "EXP_IO<48>" LOCATE = SITE "W34" LEVEL 1;
COMP "EXP_IO<56>" LOCATE = SITE "AA36" LEVEL 1;
COMP "EXP_IO<64>" LOCATE = SITE "D34" LEVEL 1;
COMP "EXP_IO<72>" LOCATE = SITE "D36" LEVEL 1;
COMP "EXP_IO<80>" LOCATE = SITE "J32" LEVEL 1;
COMP "EXP_IO<49>" LOCATE = SITE "W35" LEVEL 1;
COMP "EXP_IO<57>" LOCATE = SITE "Y36" LEVEL 1;
COMP "EXP_IO<65>" LOCATE = SITE "D35" LEVEL 1;
COMP "EXP_IO<73>" LOCATE = SITE "D37" LEVEL 1;
COMP "EXP_IO<81>" LOCATE = SITE "K32" LEVEL 1;
COMP "EXP_IO<58>" LOCATE = SITE "Y33" LEVEL 1;
COMP "EXP_IO<66>" LOCATE = SITE "C37" LEVEL 1;
COMP "EXP_IO<74>" LOCATE = SITE "H33" LEVEL 1;
COMP "EXP_IO<82>" LOCATE = SITE "G36" LEVEL 1;
COMP "EXP_IO<90>" LOCATE = SITE "E39" LEVEL 1;
COMP "EXP_IO<59>" LOCATE = SITE "Y34" LEVEL 1;
COMP "EXP_IO<67>" LOCATE = SITE "C38" LEVEL 1;
COMP "EXP_IO<75>" LOCATE = SITE "H34" LEVEL 1;
COMP "EXP_IO<83>" LOCATE = SITE "G37" LEVEL 1;
COMP "EXP_IO<91>" LOCATE = SITE "F39" LEVEL 1;
COMP "EXP_IO<68>" LOCATE = SITE "E34" LEVEL 1;
COMP "EXP_IO<76>" LOCATE = SITE "E36" LEVEL 1;
COMP "EXP_IO<84>" LOCATE = SITE "E37" LEVEL 1;
COMP "EXP_IO<92>" LOCATE = SITE "J34" LEVEL 1;
COMP "EXP_IO<69>" LOCATE = SITE "F34" LEVEL 1;
COMP "EXP_IO<77>" LOCATE = SITE "F36" LEVEL 1;
COMP "EXP_IO<85>" LOCATE = SITE "E38" LEVEL 1;
COMP "EXP_IO<93>" LOCATE = SITE "K34" LEVEL 1;
COMP "EXP_IO<78>" LOCATE = SITE "C39" LEVEL 1;
COMP "EXP_IO<86>" LOCATE = SITE "H35" LEVEL 1;
COMP "EXP_IO<94>" LOCATE = SITE "F38" LEVEL 1;
COMP "EXP_IO<79>" LOCATE = SITE "D39" LEVEL 1;
COMP "EXP_IO<87>" LOCATE = SITE "J35" LEVEL 1;
COMP "EXP_IO<95>" LOCATE = SITE "G38" LEVEL 1;
COMP "EXP_IO<88>" LOCATE = SITE "M30" LEVEL 1;
COMP "EXP_IO<96>" LOCATE = SITE "K33" LEVEL 1;
COMP "EXP_IO<89>" LOCATE = SITE "M31" LEVEL 1;
COMP "EXP_IO<97>" LOCATE = SITE "L33" LEVEL 1;
COMP "EXP_IO<98>" LOCATE = SITE "H37" LEVEL 1;
COMP "EXP_IO<99>" LOCATE = SITE "H38" LEVEL 1;
COMP "CLK" LOCATE = SITE "P20" LEVEL 1;
COMP "EXP_IO<0>" LOCATE = SITE "R31" LEVEL 1;
COMP "EXP_IO<100>" LOCATE = SITE "N30" LEVEL 1;
COMP "EXP_IO<1>" LOCATE = SITE "R32" LEVEL 1;
COMP "EXP_IO<101>" LOCATE = SITE "P29" LEVEL 1;
COMP "EXP_IO<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "EXP_IO<102>" LOCATE = SITE "L34" LEVEL 1;
COMP "EXP_IO<110>" LOCATE = SITE "M33" LEVEL 1;
COMP "EXP_IO<3>" LOCATE = SITE "P35" LEVEL 1;
COMP "EXP_IO<103>" LOCATE = SITE "L35" LEVEL 1;
COMP "EXP_IO<111>" LOCATE = SITE "N32" LEVEL 1;
COMP "EXP_IO<4>" LOCATE = SITE "T29" LEVEL 1;
COMP "EXP_IO<104>" LOCATE = SITE "J36" LEVEL 1;
COMP "EXP_IO<112>" LOCATE = SITE "R28" LEVEL 1;
COMP "EXP_IO<120>" LOCATE = SITE "P31" LEVEL 1;
COMP "EXP_IO<5>" LOCATE = SITE "U28" LEVEL 1;
COMP "EXP_IO<105>" LOCATE = SITE "J37" LEVEL 1;
COMP "EXP_IO<113>" LOCATE = SITE "R29" LEVEL 1;
COMP "EXP_IO<121>" LOCATE = SITE "P32" LEVEL 1;
COMP "EXP_IO<6>" LOCATE = SITE "P36" LEVEL 1;
COMP "EXP_IO<106>" LOCATE = SITE "K36" LEVEL 1;
COMP "EXP_IO<114>" LOCATE = SITE "M35" LEVEL 1;
COMP "EXP_IO<122>" LOCATE = SITE "K39" LEVEL 1;
COMP "EXP_IO<130>" LOCATE = SITE "AV35" LEVEL 1;
COMP "EXP_IO<7>" LOCATE = SITE "P37" LEVEL 1;
COMP "EXP_IO<107>" LOCATE = SITE "L36" LEVEL 1;
COMP "EXP_IO<115>" LOCATE = SITE "N35" LEVEL 1;
COMP "EXP_IO<123>" LOCATE = SITE "L39" LEVEL 1;
COMP "EXP_IO<131>" LOCATE = SITE "AW35" LEVEL 1;
COMP "EXP_IO<8>" LOCATE = SITE "N37" LEVEL 1;
COMP "EXP_IO<108>" LOCATE = SITE "H39" LEVEL 1;
COMP "EXP_IO<116>" LOCATE = SITE "K37" LEVEL 1;
COMP "EXP_IO<124>" LOCATE = SITE "L38" LEVEL 1;
COMP "EXP_IO<132>" LOCATE = SITE "AU37" LEVEL 1;
COMP "EXP_IO<140>" LOCATE = SITE "AL33" LEVEL 1;
COMP "EXP_IO<9>" LOCATE = SITE "N38" LEVEL 1;
SCHEMATIC END;
