//! **************************************************************************
// Written by: Map I.31 on Thu Dec 28 15:59:10 2006
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_R<6>" LOCATE = SITE "AP6" LEVEL 1;
COMP "LCD_G<0>" LOCATE = SITE "AM6" LEVEL 1;
COMP "LCD_R<7>" LOCATE = SITE "AR6" LEVEL 1;
COMP "LCD_G<1>" LOCATE = SITE "AM7" LEVEL 1;
COMP "LCD_G<2>" LOCATE = SITE "AR4" LEVEL 1;
COMP "LCD_G<3>" LOCATE = SITE "AT4" LEVEL 1;
COMP "LCD_G<4>" LOCATE = SITE "AR2" LEVEL 1;
COMP "LCD_G<5>" LOCATE = SITE "AR3" LEVEL 1;
COMP "LCD_G<6>" LOCATE = SITE "AU1" LEVEL 1;
COMP "LCD_G<7>" LOCATE = SITE "AK8" LEVEL 1;
COMP "HD_OUT_CLOCK" LOCATE = SITE "H7" LEVEL 1;
COMP "HD_OUT_B<0>" LOCATE = SITE "N12" LEVEL 1;
COMP "HD_OUT_B<1>" LOCATE = SITE "F4" LEVEL 1;
COMP "HD_OUT_B<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "HD_OUT_B<3>" LOCATE = SITE "R16" LEVEL 1;
COMP "HD_OUT_B<4>" LOCATE = SITE "T15" LEVEL 1;
COMP "HD_OUT_B<5>" LOCATE = SITE "M10" LEVEL 1;
COMP "HD_OUT_B<6>" LOCATE = SITE "N10" LEVEL 1;
COMP "VID_OUT_SYNC" LOCATE = SITE "T8" LEVEL 1;
COMP "HD_OUT_B<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "HD_OUT_SYNC" LOCATE = SITE "K7" LEVEL 1;
COMP "nRST" LOCATE = SITE "AH19" LEVEL 1;
COMP "HD_OUT_B<8>" LOCATE = SITE "E3" LEVEL 1;
COMP "HD_OUT_B<9>" LOCATE = SITE "D2" LEVEL 1;
COMP "CLK_25" LOCATE = SITE "P20" LEVEL 1;
COMP "LCD_B<0>" LOCATE = SITE "AL8" LEVEL 1;
COMP "LCD_B<1>" LOCATE = SITE "AL5" LEVEL 1;
COMP "VID_OUT_BLANK" LOCATE = SITE "U8" LEVEL 1;
COMP "HD_OUT_R<0>" LOCATE = SITE "A5" LEVEL 1;
COMP "LCD_B<2>" LOCATE = SITE "AM5" LEVEL 1;
COMP "HD_OUT_R<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "LCD_CLK" LOCATE = SITE "AU2" LEVEL 1;
COMP "LCD_B<3>" LOCATE = SITE "AN4" LEVEL 1;
COMP "HD_OUT_BLANK" LOCATE = SITE "R12" LEVEL 1;
COMP "HD_OUT_R<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "LCD_B<4>" LOCATE = SITE "AN5" LEVEL 1;
COMP "HD_OUT_R<3>" LOCATE = SITE "B3" LEVEL 1;
COMP "LCD_B<5>" LOCATE = SITE "AJ7" LEVEL 1;
COMP "HD_OUT_R<4>" LOCATE = SITE "B5" LEVEL 1;
COMP "LCD_B<6>" LOCATE = SITE "AK7" LEVEL 1;
COMP "HD_OUT_R<5>" LOCATE = SITE "C5" LEVEL 1;
COMP "LCD_B<7>" LOCATE = SITE "AH9" LEVEL 1;
COMP "HD_OUT_R<6>" LOCATE = SITE "C4" LEVEL 1;
COMP "HD_OUT_G<0>" LOCATE = SITE "C3" LEVEL 1;
COMP "HD_OUT_R<7>" LOCATE = SITE "D4" LEVEL 1;
COMP "HD_OUT_G<1>" LOCATE = SITE "C2" LEVEL 1;
COMP "HD_OUT_R<8>" LOCATE = SITE "D6" LEVEL 1;
COMP "LCD_SPARE<0>" LOCATE = SITE "D1" LEVEL 1;
COMP "HD_OUT_G<2>" LOCATE = SITE "E6" LEVEL 1;
COMP "HD_OUT_R<9>" LOCATE = SITE "D5" LEVEL 1;
COMP "LCD_SPARE<1>" LOCATE = SITE "R14" LEVEL 1;
COMP "HD_OUT_G<3>" LOCATE = SITE "F6" LEVEL 1;
COMP "LCD_SPARE<2>" LOCATE = SITE "T14" LEVEL 1;
COMP "HD_OUT_G<4>" LOCATE = SITE "J7" LEVEL 1;
COMP "LCD_SPARE<3>" LOCATE = SITE "E2" LEVEL 1;
COMP "HD_OUT_G<5>" LOCATE = SITE "G7" LEVEL 1;
COMP "LCD_R<0>" LOCATE = SITE "AT3" LEVEL 1;
COMP "LCD_SPARE<4>" LOCATE = SITE "E1" LEVEL 1;
COMP "HD_OUT_G<6>" LOCATE = SITE "G6" LEVEL 1;
COMP "LCD_R<1>" LOCATE = SITE "AU3" LEVEL 1;
COMP "LCD_SPARE<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "HD_OUT_G<7>" LOCATE = SITE "F5" LEVEL 1;
COMP "LCD_R<2>" LOCATE = SITE "AT5" LEVEL 1;
COMP "HD_OUT_G<8>" LOCATE = SITE "G5" LEVEL 1;
COMP "LCD_R<3>" LOCATE = SITE "AT6" LEVEL 1;
COMP "HD_OUT_G<9>" LOCATE = SITE "M11" LEVEL 1;
COMP "LCD_R<4>" LOCATE = SITE "AP4" LEVEL 1;
COMP "LCD_R<5>" LOCATE = SITE "AP5" LEVEL 1;
SCHEMATIC END;
