//! **************************************************************************
// Written by: Map I.31 on Tue Dec 19 10:47:05 2006
//! **************************************************************************

SCHEMATIC START;
COMP "CLOCK_25" LOCATE = SITE "P20" LEVEL 1;
COMP "CLOCK_27" LOCATE = SITE "M22" LEVEL 1;
COMP "LCM_HSYNC" LOCATE = SITE "AR1" LEVEL 1;
COMP "TV_out_Sync" LOCATE = SITE "K7" LEVEL 1;
COMP "LCM_VSYNC" LOCATE = SITE "AT1" LEVEL 1;
COMP "LCM_DATA<0>" LOCATE = SITE "AT3" LEVEL 1;
COMP "LCM_DATA<1>" LOCATE = SITE "AU3" LEVEL 1;
COMP "LCM_DATA<2>" LOCATE = SITE "AT5" LEVEL 1;
COMP "LCM_DATA<3>" LOCATE = SITE "AT6" LEVEL 1;
COMP "LCM_DATA<4>" LOCATE = SITE "AP4" LEVEL 1;
COMP "LCM_DATA<5>" LOCATE = SITE "AP5" LEVEL 1;
COMP "LCM_DATA<6>" LOCATE = SITE "AP6" LEVEL 1;
COMP "LCM_DATA<7>" LOCATE = SITE "AR6" LEVEL 1;
COMP "TD_RESET" LOCATE = SITE "U3" LEVEL 1;
COMP "TD_HS" LOCATE = SITE "U1" LEVEL 1;
COMP "TD_VS" LOCATE = SITE "T1" LEVEL 1;
COMP "TD_DATA<0>" LOCATE = SITE "R2" LEVEL 1;
COMP "TD_DATA<1>" LOCATE = SITE "T5" LEVEL 1;
COMP "TD_DATA<2>" LOCATE = SITE "T6" LEVEL 1;
COMP "SW0" LOCATE = SITE "AH19" LEVEL 1;
COMP "TD_DATA<3>" LOCATE = SITE "R3" LEVEL 1;
COMP "TD_DATA<4>" LOCATE = SITE "R4" LEVEL 1;
COMP "TD_DATA<5>" LOCATE = SITE "T9" LEVEL 1;
COMP "TD_DATA<6>" LOCATE = SITE "U10" LEVEL 1;
COMP "TD_DATA<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "TV_out_B<0>" LOCATE = SITE "N12" LEVEL 1;
COMP "TV_out_B<1>" LOCATE = SITE "F4" LEVEL 1;
COMP "TV_out_B<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "TV_out_B<3>" LOCATE = SITE "R16" LEVEL 1;
COMP "TV_out_B<4>" LOCATE = SITE "T15" LEVEL 1;
COMP "TV_out_B<5>" LOCATE = SITE "M10" LEVEL 1;
COMP "TV_out_B<6>" LOCATE = SITE "N10" LEVEL 1;
COMP "TV_out_B<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "TV_out_B<8>" LOCATE = SITE "E3" LEVEL 1;
COMP "TV_out_B<9>" LOCATE = SITE "D2" LEVEL 1;
COMP "TV_out_G<0>" LOCATE = SITE "C3" LEVEL 1;
COMP "TV_out_G<1>" LOCATE = SITE "C2" LEVEL 1;
COMP "TV_out_G<2>" LOCATE = SITE "E6" LEVEL 1;
COMP "TV_out_G<3>" LOCATE = SITE "F6" LEVEL 1;
COMP "TV_out_G<4>" LOCATE = SITE "J7" LEVEL 1;
COMP "TV_out_G<5>" LOCATE = SITE "G7" LEVEL 1;
COMP "TV_out_G<6>" LOCATE = SITE "G6" LEVEL 1;
COMP "TV_out_G<7>" LOCATE = SITE "F5" LEVEL 1;
COMP "TV_out_G<8>" LOCATE = SITE "G5" LEVEL 1;
COMP "TV_out_G<9>" LOCATE = SITE "M11" LEVEL 1;
COMP "TV_out_R<0>" LOCATE = SITE "A5" LEVEL 1;
COMP "TV_out_R<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "TV_out_R<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "TV_out_R<3>" LOCATE = SITE "B3" LEVEL 1;
COMP "TV_out_R<4>" LOCATE = SITE "B5" LEVEL 1;
COMP "TV_out_R<5>" LOCATE = SITE "C5" LEVEL 1;
COMP "TV_out_R<6>" LOCATE = SITE "C4" LEVEL 1;
COMP "TV_out_R<7>" LOCATE = SITE "D4" LEVEL 1;
COMP "TV_out_R<8>" LOCATE = SITE "D6" LEVEL 1;
COMP "TV_out_R<9>" LOCATE = SITE "D5" LEVEL 1;
COMP "TV_out_Blank" LOCATE = SITE "P12" LEVEL 1;
COMP "LCM_SCEN" LOCATE = SITE "AL6" LEVEL 1;
COMP "LCM_SDAT" LOCATE = SITE "AK6" LEVEL 1;
COMP "LCM_SHDB" LOCATE = SITE "AH10" LEVEL 1;
COMP "LCM_SCLK" LOCATE = SITE "AN3" LEVEL 1;
SCHEMATIC END;
