/* Default Styles for 0-In Help    Default platform: windows     Default browser: mozilla   */

/* Links */
a:active  { color: #00ff00}
a:hover   { color: #cc0033}
a:link    { color: #0000dd}
a:visited { color: #000099}

/* Body */
body { background-color: #FFFFFF; margin-top: 4px; margin-left: 25px;
  margin-right: 25px}

/* Horizontal Rule */
hr {color:#000099}

/* Indent tables  */
div.tbl { margin-left: 125px }
div.tbl1 { margin-left: 150px }
div.tbl2 { margin-left: 175px }

/* Vertical shift styles */
/*--------Space Head2 overbars  */
p.pOverbarHead2 { margin-top: 50px }
/*--------Shift Head1/Head2 titles */
p.pHead1ShiftTop { margin-top: -10px }
p.pHead2ShiftTop { margin-top: 0px }
/*--------Shift Code paras.  */
p.pCodeShiftTop { margin-top: 0px; margin-bottom: 0px }
p.pCodeShiftBottom { margin-top: 0px; margin-bottom: 0px }

/* Running banner heads */
div.pManualTitle 
  { color: #000055; font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 11px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 14px;
  margin-bottom: 0px; margin-left: 0px; margin-right: 10px; margin-top: 10px; text-align: right; text-decoration: none;
  text-indent: 0px; text-transform: none }
div.pPathTitle 
  { color: #000055; font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 10px;
  margin-left: 10px; margin-right: 75px; margin-top: 0px; text-align: left; text-decoration: none; text-indent: 0px;
  text-transform: none }

/* Characters */
b.cBold { font-weight: bold }
code.cCode { font-family: Courier New, Courier, mono }
code.cCodeBody { color: #000088; font-family: Courier New, Courier, mono }
span.cCodeBodyEmphasis { color: #000088; font-family: Courier New, Courier, mono; font-style: italic }
em.cEmphasis { font-style: italic }
span.cStrong { font-weight: bold }
span.cStrongEmphasis { font-style: italic; font-weight: bold }
sub.cSubScript { vertical-align: sub }
sub.cSubscript { vertical-align: sub }
sup.cSuperScript { vertical-align: super }
sup.cSuperscript { vertical-align: super }
u.cUnderline { text-decoration: underline }
u.cUnderlineEmphasis { font-style: italic; text-decoration: underline }

/* Paragraphs */
p.pBody 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 125px; 
  margin-right: 75px; margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pBullet1 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 150px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -25px; text-transform: none }
p.pBullet2 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 175px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -25px; text-transform: none }
p.pIndent1
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal;
  font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 150px; margin-right: 75px; margin-top: 5px;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pIndent2
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal;
  font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 175px; margin-right: 75px; margin-top: 5px;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pNumber
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; 
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 150px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -15px; text-transform: none }
p.pStep
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 150px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -18px; text-transform: none }
div.pCellBodyLeft 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 0em; margin-right: 0em;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pCellBodyCenter 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 0em; margin-right: 0em;
  margin-top: 0em; text-align: center; text-decoration: none; text-indent: 0px; text-transform: none }
div.pCellBodyRight 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 0em; margin-right: 0em;
  margin-top: 0em; text-align: right; text-decoration: none; text-indent: 0px; text-transform: none }
div.pCellBodyBullet 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 20px; margin-right: 0em;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: -20px; text-transform: none }
div.pCellBodyIndent 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 20px; margin-right: 0em;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
pre.pCode0 
  { color: #000088; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 24px; margin-bottom: 0em; margin-left: 125px; margin-right: 75px;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none } 
td pre.pCode0 { margin-left: 0px }
pre.pCode1 
  { color: #000088; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 13px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 21px; margin-bottom: 0em; margin-left: 125px; margin-right: 75px;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
td pre.pCode1 { margin-left: 0px }
pre.pCode2 
  { color: #000088; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 18px; margin-bottom: 0em; margin-left: 125px; margin-right: 75px;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none } 
td pre.pCode2 { margin-left: 0px }
pre.pCode3 
  { color: #000088; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 18px; margin-bottom: 0em; margin-left: 125px; margin-right: 75px;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
td pre.pCode3 { margin-left: 0px }
pre.pCode4 
  { color: #000088; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 10px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 125px; margin-right: 75px;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none } 
td pre.pCode4 { margin-left: 0px }
pre.pCode5 
  { color: #000088; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 9px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 50px; margin-right: 75px;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
td pre.pCode5 { margin-left: 0px }
h1.pHead1
  { color: #0000aa; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px;
  font-style: normal; font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 18px;
  margin-left: 10px; margin-right: 75px; margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px;
  text-transform: none } 
h2.pHead2 
  { color: #0000aa; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px;
  font-style: normal; font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 12px; margin-left: 10px;
  margin-right: 75px; margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h3.pHead3 
  { color: #0000aa; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 16px;
  font-style: normal; font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 8px; margin-left: 10px;
  margin-right: 75px; margin-top: 20px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h4.pHead4 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 10px; margin-right: 75px;
  margin-top: 15px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h5.pHead5
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-variant: normal;
  font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px; margin-top: 3px; 
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pLine
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 125px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pLineWide
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 75px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pNote
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 115px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -35px; text-transform: none }
p.pNoteCaution
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 125px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -50px; text-transform: none }
p.pNoteImportant
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal; 
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 140px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -65px; text-transform: none }
p.pNoteWarning
  { color: #AA0000; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 125px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -50px; text-transform: none }
h2.pTitle
  { color: #0000aa; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 25px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 25px; margin-bottom: 7px; margin-left: 150px; margin-right: 50px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: -100px; text-transform: none }
div.pTitleFigure
  { color: #004C37; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 125px; margin-right: 75px;
  margin-top: 10px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pTitleTable
  { color: #004C37; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 125px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }

/*************************** Obsolete Styles ****************************************************/
p.pBodyRelative 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px;
  font-style: normal; font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px;
  margin-right: 75px; margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pCellHeading 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 0em; margin-left: 100px; margin-right: 75px;
  margin-top: 0em; text-align: center; text-decoration: none; text-indent: 0px; text-transform: none } 
div.pCellBody 
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 100px; margin-right: 75px;
  margin-top: 0em; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h2.pHeading1
  { color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px; font-style: normal; font-variant: normal;
  font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px; margin-top: 5px;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h3.pHeading2
  { color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-variant: normal;
  font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px; margin-top: 5px;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h4.pHeading3
  { color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal;
  font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px; margin-top: 5px;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h5.pHeading4
  { color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-variant: normal;
  font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px; margin-top: 5px;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pIndented1
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal; font-variant: normal;
  font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 2.5em; margin-right: 75px; margin-top: 5px;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pIndented2
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pIndented3
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 7.5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pIndented4
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 10em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pIndented5
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 12.5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pIndentedRelative
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 2.5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h2.pTOC1
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pTOC2
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 2.5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pTOC3
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pTOC4
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 7.5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pTOC5
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 10em;
  margin-right: 75px; margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pLevel1IX
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 2.5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pLevel2IX
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pLevel3IX
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 7.5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pLevel4IX
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 10em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
p.pLevel5IX
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 12.5em; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h2.pGroupTitlesIX 
  { color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
h2.pNewHTMLPage
  { color: #003366; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 20px; font-style: normal;
  font-variant: normal; font-weight: bold; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pPopup
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal; 
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pPopupAppend
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pPreformatted
  { color: Black; font-family: Courier New, Courier, mono; font-size: 13px; font-style: normal; font-variant: normal;
  font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 100px; margin-right: 75px; margin-top: 0em;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none } 
div.pPreformattedRelative
  { color: Black; font-family: Courier New, Courier, mono; font-size: 13px; font-style: normal; font-variant: normal;
  font-weight: normal; line-height: 16px; margin-bottom: 0em; margin-left: 100px; margin-right: 75px; margin-top: 0em;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pRelatedTopic
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pSmartList1
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pSmartList2
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal; 
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pSmartList3
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pSmartList4
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pSmartList5
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: normal; font-variant: normal;
  font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px; margin-top: 5px;
  text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
div.pTableTitle
  { color: Black; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 17px; font-style: italic;
  font-variant: normal; font-weight: normal; line-height: 16px; margin-bottom: 7px; margin-left: 100px; margin-right: 75px;
  margin-top: 5px; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none }
